/* CSS Document */
body {
    padding:0;
    margin:0;
    background:white;
    font-family:Verdana,Arial,Sans;
    font-size:9pt;
    text-align:justify;
}

img {border:0;}

li {margin-bottom:1%;}

a, a:visited {
    color:blue;
}
  a:hover {
      color:red;
  }

table
 {
    border: 1px dotted red;

    font-size:7pt;
    font-family:Arial,Verdana;
    margin: 1%;
 }
 td{ vertical-align:text-top; padding:4px; border: 1px solid green; font-size:90%; }

#wrapper{
    margin:0 auto;
    width:1100px;
    min-height:900px;
    background:linen;
}

#header,#content,#footer{

}

#leftCol,#content{
    min-height:1200px;
}

/* top outer border */

/* left outer border */
#header,#footer{border-left:0px groove silver;}

/* right outer border */
#header,#bgLayer1,#footer{border-right:5px groove silver;}

/* bottom outer border */
#footer{border-bottom:3px groove silver;}

#header{
    float:left;
    width:100%;
    height:100px;
    background: url(header-studepedia-h-center.png);
}
    #header H1{
        width:100%;
        height:inherit;
        text-align:center;
        color:green;
    }


    #bgLayer1{/* pads empty space for left column */
        float:left;
        position:relative;
        background:#8BB2AF;
        width:100%;
        height:auto;
    }
        #logo{
            width:23%;
            float: left;
            height:auto;
        }
            #logo img{
                width:100%;
                height:auto;
            }

        .menuWrapper{display:none;}

        #leftCol{
            position: absolute;
            float:left;
            width:23%;
            margin: 172px 0 0 0;
        }
          ul.verticalMenu{
              margin:20px 0 0 0;
          }

          #leftCol li{
              color: white;
              margin:5px 5px 0 0px;
              font-size:9pt;
              font-weight:bold;
          }
              #leftCol li a{
                  color: white;
                  text-shadow: 1px 1px 2px black, 0 0 0em gray;
              }
              #leftCol li a:visited{
                  color: white;
                  text-shadow: 1px 1px 2px gray, 0 0 0em silver;
              }

        #content{

            float:left;
            width:77%;
            background:ivory;
        }

			#content h2{

				display: list-item;
				list-style-type: none;
				list-style-image: url(/templates/adaptive/book.png);
				/*margin: -5px 0 0 0;*/
				list-style-position: inside;
			}

        .ya-site-form__form
        {
            margin-left:-10px;
        }

            .ya-site-form__form table, .ya-site-form__form table td
            {
                border: 0;
                margin: 0 0 1% 0;
                vertical-align:text-top; padding:0; border:0; font-size:100%;
            }

        .mainPageDescription_1
        {
            font-size:200%;
        }
        .mainPageDescription_2
        {
            font-size:12pt;
        }

            #contentWrapper
            {
                padding:10px 40px;
                word-wrap: break-word;
            }

                .relatedPostsWrapper
                {
                    float:left;
                    width:180px;
                    min-height:50px;
					margin:2% 1% 0 -2%;
                    padding:0 10px 5px 10px;
					/*background: linear-gradient(to right, #8BB2AF, #FFFFF0);*/
					background: linear-gradient(to bottom, #FFFACD, #FFFFF0); /* the best fits: #FFFACD,#FFEFD5,#FAFAD2,#EEE8AA */
					border-radius:6px;
                }
                    .relatedPosts
                    {
                        font-size:7pt;
                        font-weight:bold;
                        padding:0 0 0 0;
                    }

                    .relatedPostsWrapper ol
                    {
                        padding:0 10px 10px 10px;
                        margin:0 5px 5px 5px;
                    }
                        .relatedPostsWrapper ol li
                        {
                            margin-bottom:10px;
                            font-weight:bold;
                            font-size:8pt;
                            text-align:left;
                        }

                .relatedInfo,.relatedInfo2,.relatedInfo3
                { background:ivory; }

                .relatedInfo
                {
                    z-index: 2;
                    float:left;
                    min-width:336px;
                    min-height:280px;
                    margin:15px 10px 5px 5px;
                }

                .relatedInfo212
                {
                    z-index: 2;
                   display:block;
		              padding:5px 0 10px 0;
                    /*width:100%;
                    min-height:280px;*/
                    text-align:center;
                }



                .relatedInfo1
                {
                    z-index: 2;
                    float:left;
                    min-width:300px;
                    min-height:0;
                    margin:15px 10px 5px 5px;
                    padding-right:12px;
                }

                .relatedInfo11 /* 2017-04 */
                {
                    z-index: 2;
                    float:left;
                    min-width:300px;
                    min-height:0;
                    margin:15px 10px 5px 5px;
                    padding-right:12px;
                }


                .postWrapper
                {
                    display:block;
                    float: next;
                    width:auto;
                    height:auto;
                }

                .relatedInfo2
                {
                    z-index: 2;
                    display:block;
                    /*position:static;*/
                    float:right;
                    min-width:728px;
                    min-height:90px;
                    margin:10px 10px 10px 15px;
                    padding:10px;
                    /*margin:1% 1% 1% 1.5%;*/
                }

                .relatedInfo21 /* 2017-04 */
                {
                    z-index: 2;
                    display:block;
                    /*position:static;*/
                    /*float:right;
                    min-width:728px;
                    min-height:0;*/
                    margin:10px 10px 15px 15px;
                    padding:10px;
                    /*margin:1% 1% 1% 1.5%;*/
                }

                .relatedInfo3
                {
                    z-index: 2;
                    display:block;
                    float:right;
                    min-width:728px;
                    min-height:90px;
                    margin:10px 10px 20px 15px;
                }

                .relatedInfo31 /* 2017-04 */
                {
                    z-index: 2;
                    display:block;
                    /*float:right;*/
                    /*min-width:728px;*/
                    /*min-height:0;*/
                    margin:10px 10px 20px 15px;
                }


                /*#contentWrapper .relatedPostsWrapper h3
                {

                }*/

            #content img
            {
                display:inline;
                max-width:525px;
                height:auto;
                /*border: 1px dotted gray;
                padding:3px;
                margin:10px 0 10px 10px;*/
                margin-bottom:-3px;
            }

            .postViewsStat{
                font-size:8pt;
                font-weight:bold;
                color:gray;
            }
            .page_navigation
            {
                width:100%;
                text-align:center;
                margin: 15px 0 15px 0;
            }

            #content h4:last-child{
                color:gray;
            }
            .postWrapper h5{
                cursor:pointer;
                color:blue;
                text-decoration:underline;
                font-size:11pt;
            }
            .postWrapper h5 ~ p{
                font-style:italic;
                font-size:80%;
                color: #008000;
            }
            .postWrapper h6{
                font-size:7pt;
            }

            a[name]{
            font-size:12pt;
            font-weight:bold;
            color:black;
            text-decoration:none;
            }

#footer{
    float:left;
    width:100%;
    height:50px;
    background:wheat;
}
    #copyright{
        font-size:7pt;
        width:60%;
        height:auto;
        text-align:center;
        margin:12px auto;
    }



@media only screen and (min-width: 360px)
{
    .verticalMenu a{

    }
}

@media only screen and (max-width: 720px)
{
    /* corect this article 56198*/

    #wrapper{
        margin:0 auto;
        width:100%;
        min-height:800px;
        background:linen;
    }


    #leftCol
    {
        display: none;
    }

    #logo,.menuWrapper{ position: fixed; }

    #logo
    {
        z-index: 4;
        width:20%;height:auto;
        float:left;
    }


    .menuWrapper{
        display: block;
        z-index: 4;
        width:80%;
        margin: 0 0 0 20%;
        float: left;
        background:ivory;
    }

        .menuWrapper img{
            float:right;
            width:15%;
            margin: 1%;
            cursor:pointer;
        }

        .menuWrapper span{
            display:block;
            float:left;
            font-size:300%;
            font-family:Georgia;
            font-weight:bold;
            font-style:italic;
            margin: 5% 0 0 10%;
        }

    #leftCol
    {
        z-index: 3;
        float:left;
        width:100%;
        position:absolute;
        background:#8BB2AF;

        /*filter: alpha(opacity=95);
        -khtml-opacity: 0.95;
        -moz-opacity: 0.95;
        opacity: 0.95; */

        border-radius: 10px;

        margin: 14.5% 0 0 0;
    }

    .verticalMenu a{
        font-family:Arial;
        font-size:150%;
    }

         .verticalMenu{
            text-align:justify;
        }
        .verticalMenu li{
            text-align:justify;
            display:block;
            padding:5px;
        }

    #content
    {
        float:left;
        width:100%;
        background:ivory;
        margin:13% 0 0 0;

    }

                .shareButtons
                {
                    width:65%;
                    float:left;
                    margin:0;
                    padding:3% 0 3% 35%;
                }

        #content p
        {
            float:none;
            width:100%;
            font-size:120%;
        }

        .mainPageDescription_1
        {
            font-size:200%;
        }
        .mainPageDescription_2
        {
            font-size:8pt;
        }

        #content h2
        {
            font-size:140%;
            display: list-item;
            list-style: square outside;

        }

        .relatedPostsWrapper
        {
            display: block;
                    float:none;
                    width:100%;
                    min-height:0;
                    padding:5px 5px 5px 5px;
        }
        .relatedPosts
        {
            text-decoration: underline;
            font-size:90%;
            color: blue;
            cursor:pointer;
        }
        .relatedPostsWrapper li
        {
            display: none;
        }


            .page_navigation
            {
                width:100%;
                text-align:center;
                margin: 15px 0 15px 0;
            }

                .relatedInfo1
                {
                    z-index: 2;
                    float:none;
                    min-width:320px;
                    min-height:0;
                    margin:0 10px 0 5px;
                    padding:0;
                }

                .relatedInfoHeader{
                    display: block;
                    /*min-width:320px;
                    min-height:100%;*/
                    margin:0 0 0 -1%;
                }

                .relatedInfo212
                {
                    z-index: 2;
                   display:block;
		              padding:5px 0 10px 0;
                    min-width:320px;
                    min-height:0;
                    text-align:center;
                }

                .relatedInfo2
                {
                    z-index: 2;
                    display:block;
                    float:none;
                    min-width:320px;
                    min-height:0;
                    margin:10px 10px 10px 15px;
                }
                .relatedInfo3
                {
                    z-index: 2;
                    display:block;
                    float:none;
                    min-width:320px;
                    min-height:0;
                    margin:10px 10px 20px 15px;
                }
      #footer p
      {
        font-size:70%;
      }



}

@media only screen and (min-width: 721px)
{

                .shareButtons
                {
                    width:35%;
                    float:left;
                    margin:0;
                    padding:3% 0 3% 65%;
                }

}

@media only screen and (min-width: 800px)
{

}

@media only screen and (min-width: 854px)
{

}

@media only screen and (min-width: 920px)
{

}

@media only screen and (min-width: 1024px)
{

}

@media only screen and (min-width: 1152px)
{

}

@media only screen and (min-width: 1200px)
{

}

@media only screen and (min-width: 1280px)
{

}

@media only screen and (min-width: 1400px)
{

}

@media only screen and (min-width: 1440px)
{

}

@media only screen and (min-width: 1536px)
{

}

@media only screen and (min-width: 1600px)
{

}

@media only screen and (min-width: 1920px)
{

}








@media only screen and (min-width: 320px) {

    .relatedInfo-top-adaptive {
        max-width:300px;
        max-height:250px;
    }

    .relatedInfo-main-adaptive {
        width:300px;
        height:188px;
    }

    .relatedInfo-middle-1-adaptive {
        width:300px;
        height:188px;
    }

    .relatedInfo-middle-2-adaptive {
        width:300px;
        height:188px;
    }

    .relatedInfo-middle-3-adaptive {
        width:300px;
        height:188px;
    }

    .relatedInfo-middle-4-adaptive {
        width:300px;
        height:188px;
    }


    .relatedInfo-bottom-adaptive {
        width:300px;
        height:188px;
    }


}




