body{
background: #fff;
font-family:arial;
text-align:center;
font-size: 11px;
color:#000;
}

/*#Ruler {display: none;}*/

p.pe {padding: 0 20px 10px 0; font-size: 14px; text-align: justify; text-indent:20px;}
.pe img {padding: 10px;}
p.bl {padding: 0 0 10px; font-size: 14px; font-weight: bold; margin-left: 20pt;}
h1.titl {color:#3095C5; padding: 0 0 15px; font-size: 18px;}
h2.titl {color:#3095C5; padding: 0 0 15px; font-size: 16px;}
ul {padding: 0 0 10px;}
ul li {color:#555; padding: 0 0 5px 12px; background: url('../images/dot.gif') left 7px no-repeat;}
table {border-collapse: collapse; margin: 1px 0 25px 1px;}
table th, table td {padding: 2px; font-size: 11px; vertical-align: top;} 
table th {background: #f2f2f2;}  


/*?=globals
------------------- */
*{margin:0;padding:0;}
img{border:0;}
table.layout{border-collapse:collapse;empty-cells:show;width:100%;}
table.layout_nw{border-collapse:collapse;empty-cells:show;}
table.layout_nw td {padding: 0; vertical-align: middle;}

.clear{clear:both;height:0;overflow:hidden;}

a {color:#3095C5;}
a:hover{color:#C30101;}

ul, ol {list-style: none;}
.hidden {visibility: hidden;}

#Ruler {display: none;}

/*?=wrap
------------------- */
.wrap {
font-size: 14px; 
color:#000; 
min-width: 1000px; 
max-width: 1500px;
width: 100%;
margin: 0 auto;
text-align: left;
}

/*?=top
------------------- */
.top {margin: 0 23px 0 25px; padding: 24px 0 7px; overflow: hidden;}

.search {float: right;}

.top_menu {padding: 0 0 0 7px; margin: -7px 0 0; position: relative; z-index:1;}

.top_menu ul {overflow: hidden; padding: 0;}
.top_menu ul li {float: left; padding: 0 2px 0 0; background: none;}
.top_menu ul li span {float: left; height: 29px; background: #68B2D5 url('../images/cells/small/blue/l.gif') left top no-repeat;}
.top_menu ul li span a {float: left; padding: 12px 12px 0 16px; height: 17px; background: url('../images/cells/small/blue/r.gif') right top no-repeat; color:#fff; text-decoration: none;}
.top_menu ul li span a:hover {color:#fff; }
/*
.top_menu ul li.selected span {float: left; height: 29px; background: #c33 url('../images/cells/small/grey/l.gif') left top no-repeat;}
.top_menu ul li.selected span a {float: left; padding: 12px 12px 0 16px; height: 17px; background: url('../images/cells/small/grey/r.gif') right top no-repeat; color:#fff; text-decoration: none;}
*/

.search_name {color:#777; font-weight: bold; padding: 0 7px 0 0; white-space: nowrap;}
.itxt {border: solid #9E9D9D; border-width: 1px 0; width: 100%; font-size: 12px; font-family: arial; color:#999; padding: 2px 0 3px;}

.search_place {float: left; width: 55%; padding: 7px 0 0;}
.search_place input, .search_place label {vertical-align: middle;}

.search_exp {float: right; width: 45%; padding: 7px 0 0; text-align: right;}

/*?=header
------------------- */
.header {height: 102px; background: #E4E4E4 url('../images/header/l.gif') left top no-repeat; margin: 0 25px;}
.header .l {height: 102px; background: url('../images/header/r.gif') right top no-repeat; position: relative;}
.header .r {margin: 0 0 0 360px; position: relative; height: 102px;}

.logo {position: absolute; left: 30px; top: 10px;}

.langs {position: absolute; left: 90px; top: -21px; width: 200px; overflow: hidden;}
.langs ul {overflow: hidden; padding: 0;}
.langs ul li {float: left; padding: 0 9px 0 0; background: none;}
.langs ul li img {vertical-align: middle;}

.header_menu {position: absolute; right: 3px; bottom: 0; height: 33px; width: 100%; background: #c33 url('../images/menu/red/l.gif') left top no-repeat;}
.header_menu ul {height: 33px; overflow: hidden; background: url('../images/menu/red/r.gif') right top no-repeat; padding: 0;}
.header_menu ul li {float: left; width: 20%; text-align: center; height: 33px; background: url('../images/menu/red/sep.gif') left top no-repeat; margin: 0 0 0 -2px; padding: 0;}
.header_menu ul li a, .header_menu ul li span {display: block; font-size: 12px; color:#fff; padding: 8px 0 0;}
.header_menu ul li a:hover {color:#fff;}
.header_menu ul li span {font-weight: bold;}

.header_ban {position: absolute; right: 0px; top: 5px; width: 100%; text-align: center;}
.header_ban img {vertical-align: middle;}

/*?=content
------------------- */
.content:after {font-size:0;display:block;visibility:hidden;clear:both;height:0;content:".";line-height:0;}
.content {padding: 28px 0 0; position: relative;}

.left {width: 195px; float: left; padding: 0 0 350px;}
.right {margin: 0 25px 0 195px;}

.right_o {width: 100%; overflow: hidden;}
.yandex {padding: 0 0 20px;}
.yandex img {vertical-align: middle;}

.ad {overflow: hidden; padding: 0 0 0 28px;}
.ad div {margin: -20px 0 0;}
.ad div img {margin: 20px 0 0; vertical-align: middle;}

.block {background: url('../images/block/top.gif') left top no-repeat; width: 168px; margin: 0 0 20px;}
.block_b {background: url('../images/block/bottom.gif') left bottom no-repeat; min-height: 200px; height: auto !important; height: 200px;}

.block2 {background: url('../images/block/top2.gif') left top no-repeat; width: 168px; margin: 0 0 20px;}
.block2_b {background: url('../images/block/bottom2.gif') left bottom no-repeat; min-height: 95px; height: auto !important; height: 95px;}


.cell {overflow: hidden;}
.col {float: left; width: 49%;}

/*?=headings
------------------- */
.heading {margin: 0 20px 0 0;}
.heading span {display: block; color:#fff; font-size:16px; padding: 11px 32px 0; font-weight: bold; overflow: hidden;}

.heading2 {font-size: 1px; height: 9px; margin: 0 20px 10px 0;}
.heading2 span {display: block; font-size: 1px; height: 9px;}

.heading_red {background: #C30101 url('../images/cells/big/red/l.gif') left top no-repeat;}
.heading_red span {background: url('../images/cells/big/red/r.gif') right top no-repeat;}

.heading_blue {background: #3095C5 url('../images/cells/big/blue/l.gif') left top no-repeat;}
.heading_blue span {background: url('../images/cells/big/blue/r.gif') right top no-repeat;}

.heading_grey {background: #727374 url('../images/cells/big/grey/l.gif') left top no-repeat;}
.heading_grey span {background: url('../images/cells/big/grey/r.gif') right top no-repeat;}

.heading2_red {background: #C30101 url('../images/cells/big/red/l2.gif') left top no-repeat;}
.heading2_red span {background: url('../images/cells/big/red/r2.gif') right top no-repeat;}

.heading2_blue {background: #3095C5 url('../images/cells/big/blue/l2.gif') left top no-repeat;}
.heading2_blue span {background: url('../images/cells/big/blue/r2.gif') right top no-repeat;}

.heading2_grey {background: #727374 url('../images/cells/big/grey/l2.gif') left top no-repeat;}
.heading2_grey span {background: url('../images/cells/big/grey/r2.gif') right top no-repeat;}

/*?=list1
------------------- */
.list1 {padding: 0 20px 0 0;}
.list1 li {padding: 0 0 18px; background: none;}

.link {font-size: 12px;}
.blink {font-size: 12px; font-weight: bold;}

.date {font-weight: bold;}
.time {}

.rlink {display: block; text-align: right; color:#777;}
.rlink a {color:#777;}
.rlink a:hover {color:#000;}

.l_and_r {overflow: hidden; padding: 0 0 4px;}
.l_and_r .l {float: left; width: 60%;}
.l_and_r .r {float: right; width: 39%;}

/*?=banner700x90
------------------- */
.banner700x90 {overflow: hidden; text-align: center; padding: 0 0 18px;}
.banner700x90 img {vertical-align: middle;}

.image {float: left; width: 115px; height: 63px; background: url('../images/logos/substrate.gif') left top no-repeat;}
.image img {vertical-align: middle; margin: 11px 0 0 1px;}
.with_image li {overflow: hidden; padding: 0 0 22px; background: none;}
.with_image p {padding-left: 115px;}


.all_news {padding: 0 22px 22px 0; overflow: hidden;}
.all_news span {display: block; float: right; height: 29px; width: 120px; text-align: center; background: #333 url('../images/cells/small/grey/l.gif') left top no-repeat;}
.all_news span a {color:#fff; text-decoration: none;  cursor: pointer; display: block; padding: 12px 18px 0 25px; height: 17px; background: url('../images/cells/small/grey/r.gif') right top no-repeat;}
.all_news a:hover {color:#fff;}

.all_search {padding: 0 22px 22px 0; overflow: hidden;}
.all_search span {display: block; float: left; height: 29px; width: 240px; text-align: center; background: #333 url('../images/cells/small/red/l.gif') left top no-repeat;}
.all_search span a {color:#fff; text-decoration: none;  cursor: pointer; display: block; padding: 12px 18px 0 25px; height: 17px; background: url('../images/cells/small/red/r.gif') right top no-repeat;}
.all_search a:hover {color:#fff;}

/*?=textad
------------------- */
.textad {position: absolute; bottom: 22px; left: 0; width: 195px; height: 300px; overflow: hidden;}
.textad p {padding: 0 28px; font-size: 12px;}
.textad a {text-decoration: none;}

/*?=bottom_menu
------------------- */
.bottom_menu_cont {border: solid #3095C5; border-width: 0 0 1px; margin: 0 25px 15px;}
.bottom_menu_parent {margin: 0 326px 0 0; position: relative; height: 34px;}
.bottom_menu {position: absolute; left: 0px; bottom: -1px; height: 33px; width: 100%; background: #3095C5 url('../images/menu/blue/l.gif') left top no-repeat;}
.bottom_menu ul {height: 33px; overflow: hidden; background: url('../images/menu/blue/r.gif') right top no-repeat; padding: 0;}
.bottom_menu ul li {padding: 0; float: left; width: 20%; text-align: center; height: 33px; background: url('../images/menu/blue/sep.gif') left top no-repeat; margin: 0 0 0 -2px;}
.bottom_menu ul li a, .bottom_menu ul li span {display: block; font-size: 12px; color:#fff; padding: 8px 0 5px;}
.bottom_menu ul li a:hover {color:#fff;}
.bottom_menu ul li span {font-weight: bold;}

/*?=footer
------------------- */
.footer {margin: 0 25px; border: solid #AD0000; border-width: 0 0 6px; overflow: hidden; padding: 0 0 15px;}
.counters {float: left; width: 38%;}
.counters p {padding: 0 6px 6px;}
.counters img {margin: 11px 5px 0; vertical-align: middle;}

.copy {font-size: 12px; float: right; width: 60%; text-align: right;}
.copy ul {overflow: hidden; padding: 0 0 4px;}
.copy ul li {padding: 0; background: none; display: inline; padding: 0 7px; border-right: 1px solid #000; margin: 0 -2px 0 0;}
.copy p {padding: 0 6px 3px;}
.copy p span {color:#AD0000; font-size: 14px; font-weight: bold;}




/*?=login
------------------- */
.login {padding: 15px 0 15px 28px; color:#fff;}
.auth {padding: 62px 0 62px 28px;}

.login p {padding-bottom: 8px;}
.login_period {overflow: hidden;}
.login_period input {float: left; margin: 2px 0 0;}
.login_period label {display: block; padding-left: 20px;}

.login span {font-size: 12px;}
.login a {color:#fff;}
.login a:hover {color:#D4F1FF;}

.login_user, .login_password {border: 0; width: 110px; padding: 2px 10px 3px; font-family: arial; font-size: 12px; color:#777;}

.login_user {background: url('../images/block/form_elements/input1.gif') left top no-repeat; }
.login_password {background: url('../images/block/form_elements/input2.gif') left top no-repeat;}

.login_button {position: relative; left: 55px; border: 0; background: url('../images/block/form_elements/button.gif') left top no-repeat; width: 79px; height: 27px; color:#fff; font-family: arial; font-size: 11px; cursor: pointer;}
.auth .login_user_name {font-size: 14px; font-weight: bold;}

/*?=text
------------------- */
/*.text {padding: 0 10px;}
.text p.pe {padding: 0 0 10px; font-size: 12px;}
.text p.bl {padding: 0 0 10px; font-size: 12px; font-weight: bold;}
.text h1.titl {color:#3095C5; padding: 0 0 15px; font-size: 18px;}
.text h2.titl {color:#3095C5; padding: 0 0 15px; font-size: 16px;}
.text ul {padding: 0 0 10px;}
.text ul li {color:#555; padding: 0 0 5px 12px; font-size: 12px; background: url('../images/dot.gif') left 7px no-repeat;}
.text table {width: 99%;  border-collapse: collapse; margin: 1px 0 5px 1px;}
.text table th, .text table td {padding: 7px; font-size: 11px; border: 1px solid #999; vertical-align: top;}
.text table th {background: #f2f2f2;}

.text table.noborder {border-top: 2px solid #999;}
.text table.noborder td {font-size: 12px; vertical-align: top; border: 0;}
*/

.table_cont {overflow-x: auto; width: 100%; height: auto; margin: 0 0 15px; //padding: 0 0 20px; //overflow-y:hidden;} 


ul.left_list {margin: 0 0 0 10px; padding: 22px 0 17px 0px;}
ul.left_list li {color:#555; padding: 0 0 5px 12px; font-size: 12px; background: url('../images/dot2.gif') left 5px no-repeat;}
ul.left_list li .selected  {color:#555; font-weight: bold; text-decoration: none;}
ul.left_list li .selected:hover  {color:#555; font-weight: bold; text-decoration: none;}



.div_p {padding: 0 0 20px; text-align: center;}
ul.clist {padding: 10px 7px;}
ul.clist li {text-align: left; font-size: 12px; color:#555; padding: 0 0 1px 12px; background: url('../images/dot2.gif') left 7px no-repeat;}
table.div {border-collapse: collapse; margin: 0 auto 5px; width: 90%; text-align: center;}
table.div td {width: 25%; padding: 2px; border: 1px dotted #9E9D9D; vertical-align: top;} 
table.div td p {font-size: 12px; padding: 5px; background:#F0F0EE;}
  
ul.speedbar2 {margin: 0; padding: 0 0 20px 0px; text-align: right; }
ul.speedbar2 li {font-size: 12px; display: inline; color:#555; padding: 0 15px 5px 12px; background: url('../images/dot2.gif') left 5px no-repeat;}
ul.speedbar2 li .selected  {color:#555; font-weight: bold; text-decoration: none;}
ul.speedbar2 li .selected:hover  {color:#555; font-weight: bold; text-decoration: none;}

.tables {font-size: 12px; padding: 0 20px;}
.phone {font-weight: bold; color:#C30101;}
.contact {padding: 0 0 7px;}
.tables .data {width: 100%; border: 1px dotted #9E9D9D; vertical-align: top;}
.tables .data th {text-align: center; background:#fff; font-weight: normal; padding: 4px; border: 1px dotted #9E9D9D; vertical-align: top; font-size: 12px;}
.tables .data td {padding: 2px 9px 2px; border:  dotted #9E9D9D;  border-width: 0 1px; vertical-align: top; font-size: 12px;} 
.tables .data th p {font-size: 12px; padding: 5px; background:#F0F0EE;}
.tables .data ul.clist {padding: 0px 7px;}

.tables .data span {color:#3095C5;}
.tables .data small {font-size: 11px;}

.tables .nobrd td {color:#3095C5; padding: 0px 5px 0px 0; border: 0; vertical-align: middle;}
.tables .nobrd td input, .tables .nobrd td select {width: 150px; font-size: 12px; font-family: tahoma; color:#333;}


.tables .sponsor td {
    background-color:#f0f8fb;
}


.tooltip {
	display: none;        /* required */
	position: absolute;   /* required */
	padding: 10px;
	border: 1px solid black;
	background-color: white;
}

.help {
  cursor: pointer;
}