/* General Style */
a:link {text-decoration:none; color:#CCFF00;}
a:active {text-decoration:none; color:#CCFF00;}
a:visited {text-decoration:none; color:#CCFF00;}
a:hover {text-decoration:none; color:#FFFFFF;}

td, body {cursor:url('http://www.tec.org.ru/pics/cursor25.cur');font-family:verdana,arial,helvetica; font-size:8pt; color:#C2C2C2}
form {padding:0px;margin:0px;}
input,textarea,select {vertical-align:middle; font-size:8pt; font-family:verdana,arial,helvetica;}
.copy {font-size:7pt;}

a.noun:link {text-decoration:none; color:#C2C2C2}
a.noun:active {text-decoration:none; color:#C2C2C2}
a.noun:visited {text-decoration:none; color:#C2C2C2}
a.noun:hover {text-decoration:non; color:#FFFFFF}
.mframe1 {padding:2 10 30 10px;}
hr {color:#E6E8EA;height:1px;}
label {cursor:pointer;cursor:hand}

.blocktitle {font-family:Verdana,Sans-Serif;color:#FFFFFF;font-size:13px;font-weight:bold; padding-left:22px; background: url('http://src.ucoz.ru/t/561/10.gif') no-repeat 5px 2px;}

.menut0 {background:#585858;border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;}
.menut {padding:2 3 3 15px;background:#555555;border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;border-bottom:4px solid #FFFFFF;}
.mframe {padding:2 0 30 30px;}
.bannerTable {width:468;height:60;background:#555555;border-top:1px solid #FFFFFF;border-left:1px solid #FFFFFF;border-bottom:4px solid #FFFFFF;}

.menu1 {font-weight:bold;font-size:8pt;font-family:Arial,Sans-Serif;}
a.menu1:link {text-decoration:none; color:#CCFF00}
a.menu1:active {text-decoration:none; color:#CCFF00}
a.menu1:visited {text-decoration:none; color:#CCFF00}
a.menu1:hover {text-decoration:none; color:#FFFFFF}
/* ------------- */

/* Menus */
ul.uz {list-style: none; margin: 0 0 0 0; padding-left: 0px;}
li.menus {margin: 0; padding: 0 0 0 15px; background: url('http://src.ucoz.ru/t/561/11.gif') no-repeat 0px 2px; margin-bottom: .6em;}
/* ----- */

/* Main Menu */
.m {font-weight:normal;}
a.m:link {text-decoration:none; color:#C2C2C2}
a.m:active {text-decoration:none; color:#C2C2C2}
a.m:visited {text-decoration:none; color:#C2C2C2}
a.m:hover {text-decoration:none; color:#CCFF00}

.ma {font-weight:bold;}
a.ma:link {text-decoration:none; color:#CCFF00}
a.ma:visited {text-decoration:none; color:#CCFF00}
a.ma:hover {text-decoration:underline; color:#CCFF00}
li.m {margin: 0; padding: 0 0 0 15px; background: url('http://src.ucoz.ru/t/561/11.gif') no-repeat 0px 2px; margin-bottom: .6em;}
/* --------- */

/* Module Part Menu */
.catsTd {padding: 0 0 6px 15px; background: url('http://src.ucoz.ru/t/561/11.gif') no-repeat 0px 2px;}
.catNumData {font-size:7pt;color:#D8D5D5;}
.catDescr {font-size:7pt; padding-left:10px;}
a.catName:link {text-decoration:none; color:#C2C2C2;}
a.catName:visited {text-decoration:none; color:#C2C2C2;}
a.catName:hover {text-decoration:none; color:#CCFF00;}
a.catName:active {text-decoration:none; color:#C2C2C2;}
a.catNameActive:link {text-decoration:none; color:#CCFF00;}
a.catNameActive:visited {text-decoration:none; color:#CCFF00;}
a.catNameActive:hover {text-decoration:underline; color:#CCFF00;}
a.catNameActive:active {text-decoration:none; color:#CCFF00;}
/* ----------------- */

/* Entries Style */
.eBlock {}
.eTitle {font-family:Verdana,Arial,Sans-Serif;font-size:13px;font-weight:bold;color:#FFFFFF; padding: 0 0 0 18px; background: url('http://src.ucoz.ru/t/561/12.gif') no-repeat 0px 1px;}
.eTitle a:link {text-decoration:none; color:#CCFF00;}
.eTitle a:visited {text-decoration:none; color:#CCFF00;}
.eTitle a:hover {text-decoration:none; color:#FFFFFF;}
.eTitle a:active {text-decoration:none; color:#CCFF00;}

.eText {text-align:justify; padding:5px;border-top:1px dashed #EFEFEF;}

.eDetails {border-top:1px dashed #444444;border-bottom:1px solid #282828;color:#898989;padding-bottom:5px;padding-top:3px;text-align:left;font-size:7pt;}
.eDetails1 {border-top:1px dashed #444444;border-bottom:1px solid #282828;color:#898989;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;}
.eDetails2 {border-top:1px dashed #444444;color:#898989;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;}

.eRating {font-size:7pt;}

.eAttach {margin: 16px 0 0 0; padding: 0 0 0 15px; background: url('http://src.ucoz.ru/t/561/13.gif') no-repeat 0px 0px;}
/* --------------- */

/* Entry Manage Table */
.manTable {border-top:1px solid #FFFFFF;border-left:1px solid #FFFFFF;border-bottom:4px solid #FFFFFF;background:#555555;}
.manTdError {color:#FF0000;}
.manTd1 {}
.manTd2 {}
.manTd3 {}
.manTdSep {}
.manHr {}
.manTdBrief {}
.manTdText {}
.manTdFiles {}
.manFlFile {}
.manTdBut {}
.manFlSbm {}
.manFlRst {}
.manFlCnt {}
/* ------------------ */

/* Comments Style */
.cAnswer {color:#F4F5F7;padding-left:15px;padding-top:4px;font-style:italic;}

.cBlock1 {background:#282828; border:1px solid #444444;color:#A1A1A1;}
.cBlock2 {background:#282828; border:1px solid #444444;color:#A1A1A1;}
/* -------------- */

/* Comments Form Style */
.commTable {}
.commTd1 {color:#A1A1A1;font-weight:bold;padding-left:5px;}
.commTd2 {padding-bottom:2px;}
.commFl {width:100%;color:#B7B7B7;background:#282828; border:1px solid #444444;}
.smiles {}
.commReg {padding: 10 0 10 0px; text-align:center;}
.commError {color:#FF0000;}
.securityCode {color:#B7B7B7;background:#282828; border:1px solid #444444;}
/* ------------------- */

/* News/Blog Archive Menu */
.archLi {padding: 0 0 3px 10px; background: url('http://src.ucoz.ru/t/561/14.gif') no-repeat 0px 4px;}
.archActive {color:#FFFFFF;}
a.archLink:link {text-decoration:underline; color:#FFFFFF;}
a.archLink:visited {text-decoration:underline; color:#FFFFFF;}
a.archLink:hover {text-decoration:none; color:#D8D5D5;}
a.archLink:active {text-decoration:none; color:#D8D5D5;}
/* ---------------------- */

/* News/Blog Archive Style */
.archiveCalendars {text-align:center;color:#CACBCC;}
.archiveDateTitle {font-weight:bold;color:#FFFFFF;padding-top:15px;}
.archEntryHr {width:250px;color:#444444;}
.archiveeTitle li {margin-left: 15px; padding: 0 0 0 15px; background: url('http://src.ucoz.ru/t/561/15.gif') no-repeat 0px 2px; margin-bottom: .6em;}
.archiveEntryTime {width:65px;font-style:italic;}
.archiveEntryComms {font-size:9px;color:#C3C3C3;}
a.archiveDateTitleLink:link {text-decoration:none; color:#FFFFFF}
a.archiveDateTitleLink:visited {text-decoration:none; color:#FFFFFF}
a.archiveDateTitleLink:hover {text-decoration:underline; color:#FFFFFF}
a.archiveDateTitleLink:active {text-decoration:underline; color:#FFFFFF}
.archiveNoEntry {text-align:center;color:#CACBCC;}
/* ------------------------ */

/* News/Blog Calendar Style */
.calMonth {}
.calWday {color:#B7B7B7; background:#282828; width:18px;}
.calWdaySe {color:#B7B7B7; background:#111111; width:18px;}
.calWdaySu {color:#B7B7B7; background:#111111; width:18px; font-weight:bold;}
.calMday {color:#C2C2C2;border:1px solid #444444;}
.calMdayA {color:#323232;background:#CCFF00;border:1px solid #282828;font-weight:bold;}
.calMdayIs {color:#282828;background:#444444;font-weight:bold;border:1px solid #282828;}
.calMdayIsA {color:#282828;background:#444444;font-weight:bold;border:1px solid #CCFF00;}
a.calMonthLink:link,a.calMdayLink:link {text-decoration:none; color:#C2C2C2;}
a.calMonthLink:visited,a.calMdayLink:visited {text-decoration:none; color:#C2C2C2;}
a.calMonthLink:hover,a.calMdayLink:hover {text-decoration:underline; color:#C2C2C2;}
a.calMonthLink:active,a.calMdayLink:active {text-decoration:underline; color:#C2C2C2;}
/* ------------------------ */

/* Poll styles */
.pollBut {width:110px;}

.pollBody {padding:7px; margin:0px; background:#737373}
.textResults {background:#FFFFFF}
.textResultsTd {background:#555555}

.pollNow {background:#FFFFFF}
.pollNowTd {background:#555555}

.totalVotesTable {}
.totalVotesTd {background:#555555}
/* ---------- */

/* User Group Marks */
a.groupModer:link,a.groupModer:visited,a.groupModer:hover {color:yellow;}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover {color:pink;}
a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover {color:#99CCFF;}
/* ---------------- */

/* Other Styles */
.replaceTable {background:#323232;height:100px;width:300px;border:1px solid #555555;}
.replaceBody {background:#373737;}

.legendTd {font-size:7pt;}
/* ------------ */

/* ===== forum Start ===== */

/* General forum Table View */
.gTable {background:#444444;border-bottom:1px solid #CCFF00;}
.gTableTop {padding:2px;height:22px; background: #282828;font-family:Verdana,Sans-Serif;color:#FFFFFF;font-size:13px;font-weight:bold; padding-left:22px;}
.gTableSubTop {padding:2px;background:#323232;height:20px;font-size:10px;}
.gTableBody {padding:2px;background:#555555;}
.gTableBody1 {padding:2px;background:#555555;}
.gTableBottom {padding:2px;background:#555555;}
.gTableLeft {padding:2px;background:#555555;font-weight:bold;color:#FFFFFF}
.gTableRight {padding:2px;background:#555555;color:#FFFFFF;}
.gTableError {padding:2px;background:#555555;color:#FF0000;}
/* ------------------------ */

/* Forums Styles */
.forumNameTd,.forumLastPostTd {padding:2px;background:#555555}
.forumIcoTd,.forumThreadTd,.forumPostTd {padding:2px;background:#555555}
.forumLastPostTd,.forumArchive {padding:2px;font-size:7pt;}

a.catLink:link {text-decoration:none; color:#FFFFFF;}
a.catLink:visited {text-decoration:none; color:#FFFFFF;}
a.catLink:hover {text-decoration:underline; color:#FFFFFF;}
a.catLink:active {text-decoration:none; color:#FFFFFF;}

.lastPostGuest,.lastPostUser,.threadAuthor {font-weight:bold}
.archivedForum{font-size:7pt;color:#FF0000;font-weight:bold;}
/* ------------- */

/* forum Titles & other */
.forum {font-weight:bold;font-size:9pt;}
.forumDescr,.forumModer {color:#CCCCCC;font-size:7pt;}
.forumViewed {font-size:9px;}
a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {text-decoration:underline; color:#FFFFFF;}
a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {text-decoration:underline; color:#FFFFFF;}
a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {text-decoration:none; color:#CCCCCC;}
a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {text-decoration:underline; color:#E1E1E1;}
/* -------------------- */

/* forum Navigation Bar */
.forumNamesBar {padding-bottom:7px;font-weight:bold;font-size:7pt;}
.forumBarKw {font-weight:normal;}
a.forumBarA:link {text-decoration:none; color:#FFFFFF;}
a.forumBarA:visited {text-decoration:none; color:#FFFFFF;}
a.forumBarA:hover {text-decoration:underline; color:#FFFFFF;}
a.forumBarA:active {text-decoration:underline; color:#FFFFFF;}
/* -------------------- */

/* forum Fast Navigation Blocks */
.fastNav,.fastSearch,.fastLoginForm {font-size:7pt;}
/* ---------------------------- */

/* forum Fast Navigation Menu */
.fastNavMain {background:#585858;color:#FFFFFF;}
.fastNavCat {background:#EEEEF0;}
.fastNavCatA {background:#EEEEF0;color:#0000FF}
.fastNavForumA {color:#0000FF}
/* -------------------------- */

/* forum Page switches */
.pagesInfo {background:#323232;padding-right:10px;font-size:7pt;}
.switches {background:#444444;}
.switch {background:#323232;width:15px;font-size:7pt;}
.switchActive {background:#282828;font-weight:bold;color:#CCFF00;width:15px}
a.switchDigit:link,a.switchBack:link,a.switchNext:link {text-decoration:none; color:#D8D5D5;}
a.switchDigit:visited,a.switchBack:visited,a.switchNext:visited {text-decoration:none; color:#D8D5D5;}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover {text-decoration:underline; color:#FFFFFF;}
a.switchDigit:active,a.switchBack:active,a.switchNext:active {text-decoration:underline; color:#FFFFFF;}
/* ------------------- */

/* forum Threads Style */
.threadNametd,.threadAuthTd,.threadLastPostTd {padding:2px;padding:2px;background:#555555}
.threadIcoTd,.threadPostTd,.threadViewTd {padding:2px;background:#555555}
.threadLastPostTd {padding:2px;font-size:7pt;}
.threadDescr {color:#CCCCCC;font-size:7pt;}
.threadNoticeLink {font-weight:bold;}
.threadsType {padding:2px;background:#464646;height:20px;font-weight:bold;font-size:7pt;color:#FFFFFF;padding-left:40px;}
.threadsDetails {padding:2px;background:#464646;height:20px;color:#FEFEFE;}
.forumOnlineBar {padding:2px;background:#282828;height:20px;color:#FEFEFE;}

a.threadPinnedLink:link {text-decoration:none; color:#FFFFFF;}
a.threadPinnedLink:visited {text-decoration:none; color:#FFFFFF;}
a.threadPinnedLink:hover {text-decoration:underline; color:#FFFFFF;}
a.threadPinnedLink:active {text-decoration:underline; color:#FFFFFF;}

.threadPinnedLink,.threadLink {font-weight:bold;}
a.threadLink:link {text-decoration:underline; color:#FFFFFF;}
a.threadLink:visited {text-decoration:underline; color:#FFFFFF;}
a.threadLink:hover {text-decoration:underline; color:#E1E1E1;}
a.threadLink:active {text-decoration:underline; color:#E1E1E1;}

.postpSwithces {font-size:7pt;}
.thDescr {font-weight:normal;}
.threadFrmBlock {font-size:7pt;text-align:right;}
/* ------------------- */

/* Posts View */
.postTable {}
.postPoll {background:#555555;text-align:center;}
.postFirst {background:#555555;border-bottom:1px solid silver;}
.postRest1 {background:#555555;}
.postRest2 {background:#555555;}
.postSeparator {height:2px;background:#CCFF00;}

.postTdTop {background:#323232;}
.postBottom {background:#373737;height:20px;}
.postUser {font-weight:bold;}
.postTdInfo {background:#444444;text-align:center;padding:5px;}
.postRankName {margin-top:5px;}
.postRankIco {margin-bottom:5px;margin-bottom:5px;}
.reputation {margin-top:5px;}
.signatureHr {margin-top:20px;color:#CCCCCC;}
.posttdMessage {background:#555555;padding:5px;}

.postPoll {padding:5px;}
.pollQuestion {text-align:center;font-weight:bold;} 
.pollButtons,.pollTotal {text-align:center;}
.pollSubmitBut,.pollreSultsBut {width:140px;font-size:7pt;}
.pollSubmit {font-weight:bold;}
.pollEnd {text-align:center;height:30px;}

.codeMessage {background:#8D8D8D;font-size:9px;}
.quoteMessage {background:#8D8D8D;font-size:9px;}

.signatureView {font-size:7pt;}
.edited {padding-top:30px;font-size:7pt;text-align:right;color:#CCCCCC;}
.editedBy {font-weight:bold;font-size:8pt;}

.statusBlock {padding-top:3px;}
.statusOnline {color:#FFFF00;}
.statusOffline {color:#FFFFFF;}
/* ---------- */

/* forum AllInOne Fast Add */
.newThreadBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newPollBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newThreadItem {padding: 0 0 0 8px; background: url('http://src.ucoz.ru/t/561/17.gif') no-repeat 0px 4px;}
.newPollItem {padding: 0 0 0 8px; background: url('http://src.ucoz.ru/t/561/17.gif') no-repeat 0px 4px;}
/* ----------------------- */

/* Post Form */
.queryField {background:#FFFFFF;color:#000000;border:1px solid #000000;}
.pollBut, .loginButton, .searchSbmFl, .commSbmFl, .signButton {font-size:7pt;background:#CCFF00;color:#323232;border:none;}

.codeButtons {font-size:7pt;background:#CCFF00;color:#323232;border:none;}
.codeCloseAll {font-size:7pt;background:#CCFF00;color:#323232;font-weight:bold;border:none;}
.postNameFl,.postDescrFl {background:#3F3F3F;border:1px solid #323232;width:400px}
.postPollFl,.postQuestionFl {background:#3F3F3F;border:1px solid #323232;width:400px}
.postResultFl {background:#3F3F3F;border:1px solid #323232;width:50px}
.postAnswerFl {background:#3F3F3F;border:1px solid #323232;width:300px}
.postTextFl {background:#AFAFAF;border:1px solid #323232;width:550px;height:150px}
.postUserFl {background:#AFAFAF;border:1px solid #323232;width:300px}

.pollHelp {font-weight:normal;font-size:7pt;padding-top:3px;}
.smilesPart {padding-top:5px;text-align:center}
/* --------- */

/* ====== forum End ====== */

/* KSV-style */
p {text-indent:3em; text-align:justify;}
table.top-20 {padding-top: 20px;}
.#clock { font-size: 10pt; color: #C6FF00; }
input {border: none; buttonColor: red;}