.title1 .title:before {line-height: 1.3em;font-size: 0.8em;-moz-transform: rotate(90deg) scale(1.1, 1.1);transform: rotate(90deg) scale(1.1, 1.1);}

.component-content h2:before {line-height: 1.4em;font-size: 0.5em;-moz-transform: rotate(90deg) scale(1.1, 1.1);transform: rotate(90deg) scale(1.1, 1.1);}