.title { background-color: #FFFFFF; border: 0px; width: 100% }

body {background-color: #FFFFFF}
.announce { background-color: #DDDDDD; width: 100%; margin-bottom: 8px; } 

.innertable td { font-size: 12px; font-family: Verdana; color: #000066; background-color: white; list-style-type: circle}
tr.tablehead td, td.tablehead { font-family: Verdana, Verdana; font-weight: bold; font-size: 12px; color: #000000; background-color: #DDDDDD; text-align: center; padding-top: 4px; padding-bottom: 4px; }
td.category { font-family: Verdana, Verdana; font-weight: bold; font-size: 11px; color: #3A4F6C; background-color: #DDDDDD; text-align: center; padding: 4px; } 
td.forumentry { font-family: Verdana; font-weight: normal; font-size: 12px; color: #000000; background-color: #DDDDDD; text-align: center; } 

.copyright { font-size: 9px; font-family: Verdana; color: #000066; background-color: white; text-align: center; font-style: normal }

H1 { font-family: Verdana; font-weight: bolder; color: gray; text-align: center; ; font-size: 20px; margin-top: 0px; margin-bottom: 0px}

H2 { font-size: 14px; font-family: Verdana; color: black; text-align: right; margin-bottom: 0px }

H3 { font-size: 14px; font-family: Verdana; text-align: left; margin-top: 0px; margin-bottom: 0px; font-weight : bold; color: #660000 }

H4 { font-size: 12px; font-family: Verdana; color: #000066; text-align: left; margin-top: 2px; margin-bottom: 0px; font-weight : normal; padding-bottom: 0px }

H5 { font-size: 14px; font-family: Verdana; text-align: left; margin-top: 0px; margin-bottom: 0px; padding-top: 0px}

H6 { font-size: 12px; font-family: Verdana, Helvetica, sans-serif; font-weight: bolder; color: #003399; margin-top: 0px; margin-bottom: 0px; padding-top: 0px}

.search-row {  height: 50px; width: 400px;}

.actions { font-size: 10px; font-family: Verdana; font-weight: bold; text-align: left; list-style-type: circle;}

.activepage { font-family: Verdana, Verdana; font-weight: bold; font-size: 12px; color: #696969; background-color: #DDDDDD; text-align: center; }

.locations { clear: both; text-align: left; border: 1px #000066 dotted; width: 100%; margin-bottom: 16px}

.descr { font-size: 10px; font-family: Verdana; color: #000033; }

.username { font-weight: bolder; color: #CC1F1F; }

.pages { font-weight: lighter; color: #000066; float: right}

.sort { font-size: 10px; font-family: Verdana; color: #000033; text-align: right; background-position: right;}

.topicentry { font-size: 12px; font-family: Verdana; font-weight: normal; color: #000066; background-color: white; text-align: center; }
td.postentry { font-family: Verdana; font-size: 13px; color: #333333; background-color: #EEEEEE; text-align: justify; padding: 2px; padding-right: 10px; vertical-align: top; }
td.postentry2 { font-family: Verdana; font-size: 13px; color: #555555; background-color: #FFFFFF; text-align: justify; padding: 2px; padding-right: 10px; vertical-align: top; }  

td.first { background-color: #CCC }

.sign { font-size: 10px; font-family: Verdana; color: #404040;}

.modcomment { font-size: 10px; color: #E00000; }

.modlinks { font-size: 9px; font-family: Verdana; color: #000066; text-align: right; border: #000033; border-style: dotted; border: 1px #003399 dotted; }

.moderate {font-size: 9px; text-align: right; float: right }

blockquote {  font-size: 10px; font-weight: lighter; margin: 5px 0px 10px 20px; padding: 5px; border: #003399 1px dotted; border-left: #003399 4px solid; background: #E0E0E0; }

.usertable {  background-color: white; border: 1px black; font-family: Verdana, Helvetica, sans-serif; font-size: 12px}

.offtopic {  font-size: 10px; color: #333333 }

code { display: block; font-family: "Courier New", Courier, mono; font-size: 11px; text-align: left; color: #000000; margin-left: 20px; border: #003399 3px; background: #E0E0FF}

.leftcolumn { width: 152px; background-color:  white; vertical-align: top }
.mainmenu { background-color: #DDDDDD; text-align: center; list-style-type: none; line-height: 225%; } 

.mainmenu li { display: inline; COLOR: black; FONT-FAMILY: Geneva, Verdana, san-serif; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; TEXT-INDENT: 0pt; text-align: center; padding: 0px; border-color: #FFF; border-width: 0 1px 0 1px; border-style: solid;}

.menucat { font-family: Verdana, Helvetica, sans-serif;  font-size: 12px; text-align: left; vertical-align: text-top; padding-top: 2px; padding-left: 24px; color: black; white-space: nowrap }

.outertable {  background-color: white; border: #000 1px solid; margin: 4px 0px 4px 0px; padding: 6px }
.innertable { background-color: #6A6A6A; border: 1px #DDDDDD solid; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-spacing: 1px; } 
table.innertable { width: 100% }

.mainlist { background-color: white; border: 1px #345487 solid; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }

.maintext { font-family: Verdana, Helvetica, sans-serif; font-size: 12px; color: #000033}

.hligh { font-weight: bold; color: #CC9933}

.postlinks { border-bottom:#93ADCA 1px solid; padding-bottom: 3px; margin-bottom: 3px; margin-right: 4px }

.postlinks2 { margin-right: 5px; text-align: right }

td.online { font-weight: bold; font-size: 12px; text-align: center; }
.posttable { border: #DDDDDD 2px solid; border-collapse: collapse; width: 100%; table-layout: fixed; }  

.posttable td { border: #93ADCA 1px solid }

.posttable table td { border: 0 }

.newpm { font-weight: bold; color: #DD0000; }

a.newpm, a.newpm:visited { font-weight: bold; color: #DD0000; }

a.rules:link { font-size: 10px; font-family: Verdana; color: black; }
a.rules:visited { font-size: 10px; font-family: Verdana; color: black; }
a.rules:active { font-size: 10px; font-family: Verdana; color: black; }
a.rules:hover { font-size: 10px; font-family: Verdana; color: black; }

a.inverse:link { color: #331111; text-decoration: none; }
a.inverse:visited { color: #331111; text-decoration: none; }
a.inverse:active { color: #331111;  text-decoration: none; }
a.inverse:hover { color:#442222; text-decoration: none;  }

a:link { color: #000099; text-decoration: none; }
a:visited { color: #000099; text-decoration: none; }
a:active { color: #000099; text-decoration: none; }
a:hover { color:#0000ff; text-decoration: underline;  }

a.username:link { font-weight: bolder; color: #000099; text-decoration: none; }
a.username:visited { font-weight: bolder; color: #000099; text-decoration: none; }
a.username:active { font-weight: bolder; color: #000099;  text-decoration: none; }
a.username:hover { font-weight: bolder; color: #0000ff; text-decoration: none;  }

textarea { font-size: 12px; font-family: verdana, geneva, helvetica, sans-serif; border: #C0C0C0 1px solid; background-color: #FFFFFF; color: #000066; width:98%}
select { font-size: 10px; font-family: verdana, geneva, helvetica, sans-serif; border: #C0C0C0 1px solid; background-color: #FFFFFF; color: #000066 }
input { font-family: verdana, geneva, helvetica, sans-serif; font-size: 12px; border: #C0C0C0 1px solid; background-color: #FFFFFF; color: #000066}
option { font-size: 10px; font-family: verdana, geneva, helvetica, sans-serif; border: #C0C0C0 1px solid; background-color: #FFFFFF; color: #000066}

.photo_nav { overflow: auto; padding: 5px; vertical-align: center; text-align:center; white-space: nowrap; width: 96% }
.nav1 { display: inline; margin-right: 5px; margin-top: 2px }
.nav2 { display: inline; margin-right: 5px; border: #C00 2px solid }
.nav3 { display: inline; margin-right: 5px; margin-top: 2px }

.calendar_hday { color: #800 }
a.calendar_hday { color: #C00 }
a.calendar_hday:visited { color: #A00 }
a.calendar { color: #1E90FF }
a.calendar:visited { color: #1280EE }