/*
Theme Name: Division-Wordpress
Theme URI: http:/http://www.hablogs.com/demo/index.php?wptheme=Division-Wordpress
Description: An amazing red & gray Wordpress theme.
Version: 1.0
Author: Elad Domb
Author URI: http://wordpress.reviewitonline.net
*/

/*
Nifty CSS
*/
/*Nifty Corners Cube CSS by Alessandro Fulciniti
The following classes are added dinamically by javascript,
and their use should be avoided in the markup */

b.niftycorners,b.niftyfill
	{
	display:block;/**/
	}
b.niftycorners *{
display:block;		/*Свойство CSS display определяет, как элемент должен быть показан в документе.
					Элемент будет генерировать блок 'перенос строки до и после элемента'*/
height: 0px;
line-height:1px;	/*Свойство line-height определяет высоту строки.*/
font-size: 1px;		/*Свойство font-size задает размер шрифта.*/
overflow:hidden;	/*	Свойство CSS overflow управляет отображением содержания блочного элемента, если оно целиком 
						не помещается и выходит за область заданных размеров.Отображается только область внутри элемента,
						остальное будет обрезано.*/
/*border-style:solid;	Убирает закругление углов*/		
border-width: 0 1px
}
/*normal
b.r1{margin: 0 3px;border-width: 0 2px}
b.r2{margin: 0 2px}
b.r3{margin: 0 1px}
b.r4{height: 2px}
b.rb1{margin: 0 8px;border-width:0 2px}
b.rb2{margin: 0 6px;border-width:0 2px}
b.rb3{margin: 0 5px}
b.rb4{margin: 0 4px}
b.rb5{margin: 0 3px}
b.rb6{margin: 0 2px}
b.rb7{margin: 0 1px;height:2px}
b.rb8{margin: 0;height:2px}
b.rs1{margin: 0 1px}*/
/*transparent inside
b.t1{border-width: 0 0px}
b.t2{border-width: 0 0px}
b.t3{border-width: 0 0px}
b.t4{height: 2px}
b.tb1{border-width: 0 10px}
b.tb2{border-width: 0 8px}
b.tb3{border-width: 0 6px}
b.tb4{border-width: 0 5px}
b.tb5{border-width: 0 4px}
b.tb6{border-width: 0 3px}
b.tb7{border-width: 0 2px;height:2px}
b.tb8{border-width: 0 1px;height:2px}
b.ts1{border-width: 0 2px}*/

/*
CSS General Reset
*/
* {
	font-family: Vardana, Tahoma, Arial,  ;
	color: #333333;
	font-size: 1,0em;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	text-decoration: none;
	vertical-align: baseline;
	white-space: normal;
}

html, body {line-height: 1}
hr {display: none}
blockquote:before, blockquote:after, q:before, q:after {content: ''}
blockquote, q {quotes: "" ""}
ul {list-style-type: none}
ol {list-style-type: decimal}
.clear {clear: both}

/*
Layout CSS Information
*/
body {
	background: #ffffff;
	text-align: center;
	background-image:url(images/fon2.png); /*  фон страницы*/
}

#container {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;

}

/*
Very Top Bar
*/
#top {
	/*width: 992px;*/
	height: 90px;
	/*background-image: url(images/FonContainer.jpg);	 #B4B1BC;		цвет полосы, где кнопки страниц	*/
	padding-top:12px;
	padding-left:8px;
	border-top: 2px solid #666699;
}


#adsense {
	width: 985px;
	/*height: 120px;*/
	/* background-image: url(images/FonContainer.jpg);	#B4B1BC;		цвет полосы, где кнопки страниц	*/
	padding-top:12px;
	padding-left:5px;
}				

#pagemenu {
	float: left;
	/*height: 4px;*/
	display: inline;
	z-index: 20;
}

#pagemenu li {			/*Размеры кнопок страниц*/
	float: left;
	display: block;
	height: 24px;		/*Расстояние между местами для рекламы и "Популярные заметки"*/
	/*margin-right: 5px;	 Поле справа-это расстояние между кнопками*/
	margin-left:8px;
}

#pagemenu li ul li {			
	height: 25px;
	border-bottom: 1px solid #eee;
	width: 100%;
}

#pagemenu li a {
	display: block;
	/*padding-left: 3px;
	padding-right: 5px;*/
/* 	font-weight: bold;		bold-жирный шрифт*/
	font-size: 0.9em;		/* Высота шрифта в кнопках страниц*/
	Text-align: center;
/*	text-transform: lowercase;*/
	line-height: 25px;		/* Высота кнопок страниц */
	width: 100px;
	color: #ffffff;			/* Цвет шрифта в кнопках страниц*/
	background-image: url(images/button_2.jpg) ;/* #50CDED;	   Цвет фона кнопок*/
}


#pagemenu li a:hover {			
	background:url(images/button_2.jpg)/* ; #0055E5;	Смена цвета кнопок страниц*/
	/* color: #fff;			Смена цвета шрифта в кнопках страниц*/
}

#pagemenu li.current_page_item a {
	background: url(images/button_3.jpg) ;/* #0055E5;*/
	color: #fff;
}



#pagemenu li.current_page_item a:hover {
	background: url(images/button_3.jpg) ;/* #00D3C9;*/
	color: #fff;
}



#pagemenu li a:active {
	background: url(images/button_1.jpg) ;/* при нажатии на кнопку*/
}



#pagemenu ul {
	display: none;
	z-index: 99;
	position: absolute;
}

#pagemenu ul li a {
	display: block;
	background: #FFF;
}

#pagemenu li ul a:hover {
	display: block;
	background: #FFF;
}

#pagemenu ul a {
	display: block;
}

#pagemenu ul ul {
	margin-top: -25px;
	display: none;
	margin-left: 199px;
	position: absolute;
}

#pagemenu li:hover ul ul {
	display: none;
}
#pagemenu li:hover ul {
	display: block;
}
#pagemenu ul li:hover ul {
	display: block;
}
#pagemenu li ul li {
	display: block;
	width: 100%;
}

#pagemenu li.page_item ul {
	border-top: 1px solid #eee;
	width: 200px;
}

#pagemenu li.page_item a {
	display: block;
	height: 25px;
}

#pagemenu li.page_item a:hover {
	display: block;
}

#pagemenu li.page_item ul li a {
	display: block;
	text-align: left;
	height: 25px;
	line-height: 24px;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	background: #FFF;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: lowercase;
	font-size: 0.7em;
	font-weight: bold;
	color: #333;
}

#pagemenu li.page_item ul li a:hover {
	display: block;
	text-align: left;
	height: 24px;
	line-height: 24px;
	border-right: 1px solid #a6dc00;
	border-left: 1px solid #ddd;
	background: #444;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: lowercase;
	font-size: 0.7em;
	font-weight: bold;
	color: #d0f25b;
}

/*
Search bar
*/
#searchbar {
	float: right;
	display: inline;
	font-size: 0.7em;
	padding-bottom: 15px;

}

.searchform {
	display: inline;
	vertical-align: middle;
}

.searchform fieldset {
	display: inline;
	vertical-align: middle;
	/*margin-top:20px;*/
}

.searchform label {
	display: inline;
	vertical-align: middle;
}

.searchform input {
	display: inline;
	vertical-align: middle;
}

.searchform .searchlabel {
	color: #251BD2;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 5px;
	font-family: arial 
}

.searchform .searchterm {
	width: 200px;
	padding: 3px;
	color: #999;
	background: #fff;
	border: 2px solid #b0c4de;
}

.searchform .searchterm:focus {
	background: #fffff9;
}

.searchbutton {
	cursor: pointer;
	text-transform: uppercase;
	font: bold 10px tahoma;
	color: #ffffff;
	text-align:center;
	background: url(images/iskati2.jpg) no-repeat;/* #0000FF;       цвет кнопки "искать" */
	height: 31px;
	width:65px;
	Margin-right: 8px;
	/*border:2px solid #3366FF;*/
}

.searchform .searchbutton:hover {
	background: url(images/iskati.jpg) no-repeat; /*#3399FF;       цвет кнопки "искать" при наведении*/
}

/*
Header CSS
*/
#header {
	width: 1000px;
	height: 160px;
	background: url(images/heder.jpg) no-repeat top left; /* Фото в шапке*/
	padding-bottom: 20px;
	margin-bottom: 0px;


}

#header_logo {
	float: left;
	height: 60px;	
	display: inline;
	margin-left: 20px;
}

#header_logo h1.blogtitle {
	float: left;
	margin-right: 10px;

	padding-top: 39px;
}

#header_logo h1.blogtitle a {
	color: #333;
	font-family: "Trebuchet MS";
	font-size: 1.4em;
	line-height: 1.2em;
	letter-spacing: -1px;
}

#header_logo h1.blogtitle a:hover {
	color: #555;
}

#header_logo .description {
	float: left;
	color: #999;
	font-weight: bold;
	font-size: 1.0em;
	line-height: 1.4em;
	padding-top: 44px;
}

#header_ad {
	float: right;
	width: 468px;
	height: 60px;
	display: inline;

}

#header_ad img {
	display: block;
}

/*
Page Menu CSS
*/
#bar {
	width: 1000px;
	height: 24px;
}

ul#catmenu {
	width: 1000px;
}

ul#catmenu li {
	float: left;
	margin-right: 5px;
}

ul#catmenu li a {
	float: left;
	font-size: 0.8em;
	font-weight: bold;
	color: #FFF;
	background: #cf2020;
	padding: 5px;
}

ul#catmenu li a:hover {
	color: #fff;
	background: #ff0000;
}

ul#catmenu li.current-cat a {
	color: #fff;
	background: #ff0000;
}

ul#catmenu li.current-cat a:hover {
	color: #fff;
	background: #ff0000;
}

/*
Blog Information Section
*/
#bloginfo {
	width: 980px;

	color: #999;
	margin-top: 10px;
	background: #fffff4;
	padding: 10px;
	border-bottom: 3px solid #aaa;
}

#bloginfo a {
	color: #333;
}

#bloginfo a:hover {
	color: #e11919;
}

#bloginfobox {
/*	margin: 5px;*/
}

#bloginfo ul {
	width: 990px;
}

#bloginfo ul li {float: left}
#bloginfo ul li ul li {float: none}

#bloginfo ul li.posts, #bloginfo ul li.comments, #bloginfo ul li.tags {
	width: 330px;
}

#bloginfo ul li.posts h2 {
	display: block;
	background: url(images/ico_posts.png) no-repeat;
	background-position: 10px center;
	padding-left: 30px;
	font-size: 0.75em;
	line-height: 1.7em;
	font-weight: bold;
	color: #366799;
}

#bloginfo ul li.comments h2 {
	display: block;
	background: url(images/ico_comments.png) no-repeat;
	background-position: 10px center;
	padding-left: 30px;
	font-size: 0.75em;
	line-height: 1.7em;
	font-weight: bold;
	color: #366799;
}

#bloginfo ul li.tags h2 {
	display: block;
	background: url(images/ico_tags.png) no-repeat;
	background-position: 10px center;
	padding-left: 40px;
	font-size: 0.75em;
	line-height: 1.7em;
	font-weight: bold;
	color: #366799;
}

#bloginfo ul li.posts ul {
	width: 310px;
	padding: 10px;
}

#bloginfo ul li.comments ul {
	width: 310px;
	padding: 10px;
}

#bloginfo ul li.tags ul {
	width: 310px;
	padding: 10px;
}

#bloginfo ul li.posts ul li {
	border-bottom: 1px dotted #ddd;
	padding-top: 4px;
	padding-bottom: 4px;
}

#bloginfo ul li.comments ul li {
	border-bottom: 1px dotted #ddd;
	padding-top: 4px;
	padding-bottom: 4px;
}

#bloginfo ul li.tags ul li {
	border-bottom: 1px dotted #ddd;
	padding-top: 4px;
	padding-bottom: 4px;
}

#bloginfo ul li.comments ul li a {
	display: block;
	font-size: 0.75em;
	background: url(images/ico_comment.png) no-repeat left 3px;
	padding-left: 20px;
	line-height: 1.3em;
	font-weight: bold;
}

#bloginfo ul li.comments ul li a span {
	font-weight: normal;
}

#bloginfo ul li.comments ul li a:hover span {
	color: #666;
}

#bloginfo ul li.comments ul li a:hover {
	background: url(images/ico_commento.png) no-repeat left 3px;
}

#bloginfo ul li.tags ul li a {
	line-height: 1.3em;
	color: #999;
	font-size: 0.75em;
	text-transform: lowercase;
}

#bloginfo ul li.tags ul li a:hover {
	color: #e11919;
}

.r_time {
	display: block;
	font-size: 0.7em;
	line-height: 1.3em;
}

.r_head a {
	display: block;
	font-weight: normal;
	font-size: 0.75em;
	line-height: 1.3em;
	font-weight: bold;
}

/*
Content Layout
*/
#content {
	margin-top: 10px; /*70px;-------------------------------------------Растояние между хедером и контекстом*/
	width: 1000px;
	/*background: #B4B1BC;    Серая подложка под контекстом и сайдбарами*/
	padding-bottom: 10px;
}

#content #column {
	float: left;
	width: 715px;   				/* ширина окна контента */
	margin-left: 2px;
	margin-right: 0px;
	display: inline;
}

#content #sidebar {
	float: left;
	width: 258px;    				/* ширина окна сайдбара */
	margin-left: 5px;
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

	margin-top: 30px;
 /*   border: 1px solid #555555;
    border-radius: 10px 10px 10px 10px;	*/
}

/*
Sidebar Widgets
*/
/*#sidebar h2 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: arial, tahoma;
	line-height: 1.2em;
	color: #005599;		/* Цвет заголовков виджетов
	margin-top: 30px;
	padding-left: 15px;
	background: url(images/h.gif) no-repeat left 0px;
	padding-left: 35px; */
}

#sidebar p {
	margin: 0px 0px 7px 0px;
}

#sidebar .box {
	margin-top: 5px;
	margin-bottom: 15px;	
	font-size: 0.75em;
	line-height: 1.4em;
	color: #aaa;
}

.videobox {
	border: 4px solid #ddddd4;
	width: 380px;
	height: 214px;
}

.center {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
/*При отключении этой CSS приводит к изменению цвета названия рубрик, популярных заметок, архивов
и они начинают работать как обычные ссылки цвет строчек в сайдбаре*/
#sidebar a {
	color: #333333;

}

#sidebar a:hover {
	color: #666699;		/* цвет строчек в сайдбаре при наведении мыши*/
}

.sidebar1 {
	width: 260px;					/*  Ширина блока 'Популярные заметки'*/
}

.sidebar2 {
	width: 260px;					/*  Ширина блока 'Рубрики'*/
	float: left;
	display: inline;
}
.sidebar_my {
	width: 260 px;	
	margin-top:10px;

}

.sidebar1 ul ul, .sidebar2 ul ul {
	font-size: 17px;
	color: #999;
	line-height: 1.4em;
}

.sidebar1 ul div, .sidebar2 ul div {
	font-size: 1.3em;
	color: #999;
	line-height: 1.4em;
	margin-left: 5px;
	margin-top: 20px
}

.sidebar1 ul div div, .sidebar2 ul div div {
	font-size: 1em;
}

.sidebar1 li li {
	background: url(images/bullet.gif) no-repeat;
	background-position: left 8px;
	margin-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 15px;
	border-bottom: 2px dotted #77e;
}

.sidebar2 li li {
	background: url(images/bullet.gif) no-repeat;
	background-position: left 8px;
	margin-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 15px;
	border-bottom: 2px dotted #eeeeee;
}

.sidebar1 li li li {
	font-size: 1.2em;
	background: none;
	background-position: none;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	border-bottom: 0;
}

.sidebar2 li li li {
	font-size: 1.2em;
	background: none;
	background-position: none;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	border-bottom: 0;
}

/*
Feed CSS
*/
.rssfeed {
	background: url(images/rssimg.gif) no-repeat;
	background-position: left 0px;
	padding-left: 30px;
}

.rssfeed a {
	border-bottom: 1px dotted #ddd;
}

.emailfeed {
	background: url(images/rssemail.gif) no-repeat;
	background-position: left 0px;
	padding-left: 30px;
}

.feedform {
	font-size: 1em;
}

.feedemail {
	border: 2px solid #ddd;
	width: 200px;
	padding: 3px;
	color: #999;
	background: #fff;
}

.feedemail:focus {
	color: #ff9600;
	background: #fffff4;
}

.feedsubmit {					/*параметры кнопки ОК*/
	border: 3px solid #0054E3;
	text-transform: uppercase;
	background: #0000cc;
	cursor: pointer;
	color: #fff;
	font-size: 1em;
	height: 24px;
	width: 30px;
}

.feedsubmit:hover {
	background: #3980F4;
}

/*
Sidebar Ads CSS
*/
ul.ads li {
	float: left;
	display: inline;
	margin-right: 3px; /*Растояние между банерами*/

}

ul.ads img {
	display: block;
	float: left;
}

/*
Footer CSS
*/
#footer {
	width: 980px;
	padding: 10px;
	font-size: 14px;
	color: #aaa;
	text-align: right;
}

#footer a {
	color: #333;
	font-weight: bold;
}

#footer a:hover {
	color: #e11919;
}

.copyright {
	float: left;
	line-height: 2em;
	font-size:15px;
}

.credit {
	float: right;
	color: #999;
	line-height: 1.4em;
}

a.sitename {
	border-bottom: 1px dotted #ff9600;
}

a.footrss {
	background: url(images/rssimg.gif) no-repeat left center;
	padding-left: 22px;
	margin-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.credit a {
	font-weight: bold;
	color: #666;
}

.credit a:hover {
	color: #e11919;
}

/*
General Styles THE POST

.post {
	border: 1px solid #ddd;
	margin-top: 30px;
	padding-left: 5px;
	background: #fff;
}*/

 .post {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	color:#fff;
	line-height:1.0em;
	background-color:#fff;
	box-shadow:0 2px 4px rgba(0,0,0,.5),inset 0 3px 0 rgba(255,255,255,.4);
	/*border:1px solid #777;*/
}


.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
	line-height: 1.5em;
	margin: 10px;
}

.post p {
	line-height: 1.2em;
	
}

.post h1 {font-size: 1.5em}
.post h2 {font-size: 1,0em}
.post h3 {font-size: 0.95em}
.post h4 {font-size: 0.9em}
.post h5 {font-size: 0.85em}
.post h6 {font-size: 0.8em}
.post p {
	font-size: 15px;      	/* Величина шрифта заметок*/
	font-family: Verdana;
	line-height: 21px;
	color: #445566;  		/* Цвет текста  заметок*/
	}
.post h1 {color: #223344;letter-spacing:-1px;} /* Цвет заголовков  H1 в записях*/
.post h2 {color: #2222aa;letter-spacing:-1px;}
.post h3 {color: #666;letter-spacing:-1px;}
.post h4 {color: #888888}
.post h5 {color: #ff9600}
.post h6 {color: #333}


.post ul, .post ol {
	font-size: 0.75em;
	color: #999;
	margin: 0px 0px 7px 0px;
}
.post li, .post li li {line-height: 1.5em}
.post ol {margin-left: 16px}

.post ul ul, .post ol ol {
	font-size: 1.2em;
	margin-bottom: 5px;
	margin-top: 5px;
}
.post ul li, .post ul li ul li {
	background: url(images/bullet.gif) no-repeat;
	background-position: left 8px;
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.post ol li, .post ol li ol li {
	padding-top: 2px;
	padding-bottom: 2px;
}

.post img {
	vertical-align: middle;
}

.more-link {   					/* Правила для записи "читать далее*/
	font-weight: bold;
	font-size: 16px;
	font-family: "Tahoma";
	color: #366799;
}

.post ins {
	text-decoration: underline;
}

.post del {
	text-decoration: line-through;
}

.post code {
	display: block;
	border: 1px dotted #000ddd;
	width: 650px;
	padding: 10px;
	background: #eeefff;
	color: #000999;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	margin-top: 30px;	
}

.post blockquote {
	display: block;
	border: 1px dashed #ddd;
	width: 450px;
	padding: 10px 10px 0px 10px;
	background: #FFF;
	color: #333;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}


.post blockquote p {
	background: url(images/blockquote.gif) no-repeat;
	background-position: left top;
	padding-left: 40px;
	color: #5a727b;
	font-weight: bold;
}

a {
	color: #999;
}

a:hover {
	color: #e11919;
}

.post h2 a {
	color: #0000FF;  /* Цвет заголовка H2  */
	border-bottom: 1px dotted #3355ff;
}

.post h2 a:hover {
	color: #0687f8;
	border-bottom: 1px dotted #6600CC; /*При наведении на заголовок возникает нижний край рамки*/
}

.post .entry {
/*	width: 700px;*/	
	margin-top: 10px;
	padding-bottom: 25px;
}

.post .postinfo {
	color: #aaa;
	font-size: 0.7em;
	border-bottom: 1px dashed #eee;
	line-height: 1.4em;
	padding-top: 2px;
	padding-bottom: 5px;
}

.post .info {
	color: #883366;
	padding-top: 10px;

	font: normal 16px Tahoma;
}

.post .info a {
	padding-top: 4px;
	padding-bottom: 4px;
	height: 15px;
	background: url(images/ico_author.gif) no-repeat left center;
	padding-left: 18px;
}

.post .commentnum {
	float: right;
	background: url(images/ico_commentw.gif) no-repeat left center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	font-size: 16px;
	color: #0000FF;
}

.post .category {
	font-size: 16px;                /*Величина шрифта "Размещено в рубрике"*/
	color: #9933FF;
	background: url(images/ico_cat.gif) no-repeat;
	background-position: left 3px;
	padding-left: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #eee;
}

.post .tags {
	margin-bottom:10px;
	background-position: left 3px;	
	margin-right:55px;
	margin-top: 10px;
	padding-left: 35px;
	font-size: 1em;
	color: #333333;
	line-height: 1.5em;
	border-top: 1px solid #eee;
	float: right;
	text-transform: lowercase;
}

.post .ratings {
	font-size: 0.75em;
	line-height: 1.3em;
	color: #666;
	margin: 0px 0px 10px 0px;
}

.post .views {
	font-size: 1em;
	color: #5500FF;
	margin-top: 15px;
}

/*
Post Images - Alignments
*/
img.alignleft, img.alignright, img.aligncenter, img.alignnone {
	border: 0px solid #eee;
}

.alignleft {
	float: left;
	display: inline;
	margin-right: 0px;
	margin-bottom: 2px;
}

.alignright {
	float: right;
	display: inline;
	margin-left: 10px;
	margin-bottom: 2px;
}

.aligncenter {
	display: inline;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.alignnone {
	display: inline;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

p.wp-caption-text {
	padding: 3px;
	color: #666666;
	text-align: center;
}

/*
Default Navigation _Next entries _Previous entries
*/
.nav {
	margin-top: 10px;
	font-size: 1.1em;
}

.nav a:hover {
	color: #ff0000;
}
	

.nav_left {
	float: left;
	display: inline;
}

.nav_right {
	float: right;
	display: inline;
}

/*
Other Post Boxes
*/
.post_header {
	padding-top: 10px;
	margin-left: 10px;
	padding-right: 10px;
}

.post_header h1 {
	font-size: 1,3em;
	color: #666699;
}

.post_author, .post_follow {
	padding: 10px;
	font-size: 0.75em;
	color: #666;
	line-height: 1.5em;
	border: 1px solid #eeeee4;
	font-family: "Trebuchet MS"
}

.post_follow a {
	font-weight: bold;
}

/*
Comments
*/
.commentlistdiv {
	margin-top: 10px;
	padding: 10px;
	background: #FFF;
	border: 1px dotted #ddd;
	font-size: 0.9em;
	color: #999;

}

.commentlistdiv h1 {
	font-size: 2 em;
	color: #0000ff;
	border-bottom: 1px solid #eee;
	line-height: 1.5em;
}

.commentlist li {
	background: #fff;
	border-bottom: 1px dotted #ddd;
	padding: 20px;
}

.commentlist li.alt {
	background: #fff;
}

.pane_l {
	float: left;
	display: inline;
	width: 160px;
	min-width: 160px;
	max-width: 160px;
	border-right: 2px solid #eee;
	padding-right: 20px;
	margin-right: 20px;
}

.pane_r {
	display: block;
	font-size:1.1em;	
	line-height: 1.3em;
	margin-left: 201px;
}

.c_author {
	font-weight: bold;
	margin: 0px 0px 7px 0px;
}

.c_avatar {
	display: block;
	margin: 0px 0px 7px 0px;
}

.c_date {
	color: #aaa;
	font-size: 0.9em;
	margin: 0px 0px 7px 0px;
}

.c_approved {
	color: #aaa;
}

/*
Trackbacks / Pinbacks
*/
.post_ping {
	background: #e9f7ff;
	padding: 10px;
	border: 1px solid #eeeee4;
	font-family: "Trebuchet MS";
	font-size: 0.7em;
	color: #666;
	line-height: 1.5em;
}

.post_ping h1 {
	font-size: 1.2em;
}

.post_ping ol {
	margin-left: 20px;
}

.post_ping ol li {
	padding-top: 3px;
}

/*
Reply
*/
.reply {
	width:683px;
	margin-top: 10px;
	padding: 10px;
	background: #FFF;
	border: 1px dotted #ddd;
	font-size: 0.7em;
	color: #666;

}

.reply h1 {
	font-size: 3.3em;
	color: #0000ff;
	border-bottom: 1px solid #eee;
	line-height: 1.5em;
}

.reply label {
	font-family: "Trebuchet MS";
	font-weight: bold;
	font-size: 1.5em;	
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
	color: #666;
	margin-left: 5px;
}

.replytext {
	width: 200px;
	background: #FFF;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
	color: #666;
	border: 1px solid #999999;
	padding: 3px;
}

.replytext:focus {
	background: #fffff9;
}

.replyarea {
	width: 500px;
	height: 140px;
	background: #FFF;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
	color: #666;
	border: 1px solid #999999;
	padding: 3px;
}

.replyarea:focus {
	background: #fffff9;
}

.replybutton {
	cursor: pointer;
	font-weight: bold;
	/*background: url(images/commentbutton.gif) no-repeat;*/
	background: url(images/commentbutton_on2.gif) no-repeat;
	width: 110px;
	height: 22px;
	margin-top: 3px;
	margin-bottom: 5px;
	vertical-align: middle;
	color: #fff;
	
}

.replybutton:hover {
	background: url(images/commentbutton2.gif) no-repeat;
}
/* Правила для плагина связные записи*/
.related {
	width:690px;
	background-color:#fff; 
	padding:7px; 
	margin:17px 0px 0px 0px; 
 
	color:#333; 
 
	}
.related h4 {
	font:bold 25px Verdana; 
	color:#3333ff;
	}
.related a {
	font:bold 21px Verdana; 
	color:#333; 
	text-decoration:underline;
}
/*Конец*/

/* Цвета ссылок*/
a:link       {
	color:#0000ff; 
	text-decoration:none;	
	}  	   /*Ссылка не посещенная синий цвет, подчеркнутая*/
a:visited {
	color:#551A8B; 
	text-decoration:none;
	}       /*  Ссылка посещенная*/
a:hover     {
color:#00bbff; 
text-decoration:none;
}       /*Ссылка при наведении красный цвет*/
/*a:active   {color:#00cc00; text-decoration: overline;}   Ссылка нажатая */


.cearch a {font:normal 12px Verdana; color:#333;}
.cearch li {
	background: url(images/bullet.gif) no-repeat;
	background-position: left 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 15px;
	border-bottom: 1px dotted #ddd;
}

/*Таблицы стилей для формы рекомендуй другу*/
.recomend input {              
	border: 2px solid #ddd;
	width: 180px;
	padding: 2px;
	color: #999;
	background: #fff;
}

.recomend{
	background-position: 20px 50%;
    background-repeat: no-repeat;
    border: 1px solid #999999;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 4px 4px #D39DFF;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 30px;	
    padding: 15px 20px 15px 20px;
    position: relative;
    background-color: #FFEFFF;
    text-align: justify;
} 

.recomm {	
	
	font:17px tahoma;
	color: #444444;  }		/*цвет надписи РЕКОМЕНДОВАТЬ*/	
.recomm:hover {
 	cursor: pointer; 
	background:#9698FF;		/*Смена фона под надписью кнопки*/
	color: #ffffff;  }		/*цвет надписи РЕКОМЕНДОВАТЬ*/		
}

			/*CSS календаря*/
.sidebar1 #calendar_wrap {	/*сдвиг календаря вправо*/
	padding-left:35px;	
}
.sidebar1  caption {			/*слово КАЛЕНДАРЬ*/
	font-size: 1.6em;
	color: #0000cc;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:10px;	
}
.sidebar1  td {				/*Дни месяца*/
	font-size: 1.6em;
	line-height:20px;
	color: #333333;				
}
.sidebar1  th {			/*Дни недели*/
	font-size: 1.6em;
	color: #0000cc;				
}
.my_link {
	background: url(images/h.gif) no-repeat left 0px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.my_link  h1{
	font-size: 1.4em;
	font-weight: bold;
	font-family: arial, tahoma;
	line-height: 1.3em;
	color: #0000ff;
	padding-left: 25px;	
}

.my_link  a {
	width:190px;
	background: url(images/bullet.gif) no-repeat;
	background-position: left 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 15px;
	border-bottom: 1px dotted #ddd;
}



.adsense_poisk input#my{    /*поле ввода текста*/
	border: 1px solid #9933FF;
	width:250px;
    height: 20px;	
}

.adsense_poisk  input#iskati {   /*Кнопка искать по гуглу*/
	background:#0000FF;
	border: 1px solid #9933FF;
    color: #eeeeee;	
	cursor: pointer;
	font-weight:bold;
	width: 60px;
    height: 22px;	
}

 .cse-branding-bottom .cse-branding-text {
	font-size:16px;

	font-family:verdana;
	color:#0000ff;
 }
 .text-link {
	color:#9966FF; /*стиль ссылок от google*/
 }
 
 calcul {
	 background:url(images/calcul_fon.jpg)		
}	

#ramka{
	background-position: 20px 50%;
    background-repeat: no-repeat;
    border: 1px solid #555599;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 3px #777777;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;	
    padding: 15px 20px 15px 20px;
    position: relative;
    background-color: #CECADF;
    text-align: justify;
} 
 
 #Y_reclam_top{
	background-position: 20px 50%;
    background-repeat: no-repeat;
    border: 1px solid #666666;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 4px 4px #D39DFF;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;	
    padding: 15px 20px 15px 20px;
    position: relative;
    background-color: #FFFFFF;
    text-align: justify;
}


/*Набор CSS для для кнопки Читать далее*/ 
.read_more {
	float: right;   /* Отвечает за выравнивание кнопки право или лево */
	width: 180px;     /* Ширина кнопки */
	height: 25px;    /* Высота кнопки  */
	border: 1px solid #fff;   /* Толщина обводки */
	border-radius: 7px;   /* Радиус */
	box-shadow: 0px 0px 8px #4488ff; /* Отвечает за тень кнопки */
	background: #4488ff; /* Цвет Фона кнопки  */
	font: normal 12px/25px Arial, sans-serif;  /* Настойки шрифта, размер, стиль */
	text-align: center;   /* Выравнивание текста */
	color: #ffffff;
	margin-right: 160px; /* Смещение вправо */
	margin-bottom:  25px;  /* Смещение вниз */
	margin-top:  15px; /* Смещение вверх */
}
/* кнопка 2*/
a.button2, a.button2:before {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 100px;
  border: solid rgb(4,88,192);
  border-width: 3px 10px;
  outline: none;
  opacity: 1;
  transition: .6s, opacity 0s 9999999s, visibility 0s 9999999s;
} 
a.button2 {
  position: relative;
  padding: calc(8px + 3px - 1px) calc(15px + 10px - 1px);
  border: 1px solid rgba(62,153,239,.5);
  background: linear-gradient(to left, rgb(62,153,239) 1%, #fff 3%, rgb(44,135,232) 8%, rgba(255,255,255,.3) 50%, rgb(44,135,232) 92%, #fff 97%, rgb(62,153,239) 99%) no-repeat;
}
a.button2:before {
  content:  "Читать статью полностью";
  position:  absolute; 
  bottom: -7px;
  left: -1px;
  width: calc(100% - (15px + 10px - 1px)*2);
  background: #fff linear-gradient(rgb(58,160,253), rgb(4,88,192) 60%, rgb(49,112,201));
  box-shadow: 0 10px 18px rgba(0,0,0,.5);
}
a.button2:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
a.button2:hover:before {
  border-color: #0766d8;
  background: #fff linear-gradient(#3fadff, #0766d8 60%, #3279dd);
}
a.button2:focus,
a.button2:active {
  -webkit-transform: scale(2, 2);
  transform: scale(2, 2);
  opacity: 0;
  visibility: hidden;
  transition: .4s;
}
/* Просто кнопка*/
 a.button {
  position: relative;
  display: inline-block;
  width: 10em;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #F64C2B;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
  background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}
a.button:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
 }
.sidebar_vid {
	float: right;   /* Отвечает за выравнивание кнопки право или лево */
	width: 240px;     /* Ширина кнопки */
	height: 25px;    /* Высота кнопки  */
	border: 1px solid #fff;   /* Толщина обводки */
	border-radius: 7px;   /* Радиус */
	box-shadow: 0px 0px 8px #4488ff; /* Отвечает за тень кнопки */
	background: #4488ff; /* Цвет Фона кнопки  */
	font: normal 12px/25px Arial, sans-serif;  /* Настойки шрифта, размер, стиль */
	text-align: center;   /* Выравнивание текста */
	color: #ffffff;
	margin-right: 160px; /* Смещение вправо */
	margin-bottom:  25px;  /* Смещение вниз */
	margin-top:  15px; /* Смещение вверх */
}
 /*Заголовки в сайдбаре*/
 #sidebar h2 {
text-align:center;
text-decoration:none;
margin-top: 10px;
margin-bottom: 13px;
padding:10px;
color:#fff;
font-size:30px;
line-height:1.0em;
background-color:#09c;
background-image:-webkit-linear-gradient(#9df,#49f,#6af);
background-image:-moz-linear-gradient(#9df,#49f,#6af);
-moz-border-radius:8px;
-webkit-border-radius:8px;border-radius:8px;
text-shadow:0 -1px 0 rgba(0,0,0,.5);
box-shadow:0 4px 4px rgba(0,0,0,.5),inset 0 3px 0 rgba(255,255,255,.4);
border:1px solid #0086b2;
}
 
 #page_button {
text-align:center;
text-decoration:none;
margin-top: 10px;
margin-bottom: 13px;
padding:10px;
color:#fff;
font-size:30px;
line-height:1.0em;
background-color:#09c;
background-image:-webkit-linear-gradient(#9df,#49f,#6af);
background-image:-moz-linear-gradient(#9df,#49f,#6af);
-moz-border-radius:8px;
-webkit-border-radius:8px;border-radius:8px;
text-shadow:0 -1px 0 rgba(0,0,0,.5);
box-shadow:0 4px 4px rgba(0,0,0,.5),inset 0 3px 0 rgba(255,255,255,.4);
border:1px solid #0086b2;
}
  
 /*Помощь сайту*/ 
 
 .poddergka { 
	text-align:center;
	text-decoration:none;
	margin-top: 10px;
	margin-bottom: 40px;
	padding:10px;
	color:#fff;
	font-size:20px;
	line-height:1.0em;
	background-color:#09c;
	background-image:-webkit-linear-gradient(#9df,#49f,#6af);
	background-image:-moz-linear-gradient(#9df,#49f,#6af);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;border-radius:8px;
	text-shadow:0 -1px 0 rgba(0,0,0,.5);
	box-shadow:0 4px 4px rgba(0,0,0,.5),inset 0 3px 0 rgba(255,255,255,.4);
	border:1px solid #0086b2;
	margin-top: 30px;	
	} 
 
  .poddergka_index_H1 { 
	text-align:center;
	text-decoration:none;
	margin-top: 10px;
	margin-bottom: 20px;
	padding:5px;
	color:#fff;
	font-size:20px;
	line-height:1.0em;
	background-color:#09c;
	background-image:-webkit-linear-gradient(#cdf,#fff,#cdf);
	background-image:-moz-linear-gradient(#cdf,#fff,#cdf);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;border-radius:8px;
	text-shadow:0 -1px 0 rgba(0,0,0,.5);
	box-shadow:0 4px 4px rgba(0,0,0,.5),inset 0 3px 0 rgba(255,255,255,.4);
	border:1px solid #bbb;
	margin-top: 30px;	
	} 
 
 
 
 
 
 
 
 
 
 
 
