/* Hidden: make text and background the same color, for when JavaScript is unavailable. */
.spoiler-box, .spoiler-hidden {
	color:#000000;
	background-color:#000000;
}

/* Visible */
.spoiler-visible {
	color:#000000;
	background-color:#FFFFFF;
	visibility:visible;
}

div.spoiler-visible {
	display:block;
}

/* Common */
div.spoiler {
	margin: 0.5em 1px 0 25px;
	border: 1px solid #A9B8C2;
}

div.spoiler-top {
	font-style: normal;
	font-weight: bold;
	font-size: 0.9em;
	padding: 0 4px;
	background-color: #A9B8C2;
}

div.spoiler-box {
	font-size: 0.95em;
}

span.spoiler-hidden, span.spoiler-visible {
	padding:0 2px;
}

div.spoiler-hidden, div.spoiler-visible {
	padding: 5px;
}

/* Nested spoilers */
div.spoiler div.spoiler {
	margin-left:15px;
}

/* new spoiler */


.sp-wrap			{ margin: 8px auto; }
.sp-wrap			{ width: 98%; clear: both; }
.sp-wrap .sp-wrap		{ margin: 2px auto 4px; }
.sp-wrap, .sp-head, .sp-body	{
	border: solid #C3CBD1; border-width: 1px 1px 1px 2px; clear: both;
}
.sp-body	{ padding: 2px 6px; }
.sp-head	{ text-align: left !important; }

.sp-wrap	{ padding: 0; background: #E9E9E6; }
.sp-head	{ border-width: 0; font-size: 11px; padding: 1px 14px 3px; margin-left: 6px; line-height: 15px; font-weight: bold; color: #2A2A2A; cursor: pointer; }
.sp-body	{ border-width: 1px 0 0 0; display: none; font-weight: normal; background: #F5F5F5; }

.clickable	{ cursor: pointer; }
.folded	{ display: block;
	background: transparent url(/images/spoiler/icon_plus_1.gif) no-repeat left center; padding-left: 14px; }
.unfolded	{ display: block;
	background: transparent url(/images/spoiler/icon_minus_1.gif) no-repeat left center; padding-left: 14px; }

var.postImgAligned {
	display: block;
}

img.postImg  { vertical-align: text-bottom; }
img.postImg        { margin: 2px 2px 0 0; }
img.postImgAligned { margin: 4px 4px 2px; }

.clear, .sp-title     { clear: both; height: 0; font-size: 0px; line-height: 0px; overflow: hidden; }
