@charset "utf-8";
/* Layout
 ------------ */
* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #ffffff;
	font-size: 62.5%; /* This sets the default font size to be equivalent to 10px =62.5% */
	margin: 0;
}

#wrapheader {
	height: auto !important;
	padding: 0;
	display: none;
}

#wrapcentre {
	margin: 15px 10px 0 10px;
}

#wrapfooter {
	text-align: center;
	clear: both;
}

#wrapnav {
	width: 100%;
	margin: 0;
	background-color: #EFEFEF;
	border-width: 1px;
	border-style: solid;
	border-color: #A9B8C2;
}

/*#logodesc {
	background-color: #C1CAD2;
	background-image: url('./images/background.gif');
	background-repeat: repeat-x;
	background-position: center bottom;
	padding: 0 25px 15px 25px;
}*/

#menubar {
	margin: 0 10px;
}

#datebar {
	margin: 10px 25px 0 25px;
}

#findbar {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.forumrules {
	background-color: #F9CC79;
	border-width: 1px;
	border-style: solid;
	border-color: #BB9860;
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.forumrules h3 {
	color: red;
}

#pageheader { }
#pagecontent { }
#pagefooter { }

#poll { }
#postrow { }
#postdata { }


/*  Text
 --------------------- */
h1 {
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 120%;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 120%;
}

h4 {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
}

p {
	font-size: 1em;
}

p.moderators {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.breadcrumbs {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
	white-space: normal;
	font-size: 1.2em;
}

.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
	margin: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}

.rtl p.datetime {
	float: left;
}

p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
}

p.searchbarreg {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
	padding-bottom: 4px;
}

p.topicauthor {
	margin: 1px 0;
	font-size: 1.1em;
}

p.topicdetails {
	margin: 1px 0;
}

.postreported, .postreported a:link, .postreported a:visited, .postreported a:hover, .postreported a:active {
	margin: 1px 0;
	color: red;
	font-weight:bold;
}

.postapprove, .postapprove a:link, .postapprove a:visited, .postapprove a:hover, .postapprove a:active {
	color: green;
	font-weight:bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
	padding-top: 5px;
}

.postauthor {
	color: #000000;
}

.postdetails {
	color: #000000;
}

.postbody {
	font-size: 1.3em;
	line-height: 1.4em;
	font-family: Verdana, Arial, Helvetica, sans-serif;/*"Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;*/
}
.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}
.signature {
	font-size : 11px;
	color:#333333
}
.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.posthilit {
	background-color: yellow;
}

.nav {
	margin: 0;
	color: black;
	font-weight: bold;
}

.pagination {
	padding: 4px;
	color: black;
	font-size: 1em;
	font-weight: bold;
}

.cattitle {

}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}

.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}

.copyright {
	color: #444;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;/*"Lucida Grande", Verdana, Arial, Helvetica, sans-serif;*/
}

.titles {
	font-family: Verdana, Arial, Helvetica, sans-serif;/* "Lucida Grande", Helvetica, Arial, sans-serif;*/
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

.error {
	color: red;
}

.online {
	color: #009933;
}


/* Tables
 ------------ */
th {
	color: #fff;
	font-size: 1.1em;
	font-weight: bold;
	background-color: #8b9ec2;
	/*background-image: url('./images/cellpic3.gif');*/
	white-space: nowrap;
	padding: 7px 5px;
}

td {
	padding: 2px;
}
td.profile {
	padding: 4px;
}

.tablebg {
	background-color: #ccc;
}

.catdiv {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #d3d4de;
	/*background: white url('./images/cellpic2.jpg') repeat-y scroll top left;*/
}
.rtl .catdiv {
	/*background: white url('./images/cellpic2_rtl.jpg') repeat-y scroll top right;*/
}

.cat {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #d3d4de;
	/*background-image: url('./images/cellpic1.gif');*/
	text-indent: 4px;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 1.2em;
}

.row1 {
	background-color: #EFEFEF;
	padding: 4px;
}

.row2 {
	background-color: #DEE3E7;
	padding: 4px;
}

.row3 {
	background-color: #D6D7DE;
	padding: 4px;
}

.spacer {
	background-color: #D1D7DC;
}

hr {
	height: 1px;
	border-width: 0;
	background-color: #D1D7DC;
	color: #D1D7DC;
}

.legend {
	text-align:center;
	margin: 0 auto;
}


.pagination strong {
	background-color: #efefff;
	font-weight:bold;
	color:#DD6900;
	font-size : 10px;
	padding: 0 2px;
	margin: 0 -2px;
	border: 1px solid #bfbfbf;

}

.pagesel {
}

/* Links
 ------------ */

/* Links adjustment to correctly display an order of rtl/ltr mixed content */
.rtl a {
	direction: rtl;
	unicode-bidi: embed;
}

/* CSS spec requires a:link, a:visited, a:hover and a:active rules to be specified in this order. */
/* See http://www.phpbb.com/bugs/phpbb3/59685 */
a:link {
	color: #004488;
	text-decoration: none;
}

a:visited {
	color: #005784;
	text-decoration: none;
}

a:hover {
	color: #000000;/*#D46400;*/
	text-decoration: underline;
}

a:active {
	color: #005784;
	text-decoration: none;
}

a.forumlink {
	color: #004488;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}

a.forumlink:hover {
	color: #dd6900;
}

a.topictitle {
	margin: 1px 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
}

a.topictitle:visited {
	color: #5493B4;
	text-decoration: none;
}

a.topictitle:hover {
     color: #dd6900;
}
th a,
th a:visited {
	color: #FFA34F !important;
	text-decoration: none;
}

th a:hover {
	text-decoration: underline;
}


/* Form Elements
 ------------ */
form {
	margin: 0;
	padding: 0;
	border: 0;
}

input {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	padding: 1px;
	border: 1px solid #A9B8C2;
	background-color: #FAFAFA;
}

textarea {
	background-color: #FAFAFA;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	line-height: 1.4em;
	font-weight: normal;
	border: 1px solid #A9B8C2;
	padding: 2px;
}

select {
	color: #333333;
	background-color: #FAFAFA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	border: 1px solid #A9B8C2;
	padding: 1px;
}

option {
	padding: 0 1em 0 0;
}

option.disabled-option {
	color: graytext;
}

.rtl option {
	padding: 0 0 0 1em;
}

input.radio {
	border: none;
	background-color: transparent;
}

.post {
	background-color: white;
	border-style: solid;
	border-width: 1px;
}

.btnbbcode {
	color: #000000;
	font-weight: normal;
	font-size: 1.1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #EFEFEF;
	border: 1px solid #666666;
}

.btnmain {
	font-weight: bold;
	background-color: #EFEFEF;
	border: 1px solid #A9B8C2;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnlite {
	font-weight: normal;
	background-color: #EFEFEF;
	border: 1px solid #A9B8C2;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnfile {
	font-weight: normal;
	background-color: #EFEFEF;
	border: 1px solid #A9B8C2;
	padding: 1px 5px;
	font-size: 1.1em;
}

.helpline {
	background-color: #DEE3E7;
	border-style: none;
}


/* BBCode
 ------------ */
.quotetitle, .attachtitle {
	margin: 10px 5px 0 5px;
	padding: 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #A9B8C2;
	color: #333333;
	background-color: #A9B8C2;
	font-size: 0.85em;
	font-weight: bold;
}

.quotetitle .quotetitle {
	font-size: 1em;
}

.quotecontent, .attachcontent {
	margin: 0 5px 0 5px;
	padding: 5px;
	border-color: #A9B8C2;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FAFAFA;
	color: #4B5C77;
}

.attachcontent {
	font-size: 0.85em;
}

.codetitle {
	margin: 10px 5px 0 5px;
	padding: 2px 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #A9B8C2;
	color: #333333;
	background-color: #A9B8C2;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

.codecontent {
	direction: ltr;
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #A9B8C2;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	color: #006600;
	font-size: 0.85em;
	font-family: Verdana, Arial, Helvetica, sans-serif;/*Monaco, 'Courier New', monospace;*/
	background-color: #FAFAFA;
}

.syntaxbg {
	color: #FFFFFF;
}

.syntaxcomment {
	color: #FF8000;
}

.syntaxdefault {
	color: #0000BB;
}

.syntaxhtml {
	color: #000000;
}

.syntaxkeyword {
	color: #007700;
}

.syntaxstring {
	color: #DD0000;
}


/* Private messages
 ------------------ */
.pm_marked_colour {
	background-color: #000000;
}

.pm_replied_colour {
	background-color: #A9B8C2;
}

.pm_friend_colour {
	background-color: #007700;
}

.pm_foe_colour {
	background-color: #DD0000;
}


/* Misc
 ------------ */
img {
	border: none;
}

.sep {
	color: black;
	background-color: #FFA34F;
}

table.colortable td {
	padding: 0;
}

pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}

.nowrap {
	white-space: nowrap;
}

.username-coloured {
	font-weight: bold;
}

#last_post {
  text-align:left;
   letter-spacing: -1px;
}
#last_post img {
  position: relative;
  float: left;
  /*vertical-align: middle;*/
  padding-top: 5%;
  padding-right: 7px;


}
/*
a.cross {

font-family: Verdana,Tahoma,Arial,sans-serif;

font-size: 11px;

color: #034694;

text-decoration: none;

}

a.cross:hover {

color: #dd6900;

text-decoration: underline;

}
*/


#mmenu {
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse:collapse;

}







#midd  {
    background: url(/images/crosslink/m_s_mid.gif) repeat-x  left center;
  	height: 20px;

}


.mid1    {
    background: url(/images/crosslink/m_ns_mid.gif) repeat-x left center;

	height: 20px;


}


#left1 {
	background: url(/images/crosslink/m_ns_left1.gif) no-repeat;
	width: 15px;
	height: 20px;
}

#left2 {
	background: url(/images/crosslink/m_s_left_2.gif) no-repeat;
	width: 15px;
	height: 20px;


}
#mmenu td {
	white-space: nowrap;
	margin: 0;
	padding: 0;
	border: 0;
}
 .out {



background: url(/images/crosslink/m_out.gif) repeat-x right;
	width: 100%;
	height: 20px;
 }

 #logo  {
	 padding-left: 5px;
 }




 #login_menu {

	 border: 1px solid #CCC; !important;
	 margin: 0;
	 padding: 0;
	 border-collapse: collapse;
	 background: #ddd;
	 width: 100%;
	 font-size: 1.1em;
 }

 #login_menu td {
	 padding: 4px;
	  border: 1px solid #CCC; !important;
 }



 #search-box {
	 background: #FFB444;
	 width: 27.1em;
	 white-space: nowrap;

 }

  #login_form {
	  background: #d3d4de;
	  border-collapse: separate;
	  border-spacing: 5px; !important;
	  border: 1px solid #CCC; !important;
  }
 #login_form td {
	border: 0;
 }


 #first_row  {
	 background: #FFF;
	 border: 0;
	 padding: 0;
	 margin: 0;
	 border-collapse:collapse;
}
.qr_float{
    position: fixed;
    bottom: 0px;
    left: 10px;
    right: 10px;
    border: 3px solid #555;
    z-index:999;
}
.qr_nofloat{
    width: 100%;
    position: static;
    border: 0px;
}

.qr_nofloat textarea{
    height: 100px;
}

.qr_nofloat textarea{
    height: 300px;
}

/* people, info, etc
 ------------ */

.uplinkblock {font-size:100%; width:850px; border:solid 1px #1e81ce; padding-left:10px; border-radius:5px; -moz-border-radius:5px; background:#f6f6f6 url("//www.overclockers.ru/images/pup_title.gif") no-repeat}
.uplinkblock.single {width:400px}
.uplinkblock ul {width:260px; float:left; margin:13px 10px 4px 0; padding:0 0 0 10px;}
.uplinkblock li {list-style-type:none; list-style-image: url("//www.overclockers.ru/images/marker.png");}
.uplinkblock.single ul {width:380px}
.uplinkblock.single ul.secondul {display:none}
.uplinkblock a {text-decoration:none}

.rastyazka span {color: white; background:#006699; bottom: 0; position: absolute;}
.rastyazka .itemimg {margin: 5px 5px 5px 0;}
.clogo {margin-left: 3px; float: left;}
.pricecol{vertical-align: bottom;}
.rastyazka td {padding: 0}
.rastyazka {
  font-size: 120%;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  border: 1px solid #006699;
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  -khtml-border-radius: 4px; /* KHTML */
  border-radius: 5px; /* CSS3 */
  behavior: url('//www.overclockers.ru/_css/border-radius.htc');
}

.infoblock_r {background:#eee; border-radius:5px; border:solid 1px #d6d6d6; text-align:left; margin-bottom:15px; padding:10px; width:220px}
.infoblock_r h2 {font-size:120%; margin:0; padding:0 0 0 15px;}
.infoblock_r ul {margin:5px 0 0 0; padding:0 5px 0 15px; font-size:110%}
.infoblock_r li {margin-bottom:7px}
.infoblock_r a {text-decoration:none}
