.clr{clear:both;}
body{}
header#header{width:100%;height:60px;background-color:#03c0ff;position:fixed;z-index:999;top:0;}
#header-wrup{width:960px;background-color:#0093c4;height:60px;margin:0 auto;border-left:1px solid #bdbdbd;border-right:1px solid #bdbdbd;}
#logo{padding:10px 15px;opacity:0.9;float:left;border-right:1px solid #bdbdbd;}
#ul-top-menu{float:left;display:block;}
#ul-top-menu ul{display:none;}
#category:hover>ul{display:block;}
#category ul{width:130px;background-color:#0093c4;}
#category>ul a{border-top:1px solid #bdbdbd;border-left:1px solid #0093c4;border-bottom:1px solid #0093c4;border-right:1px solid #0093c4;padding:5px;display:block;font:16px "Century Gothic", Verdana, Arial, Tahoma, sans-serif;color:#fff;}
#category>ul a:hover{background-color:#fff;color:#252525;}
#ul-top-menu>li{float:left;display:list-item;list-style:none;position:relative;}
#ul-top-menu>li>a{display:block;font:24px "Century Gothic", Verdana, Arial, Tahoma, sans-serif;font-weight:700;text-decoration:none;color:#fff;padding:0 15px;opacity:0.9;line-height:60px;}
#ul-top-menu>li>a:hover{opacity:1;background-color:#fff;color:#252525;}
#searchform{margin:12px 3px;float:right;}
#searchform input[type=submit]{font:16px "Century Gothic", Verdana, Arial, Tahoma, sans-serif;margin-top:-1px;width:37px;height:37px;float:right;}
#searchform input[type=submit]:hover{cursor:pointer;}
input[name=s]{float:left;border:none;bottom:0;display:block;padding:10px;width:150px;}
p,li{font:14px Verdana, Arial, Times New Roman;color:#252525;}
.top-ads{padding:20px;background-color:#f5f5f5;border-bottom:1px solid #bdbdbd;}
.content-post p,.content-post li{line-height:1.5;text-indent:50px;padding:10px 0 0;text-align:justify;}
.content-post h2, .content-post h3{text-align:center;padding-top:10px;}
table{border-collapse:collapse;}
tr, td{border:2px solid #303030;padding:5px 5px;text-align:center;}
a{text-decoration:none;}
ul{list-style:none;}
#contener{width:960px;margin:60px auto 0;background:#fff;overflow:hidden;border-left:1px solid #bdbdbd;border-right:1px solid #bdbdbd;}
#contenet{width:619px;float:left;border-top:1px solid #bdbdbd;border-right:1px solid #bdbdbd;}
.page-title, .entry{margin:15px;font-size:21px;}
.entry span{font-size:28px;color:#f00;}
.post{padding:20px 15px 20px 30px;border-bottom:1px solid #bdbdbd;}
.post h2{font:24px "Century Gothic", Verdana, Arial, Tahoma, sans-serif;color:#252525;font-weight:700;line-height:2.5em;}
.post h3{font:18px "Century Gothic", Verdana, Arial, Tahoma, sans-serif;color:#252525;font-weight:700;line-height:2.5em;}
.post p{font:14px Verdana, Arial, Tahoma, sans-serif;color:#252525;line-height:1.5em;}
.head-post{font:28px "Century Gothic", Verdana, Arial, Tahoma, sans-serif;color:#303030;font-weight:700;}
.head-post a{color:#303030;}
.head-post a:hover{background:#d0d0d0;}
p.meta-data a{display:block;padding:10px 0;float:left;font:12px Verdana, Arial, Tahoma, sans-serif;}
.meta-data{padding:10px 0;float:left;font:12px Verdana, Arial, Tahoma, sans-serif;}
.content-post{padding-bottom:20px;}
.meta-data a{font-weight:700;color:#303030;}
.meta-data a:hover{background-color:#d0d0d0;}
.top-cmnt{float:right;background-color:#252525;color:#fff;padding:3px 5px;border-radius:4px;}
.full-post{padding:3px 5px;text-decoration:none;background-color:#303030;color:#fff;float:right;border-radius:3px;}
.full-post:hover{background-color:#adadad;color:#252525;}
#pagination{display:table;margin:0 auto;padding:15px 0;}
#pagination a,#pagination span{padding:1px 6px;margin:0 3px;border:1px solid #d3d3d3;border-radius:3px;}
#pagination a{color:#000;}
#pagination span{background-color:#91abb8;color:#000;border-bottom:2px solid #696969;}
#pagination a:hover{background-color:#91abb8;border-bottom:2px solid #696969;}
#comments{margin-top:30px;border-top:1px dotted #303030;}
#comments-title{margin:10px 15px;font:20px Century Gothic, Verdana, Arial, Tahoma, sans-serif;color:#483D8B;}
.comment-body{margin:10px 0;padding:10px;border:1px solid #81B5EA;background-color:#E5F0FB;}
ul.children{margin-left:50px;}
ol.commentlist{list-style:none;}
div.comment-author.vcard{color:#000080;display:block;float:left;}
div.comment-author.vcard .fn{font:15px Century Gothic, Verdana, Arial, Tahoma, sans-serif;font-weight:bold}
div.comment-meta.commentmetadata{font-weight:bold;display:inline;margin-left:25px;color:#000;text-decoration:none;}
div.comment-meta.commentmetadata a{color:#000;}
div.comment-meta.commentmetadata a:hover{text-decoration:underline;background-color:#87CEEB;}
.comment-body p{font:16px normal Verdana, Arial, Tahoma, sans-serif;color:#303030;margin:15px 0;clear:both;}
.reply a{color:#000080;display:inline;background-color:#9CC5EE;padding:3px 5px 5px;border:1px solid #2982DB;}
.reply a:hover{color:#2982DB;background-color:#DEECF9;}
#respond{margin:10px 0;padding:10px;border:1px solid #81B5EA;background-color:#E5F0FB;}
#reply-title{margin:0 10px 15px;font:24px Century Gothic, Verdana, Arial, Tahoma, sans-serif;color:#000;}
#commentform p{margin:0 10px;font:12px Verdana, Arial, Tahoma, sans-serif;color:#000;}
#commentform label{display:block;margin:10px 10px 5px;}
#commentform input,#commentform textarea{padding:2px 2px;}
.form-submit input[type=submit]{cursor:pointer;}
.form-submit{padding:15px 0 5px;}
#sidebar{width:340px;float:right;border-top:1px solid #bdbdbd;}
.widget{padding:20px 10px;border-bottom:1px solid #bdbdbd;}
.widget h2{display:inline;padding:5px 10px;background-color:#0093c4;font:20px "Century Gothic", Verdana, Arial, Tahoma, sans-serif;font-weight:700;color:#fff;}
.widget li{padding:10px 0;border-bottom:1px solid #ddd;}
.widget a{font:14px Verdana, Arial, Tahoma, sans-serif;color:#1b1b1b;line-height:1.5em;}
.widget a:hover{background:#d0d0d0;}
#footer{width:960px;margin:0 auto;background:#303030;}
.wg-footer{width:188px;margin:20px 10px;display:inline;float:left;}
.wg-footer:first-child{margin-left:74px;}
.wg-footer h2{font:14px Verdana, Arial, Tahoma, sans-serif;color:#c0c0c0;padding-bottom:10px;border-bottom:1px solid #505050;font-weight:bold;}
.wg-footer li{margin:5px 0 0 25px;}
.wg-footer a{font:12px Century Gothic, Verdana, Arial, Tahoma, sans-serif;color:#83B8D2;}
.wg-footer a:hover{color:#fff;}
.wg-footer span{font:12px Century Gothic, Verdana, Arial, Tahoma, sans-serif;color:#c0c0c0;}
#copiright{margin:0 75px;border-top:1px solid #505050;padding:25px;font:12px Century Gothic, Verdana, Arial, Tahoma, sans-serif;color:#c0c0c0;}
#copiright a{color:#83B8D2;}
#copiright a:hover{color:#fff;}
.share42init{padding:6px 6px 0;}
.sample-posts{margin:0 30px;}
.sample-posts h3{font:16px Verdana;color:#666;text-align:center;padding:5px 0;}