body {
	margin:0px;
	background-color:#4a74a5;
	padding:0px 40px 0px 40px;
}

p,td {
	font-family:Tahoma, sans-serif;
	margin:3px;
	font-size:12px;
	color:#333;
}

a:link{color:#000;text-decoration:underline;}
a:visited{color:#000;text-decoration:underline;}
a:hover{color:#000;text-decoration:underline;}

h1 {
	font-size:18px;
	font-family:Arial;
	font-weight:bold;
	color:#4a74a5;
	margin:0px;
	padding-left:4px;
	padding-top:6px;
	padding-bottom:7px;
	border-bottom:1px solid #f1f1f1;
	text-decoration:none;
}

.franoup {
	padding:0px;
	margin:0px;
}

.franocenter {
	font-family:Verdana;
	padding:0px 20px 0px 20px;
	margin:0px;
	font-size:11px;
	background-color:#fff;
}

.fc {
	padding:15px 70px 15px 30px;
	text-align:justify;
	background-color:#fff;
	font-size:12px;
	
}


#fs {
	font-weight:bold;
	margin-top:0px;
	font-size:12px;
	color:#fff;
	background-color:#6f99cb;
	margin-bottom:0px;
	padding:2px 0px 2px 50px;
	border:0px solid #e7cc75;
	border-left:0px;
	border-right:0px;
}

.ft {
	padding:4px 0px 4px 0px;
	margin:0px;
	text-align:center;
	background-color:#d1d1d1;
	background-image:url(img/bg_down.gif);
}


#left a:link {
	display:block;
	background-color:#cce3fd;
	text-decoration:none;
	color:#000;
	padding:0px 1px 1px 25px;
	margin-bottom:1px;
	border-left:6px solid #bad4f4;
}

#left a:visited {
	display:block;
	background-color:#cce3fd;
	text-decoration:none;
	color:#000;
	padding:0px 1px 1px 25px;
	margin-bottom:1px;
	border-left:6px solid #bad4f4;
}

#left a:hover {
	display:block;
	background-color:#fff;
	text-decoration:none;
	color:#000;
	padding:0px 1px 1px 25px;
	margin-bottom:1px;
	border-left:6px solid #4a74a5;
}