select option.top{font-weight:bold; }
select option[selected]{background:#eee; }
#subscribe{float:right; font-size:10px; }

.tbutton{margin:2px 10px 0 0; }

/* Forum */
#forum_filter form{float:left; }
#forum_filter{float:right; clear:right; }
#filter_by{float:left; }
#forum_filter #filter_by{margin-top:3px; }
#thread_search_field{float:right; width:180px; margin-right:5px; }
#thread_search_button{float:right; margin-top:3px; }
.forumIcoTd img,
.forumLastPostTd img,
.threadIcoTd img,
.threadLastPostTd img,
.legendTd img{margin:0; padding:0; vertical-align:middle; max-width:60px; max-height:60px; }

.clear2{float:none; width:100%; clear:right; }

ul.user_awards_list{list-style:none; margin:0; padding:0; }
ul.user_awards_list li{display:inline; }

/* All captcha */
.myWinCont .captcha-block,
.captcha-block{box-sizing:border-box; display:flex; width:100%; cursor:pointer; min-height:37px; justify-content:space-around; align-items:center; }
#captcha-block-site-user-reg.captcha-block{display:inline-block!important; }
.captcha-answer{height:36px; text-align:center; padding:4px; width:90px; box-sizing:border-box; }
.captcha-renew,
.captcha-question{border:0; cursor:pointer; vertical-align:middle; width:auto; }
#captcha-answer-mchat,
#captcha-answer-site-user-del{width:60px; }
.recaptcha-wrapper{position:relative; width:303px; height:77px; background:url('/.s/img/sh/wait.gif') no-repeat center center; overflow:hidden; }
.recaptcha-wrapper [id^="recaptcha_"]{text-align:left; display:inline-block; vertical-align:middle; }
.recaptcha-wrapper div{padding:0!important; }
.recaptcha-wrapper [id^="recaptcha_"] iframe{border:0; }
.recaptcha-wrapper span[data-reset]{display:inline-block; cursor:pointer; border-radius:40%; position:absolute; width:30px; height:30px;
	top:12px; right:26px; }
.recaptcha-wrapper.compact{width:159px; height:139px; margin:0 auto; }
.recaptcha-wrapper.compact span[data-reset]{width:22px; height:22px; top:auto; bottom:31px; left:14px; }

/* Mini chat */
form#MCaddFrm .captcha-answer{width:70px; }
form#MCaddFrm .captcha-renew{display:none; margin:0 -2px; }
#mchatMsgF{box-sizing:border-box; }

/* spam report */
.report-spam-target:hover .uc-top-right {white-space:normal; /* dirty hack for soc-comments */ }
.report-spam-wrap {margin-left:0; /* 5px; */margin-right:0; /* 5px; */opacity:0; -webkit-transition:opacity .3s ease-in-out; -moz-transition:opacity .3s ease-in-out; -o-transition:opacity .3s ease-in-out; transition:opacity .3s ease-in-out; float:left; }
.report-spam-wrap.report-spam-wrap-manage {opacity:1; float:none; }
.report-spam-target:hover .report-spam-wrap {opacity:1; }
.report-spam-wrap a {display:none; }
.report-spam-target:hover .report-spam-wrap a {/* display:initial does not work in IE 11 :( */display:inline; margin-right:10px; }
.report-spam-toggle-wrapper {text-align:center; color:gray; padding:10pt 0; margin:10px 0; border-top:1px dashed gray; border-bottom:1px dashed gray; }
.report-spam-toggle-wrapper.report-spam-toggle-shown {border-bottom:none; }
.report-spam-hidden {opacity:0.7; transition:opacity .2s ease-in-out; -moz-transition:opacity .2s ease-in-out; -webkit-transition:opacity .2s ease-in-out; }
.report-spam-hidden:hover {opacity:1; }
.report-spam-count-msg {margin-right:10px; }

.com-order-block {text-align:right; }
.hidden-for-calendar {display:none; }
.myWinCont *{box-sizing:border-box; }
.UhideBlockL{display:inline-block; }
.uBorder-b{border-bottom:1px solid #ccc; margin:0 0 10px; padding:0 0 10px; text-align:right; }

/* PM */
form#pmdform [data-deleteitem]{background:url('/.s/img/fr/OmnD.gif') center center; width:16px; height:16px; display:inline-block; vertical-align:middle; }
form#pmdform [data-deleteitem]:hover{background:url('/.s/img/fr/OmnD_.gif') center center; }
form#pmdform [name=s], form#pmdform [name=soll],
form#pmdform #dpms{vertical-align:middle; }

/* Форма добавления/редактирования материала */
.u-comboeditcell{position:relative; }
.u-comboedit{min-width:360px; padding:0 25px 0 10px; overflow:hidden; vertical-align:middle; border:0; white-space:pre-wrap;
	background-color:transparent; background-image:url('/.s/src/panel-v2/img/select_arrow.png'); background-repeat:no-repeat;
	background-position:center right 7px; line-height:1.75; box-sizing:border-box; color:#000; outline:none; }
.u-comboedit:hover{background-image:url('/.s/src/panel-v2/img/select_disabled_arrow.png'); }
form #uCatsMenu7{position:absolute; z-index:50; min-width:360px; }
.u-combolist{box-sizing:border-box; color:#000; font:normal 0.9em 'PT Sans', sans-serif; border:1px solid #B5B8C8; border-top:0px; background:#fff;
	height:250px; overflow:auto; padding:2px; }
.u-combolist input[type=checkbox]{margin:0; vertical-align:middle; }
.u-combolist > div{margin:2px 0 0; }
.u-combolist > div:hover{background:#39f; color:#fff; }
.u-combolist > div input[name=ocat][data-parentid]{margin:0 0 0 15px; }
.u-combolist > div label{vertical-align:middle; }

form ul.form-fields,
ul.form-fields > li{display:block; margin:0; padding:0; list-style:none; box-sizing:border-box; }
ul.form-fields > li{display:inline-block; padding:0; vertical-align:middle; margin:2px 0; }
form ul > li.notcolumn{display:block; clear:both; }
ul.form-fields > li:nth-of-type(1n):not(.notcolumn){width:30%; }
ul.form-fields > li:nth-of-type(2n):not(.notcolumn){width:70%; }
@media (max-width:575px){
	ul.form-fields > li:nth-of-type(1n):not(.notcolumn),
	ul.form-fields > li:nth-of-type(2n):not(.notcolumn){width:100%}
	.u-comboedit,form #uCatsMenu7{min-width: 260px}
}
ul.form-fields [type=file]{border:none!important; width:90%; box-sizing:border-box; padding:4px 0 !important; }
ul.form-fields [type=text]:not([name=sort]):not([name=code]):not([name=uzip]),
ul.form-fields textarea{width:100%; box-sizing:border-box; }
ul.form-fields [name=code]{text-align:center; }
ul.form-fields .fHelp{font-size:.85em; }

form#addEntForm span[id*="iCode"]{display:block; margin:0; border-radius:8px; padding:0;position:relative;}
form#addEntForm span[id*="iCode"].added{margin:7px 0 15px; padding:1px 10px; background:rgba(127, 127, 127, .5); }
form#addEntForm span[id*="iCode"] div[id*="iCode"]{display:none; }
form#addEntForm span[id*="iCode"].openednow{padding:1px 10px; min-height:110px; }
form#addEntForm span[id*="iCode"].openednow div[id*="iCode"]{display:block; }
form#addEntForm span[id*="gbut"]{width:23px; height:23px; margin:0 0 0 5px; cursor:pointer; border-radius:50%; display:inline-block; vertical-align:middle; }
form#addEntForm span[id*="gbut"].openednow{background-position:-41px -20px; }
/* form#addEntForm div#imblock1{margin-top:7px; } */
form#addEntForm div[id*="imblock"]{position:relative; margin-top:12px; }
form#addEntForm div[id*="imblock"] span[id*="gbut"]{top:0; margin:0 0 0 21px; }
form#addEntForm .iCode_el{margin:0; padding:0; display:block; float:left; width:90px; box-sizing:border-box; }
form#addEntForm .iCode_el .iCode_el_tooltip{margin-bottom:15px; z-index:1; visibility:hidden; opacity:0; position:absolute; bottom:100%; left:0; text-align:left; padding:5px 12px; border-radius:4px; background:#000; background:rgba(0, 0, 0, .8); color:#fff; font:400 11px/1.5 'PT Sans', Arial, sans-serif;max-width: 300px; transition:all .2s ease-out; }
form#addEntForm .iCode_el:hover .iCode_el_tooltip{opacity:1; visibility:visible; margin-bottom:10px; }
form#addEntForm .iCode_el_tooltip:hover{opacity:0!important; visibility:hidden!important; margin-bottom:15px!important; }
form#addEntForm span.iCode_el_tooltip:before{position:absolute; display:block; content:""; top:100%; left:0; width:100%; height:12px; }
form#addEntForm span.iCode_el_tooltip:after{position:absolute; display:block; content:""; top:100%; left:30px; margin:0 0 0 -6px; border:6px solid rgba(0, 0, 0, 0); border-top-color:#000; border-top-color:rgba(0, 0, 0, .8); }
form#addEntForm .iCode_block{position: relative;clear:both; width:100%; margin:9px 0; }
form#addEntForm .iCode_block:after{content:''; display:block; clear:both; width:100%; }
form#addEntForm .iCode_in{display:block; width:auto; padding-left:95px; }
form#addEntForm .iCode_main_inp{font-family: monospace!important;font-size: 100%; width:90px!important; min-width:90px!important; max-width:90px!important; margin:0!important; background:#F0F0F0!important; border:1px inset #F0F0F0!important; }
form#addEntForm .iCode_in input{font-family: monospace!important;max-width: 100%;font-size:100%!important; text-align:center!important; width:auto; min-width:40px; }
form#addEntForm .iPhotoPrev{width:150px; position:absolute; top:10px; right:10px; max-height:120px; overflow:hidden; text-align:center; }
form#addEntForm div .iPhotoPrev a{display:block; max-height:100px; overflow:hidden; margin:0 0 5px; }
form#addEntForm [type=checkbox][name^=del_img],
form#addEntForm [for^=del_img]{margin:0 5px 0 0; vertical-align:top; }
form#addEntForm [name^="iws"]{margin:0 4px 4px 0;padding-left:0!important;padding-right: 0!important}
form#addEntForm [name^="ihs"]{margin:0 0 4px 4px;padding-left:0!important;padding-right: 0!important}
form#addEntForm #isontop ~ *{display:none; }
form#addEntForm #isontop:checked ~ *{display:inline-block; }
form#addEntForm [name=screen]{color:#00f; width:70%; }
form#addEntForm [name=file]{color:#f00; width:70%; }
form .filterBlock{max-height:200px; overflow:auto; }
form .filterBlock > label{display:inline-block; width:49%; }

form#addEntForm [id^="iCode_"]  .iCode_block {max-width: calc(100% - 170px);}
form#addEntForm [id^="iCode_"]  .iCode_block input {width: 100%;}

form#addEntForm [data-viewport="medium"] .iPhotoPrev,
form#addEntForm [data-viewport="medium"]~[id^="iCode"] .iPhotoPrev{position:inherit;margin: 0 auto; max-width:300px; width:auto;max-height: unset}
form#addEntForm [data-viewport="medium"] .iPhotoPrev a,
form#addEntForm [data-viewport="medium"]~[id^="iCode"] .iPhotoPrev a { max-height: unset}
form#addEntForm [data-viewport="medium"]  .iCode_block,
form#addEntForm [data-viewport="medium"]~[id^="iCode"] .iCode_block {max-width: 100%}

ul.form-fields div.seo-field-text-counter, div.seo-field-text-counter{color:green; }
ul.form-fields div.seo-field-text-counter.error, div.seo-field-text-counter.error{color:red; }
ul.form-fields .seo-mtf-hide,
ul.form-fields .seo-mtf-hide + li,
.seo-mtf-hide{display:none; }
ul.form-fields .seo-mtf-hide.seo-mtf-show,
ul.form-fields .seo-mtf-hide.seo-mtf-show + li{display:inline-block; }
.seo-mtf-hide.seo-mtf-show{display:table-row; }
ul.form-fields li.meta.notcolumn{display:none; }
ul.form-fields li.seo-mtf-hide.seo-mtf-show ~ li.meta.notcolumn{display:block; }

ul.form-fields img#secImg{cursor:pointer; }
.cut_helper{background:rgba(127,127,127,.5); border-radius:3px; padding:0 4px 1px; vertical-align:middle; }
.edtTypeMenu:before{content:'[ '; }
.edtTypeMenu:after{content:' ]'; }

/* Форма добавления/редактирования фотографии */
form .navTabs{text-align:center; margin:0 0 7px; padding:0; border-bottom:3px solid rgba(127, 127, 127, .45); }
form .navTabs > *{display:inline-block; width:32%; line-height:2.5; margin:0; padding:0; vertical-align:bottom; color:#777;
	text-decoration:none; font-weight:bold; }
form .navTabs > b{background:rgba(127, 127, 127, .15); color:inherit; border-radius:7px 7px 0 0; }

form ul.xPhtBlock{background:rgba(127, 127, 127, .15); padding:13px; margin:4px 0; position:relative; }
form ul.xPhtBlock:nth-of-type(2n){background:transparent; }
form ul.xPhtBlock:not(.xOpened) > li:not(.xPhtName):not(.xPhtAction):not(.xPhtPath):not(.xPhtTitle):not(.required){display:none; }
form ul.xPhtBlock > li{display:inline-block; padding:0; vertical-align:middle; margin:2px 0; }
form ul.xPhtBlock > li.notcolumn{display:block; }
form ul.xPhtBlock > li:nth-of-type(1n):not(.notcolumn){width:30%; }
form ul.xPhtBlock > li:nth-of-type(2n):not(.notcolumn){width:70%; }

form ul.xPhtBlock .xPhtName{border-bottom:2px solid rgba(127, 127, 127, .3); padding:0 0 7px; }
form ul.xPhtBlock .xPhtAction{text-align:right; }
form ul.xPhtBlock .xPhtAction > span{position:absolute; top:13px; right:13px; width:auto; padding:0; }
form ul.xPhtBlock .xPhtAction > span button{padding:0!important; }
form ul.xPhtBlock .xPhtAction [data-toggle]:before{content:''; width:15px; height:20px; display:inline-block;
	background:url('/.s/src/panel-v2/img/select_arrow.png') no-repeat center; vertical-align:middle; }
form ul.xPhtBlock .xPhtAction [data-clear]:before,
form ul.xPhtBlock .xPhtAction [data-close]:before{content:'\2716'; width:15px; height:20px; color:#676A6F; font:bold 1em/1.9em sans-serif;
	display:inline-block; vertical-align:middle; }
form ul.xPhtBlock.xOpened .xPhtAction [data-toggle]:before{-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }

form #newPhtBt{padding:5px 7px; }
form .localOrRemote{font:normal 7.5pt/1 sans-serif; }
form [name=uzip]{width:75%; }
#photoMetaFields input[type=text]{width:100%; }
#photoMetaFields textarea{width:100%; resize:none; }
#newpName, #newpUrl{width:100%; }

/* Дефолтные стили полей формы при миграции */
form#addEntForm > table > tbody > tr:first-child > td:first-child{width:35%; }
form#addEntForm > table input[type=text]:not([name=sort]):not([name=code]):not([name^=iws]):not([name^=ihs]),
form#addPhtFrm input[type=text]:not([name=sort]):not([name=code]):not([name=uzip]),
form#addEntForm > table textarea{width:100%; box-sizing:border-box; }

/* Добавление спецификации */
#gcatalog .ghead{ padding-left:5px; background:#D4E0F1 url(/.s/img/wd/7/cmp-bg.gif) repeat-x 0 0; }
#gcatalog #gc-form{ padding:1px; margin:0; background:transparent url('/.s/img/fr/searchbg.png') no-repeat 0 0; float:right; width:120px; height:22px; position:relative; text-align:left; vertical-align:middle; line-height:20px; }
#gcatalog #gc-form #gc-search-key{border:none; padding:0 2px 3px; margin:0; display:inline-block; width:97px; background:transparent; height:20px; }
#gcatalog #gc-form > div{ padding:0; margin:0; display:inline-block; width:20px; vertical-align:middle; float:right; height:20px; cursor:pointer; }

/* Sort list */
.catSortLink.uarr:after{content:'\2191'; color:rgba(127, 127, 127, .75); }
.catSortLink.darr:after{content:'\2193'; color:rgba(127, 127, 127, .75); }

/* Ajax loader */
#myGrid{position:fixed; top:0; right:0; bottom:0; left:0; background-image:url('/.s/img/fr/g.gif'); z-index:105; }
#myGrid img{position:fixed; top:50%; left:50%; margin:-9px 0 0 -110px; width:220px; height:19px; }

/* Tags */
#suggEdit{width:100%; box-sizing:border-box; }
