.share1{
	background: none repeat scroll 0 0 #F3F8FC;
	border:1px solid #CFDEEF  ;
	border-radius:5px;
	box-shadow: -1px 1px 0 #FFFFFF inset, 0 -1px 0 #FFFFFF inset;
	left: 50%;
	right: 0;
	opacity: 0.85; 
	padding: 6px;
	position: fixed;
	bottom:0px;
	width:964px;
	margin-left:-492px;
	z-index:999;
	text-align: left;
 }
.share1 .conteiner{
float:left;
overflow:hidden;
margin: 2px 0;
z-index:1000;
text-align:center
}
.share1 .conteiner:hover{
overflow:visible !important;
}
.share1:hover {
opacity: 0.99;
  background: #F6F6F6;
  border: 1px solid #D4D4D4;
  box-shadow: 0 0 5px #DDD;
 
}

.share3{
	float: left;
	background: none repeat scroll 0 0 #F3F8FC;
	border:1px solid #CFDEEF  ;
	border-radius:5px;
	box-shadow: -1px 1px 0 #FFFFFF inset, 0 -1px 0 #FFFFFF inset;
	padding: 6px;
	margin: 4px 14px 14px 7px;
	bottom:0px;
	width:580px;
	text-align: center;
 }
.share3 .conteiner{
float:left;
overflow:hidden;
margin: 2px 0;
z-index:1000;
text-align:center
}
.share3 .conteiner:hover{
overflow:visible !important;
}
.share3:hover {
opacity: 0.99;
  background: #F6F6F6;
  border: 1px solid #D4D4D4;
  box-shadow: 0 0 5px #DDD;
 
}

/*Subscribe BOX*/

#rss, #twitter {
  float: left;
  width: 100px;
  height: 140px;
  background: url(i/rss.png) no-repeat;
  margin: 4px 14px 0 7px;
  text-indent: -9999px;
}
#twitter {
  width: 115px;
  height: 126px;
  background: url(i/twitter.png) no-repeat;
}
ul.subscribes {
  float: left;
  width: 300px;
  margin: 8px 0;
}

.subscribes a#rss2,
.subscribes a#twitter2 {
	color: #F70;
  padding-left: 5px !important;
  padding-bottom: 3px;
}
.subscribes a#twitter2 {
width: 300px;
float: left;
	color: #0094E1;
	padding-top: 10px;
}

#rss2mail {
	float: right;
	width: 175px;
	overflow: hidden;
	padding: 1px;
}
#rss2mail label {
	display: block;
	padding: 0 0 5px 8px;
  font-weight: bold;
}
#rss2mail input,
#rss2mail button {
	float: right;
}
.rss2mail, #solo-subscribe-email {
	width: 100px;
	height: 26px;
  font: 13px "Trebuchet MS", Arial, Tahoma, sans-serif;
	padding: 0 8px;
}
#solo-subscribe-email {
	width: 120px;
}
#rss2mail button.go, #solo-subscribe {
	height: 28px;
	vertical-align: middle;
	font: bold 13px "Trebuchet MS", Arial, Tahoma, sans-serif;
	margin: 0 0 0 4px;
	cursor: pointer;
	color: #555;
	padding: 4px 10px;
  border: 1px solid #CCC;
  border-bottom-color: #AAA;
	background: -webkit-linear-gradient(top, #FFF, #E0E0E0);
	background:    -moz-linear-gradient(top, #FFF, #E0E0E0);
	background:     -ms-linear-gradient(top, #FFF, #E0E0E0);
	background:      -o-linear-gradient(top, #FFF, #E0E0E0);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E0E0E0',GradientType=0 );
	background-color: #EDEDED;
	box-shadow: inset 0 0 1px #FFF;
	text-shadow: 0 1px #FFF;
	border-radius: 3px;
	outline: none;
}
#rss2mail button.go::-moz-focus-inner {border:0}
#rss2mail button.go {
	width: 36px;
}
#rss2mail button.go:hover, #solo-subscribe:hover {
  border-color: #999;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #FFF;
}
#rss2mail button.go:active, #solo-subscribe:active {
  border-color: #AAA;
  border-top-color: #999;
  border-bottom-color: #CCC;
	background: -webkit-linear-gradient(top, #E6E6E6, #DCDCDC);
	background:    -moz-linear-gradient(top, #E6E6E6, #DCDCDC);
	background:     -ms-linear-gradient(top, #E6E6E6, #DCDCDC);
	background:      -o-linear-gradient(top, #E6E6E6, #DCDCDC);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6E6E6', endColorstr='#DCDCDC',GradientType=0 );
	background-color: #DCDCDC;
	box-shadow: inset 0 1px 2px #AAA;
}
/*
#rss2mail button:after, #solo-subscribe:after {
	content: '';
}
*/

#vsfeedcount,
#vstwittercount {
	float: left;
	overflow: hidden;
	/*margin: 13px 0 8px 131px;*/
	margin: 8px 0 5px 5px;
	padding: 0 5px 0 0;
	text-align: center;
}

/* tabs */
.section {
  border: 4px solid #F9F9F9;
	margin: 0 0 22px;
	border-radius: 10px;
}
ul.tabs {
	height: 27px;
	background: #FFF;
	border: none;
  border-bottom: 1px solid #F9F9F9;
	margin: -4px -4px 0 !important;
	padding: 0 4px;
	overflow: hidden;
}
.tabs li {
	float: left;
	line-height: 27px;
  margin: 0 1px 0 0;
	padding: 0 0 0 11px;
  font-weight: bold;
	cursor: pointer;
	clear: none;
	border: none;
}
.tabs li span {
	float: left;
	padding: 0 11px 0 0;
	height: 27px;
	color: #00A3E3;
	text-shadow: 1px 1px 1px #FFF;
}
.tabs li.current {
  background: url(i/tabs.gif) no-repeat;
}
.tabs li.current span {
  background: url(i/tabs.gif) 100% 0 no-repeat;
	color: #444;
}
.tabs li:hover {
  background: url(i/tabs.gif) 0 -27px no-repeat;
}
.tabs li:hover span {
  background: url(i/tabs.gif) 100% -27px no-repeat;
}
.tabs li:hover span {
	color: #D26200;
}
div.box {
  border: 1px solid #E1E1E1;
	padding: 5px 5px;
	display: none;
	float: right;
	border-radius: 0 5px 5px 5px;
	height: auto;
}
div.box.visible {
	display: block;
	width:300px;
}
div.box:hover {
  border: 1px solid #D4D4D4;
}
/* end tabs */
/* LightBox */
#jquery-overlay{position:absolute;top:0;left:0;z-index:90;width:100%;height:500px}
#jquery-lightbox{position:absolute;top:0;left:0;width:100%;z-index:100;text-align:center;line-height:0}
#jquery-lightbox a,#jquery-lightbox a:hover{border:none}
#jquery-lightbox a img{border:none}
#lightbox-container-image-box{position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto}
#lightbox-container-image{padding:10px}
#lightbox-loading{position:absolute;top:40%;left:0%;height:25%;width:100%;text-align:center;line-height:0}
#lightbox-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}
#lightbox-container-image-box > #lightbox-nav{left:0}
#lightbox-nav a{outline:none}
#lightbox-nav-btnPrev,#lightbox-nav-btnNext{width:49%;height:100%;zoom:1;display:block}
#lightbox-nav-btnPrev{left:0;float:left}
#lightbox-nav-btnNext{right:0;float:right}
#lightbox-container-image-data-box{font:10px Verdana,Helvetica,sans-serif;background-color:#fff;margin:0 auto;line-height:1.4em;overflow:auto;width:100%;padding:0 10px 0}
#lightbox-container-image-data{padding:0 10px;color:#666}
#lightbox-container-image-data #lightbox-image-details{width:70%;float:left;text-align:left}
#lightbox-image-details-caption{font-weight:bold}
#lightbox-image-details-currentNumber{display:block;clear:left;padding-bottom:1.0em}
#lightbox-secNav-btnClose{width:66px;float:right;padding-bottom:0.7em}

