

/* Start:/bitrix/templates/museum/styles.css?150272291135*/
.over {text-decoration: overline;}

/* End */


/* Start:/bitrix/templates/museum/template_styles.css?150272291115340*/
body {font-size: 10pt;  font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif; line-height: 14pt;  padding: 0px; margin: 0px; font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif; background-color: #FFF;}
A.Inverted {text-decoration: none; font-weight: bold; color: #ffffff;}
html {	font-size: 82.01%;	}

 h2, h3, h4 { line-height: 120%;
 font-weight: normal;
      font-size: 1.5em;
      font-family: Verdana, Arial, Helvetica, sans-serif;
	  color: #0054A6;
      max-width: 1000px;
      width: expression(document.body.clientWidth < 400? "400px" : document.body.clientWidth > 1600? "1000px" : "auto");}

 h3 {font-size: 1.3em;}
 h4 {font-size: 1.1em;}
 p {font: 10pt sans-serif;
    max-width: 1000px;
	width: expression(document.body.clientWidth < 400? "400px" : document.body.clientWidth > 1600? "1000px" : "auto");	
 }
 ul {font-size: 10pt; line-height: 12pt;}
 ul.ListContinue {list-style-type: none;}
 ol {font-size: 10pt; line-height: 12pt;}
 li {font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
	margin-top: 0.5em;
	margin-bottom: 1em;
}
 
 code {}
 sub {vertical-align: sub; font-size: smaller;}
 sup {vertical-align: super; font-size: smaller;}

 .HTMLCode {font-weight: bold;  color: #00375c;}
 .CodeDiv {font-weight: bold;  color: #00375c;}
 .CodePre { white-space: pre; font-weight: bold;  color: #00375c;}
 .CodeSpan {font-weight: bold;  color: #00375c;}
 .plaintext {font: 10pt;}
 .plainbold {font-weight: bold; font-size: 10pt; }
 .Symbol {font-family: symbol;}
 .Greek {font-family: symbol;}
 .UpperIndex {vertical-align: super; font-size: smaller;}

span.EndnoteRef{font-weight: bold;}

a.EndnoteRef{ font-weight: bold;}

p.Separator {font-weight: bold; text-align: center; }
p.SubHeader {
	font-size: 1.8em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	text-align: left;
	font-weight: normal;
	color: #0054A6;
	letter-spacing: -1px;
	margin-top: 1.2em;
	margin-bottom: 0.2em;
}
p.SuperHeader {font-size: 1em;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-style: italic; text-align: center;}
p.LowerHeading {font-size: 1em;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
p.HeadingLow {font-size: 1em;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-weight: bold;}
p.AuthorRef {font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-bottom: 0.1em;
	font-style: italic;
	color: #666666;
	margin-top: 2em;}
p.StoryBody {
	font-size: 1em;
	font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: 1.4em;
	margin-bottom: 1.5em;
}
p.StoryIntro {
	font-size: 1em;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	text-align: left;
	line-height: 1.4em;
	margin-bottom: 1.5em;
}
p.StoryCredits {font-size: 9pt;  font-style: italic; text-align: justify; margin-left: 20pt;}
p.StoryRef {font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-bottom: 0.1em;
	font-style: italic;
	color: #666666;
	margin-top: 2em;}
p.StoryNote {font-size: 9pt;  text-align: left; margin-left: 20pt;}
p.StoryAuthor {
	font-size: 1.3em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-bottom: 1.3em;
	font-style: italic;
	color: #666666;
	margin-top: 0.1em;
}
p.StoryQuote {font-size: 10pt;
	font-style: italic;
	text-align: left;
	margin-bottom: 3pt;
	padding-left: 40px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	padding-right: 50px;}
p.StoryQuoteRef {font-size: 10pt;  font-style: italic; text-align: right; margin-bottom: 3pt; margin-left: 20pt;}
p.StoryLyrics {font-size: 10pt;  font-style: italic; text-align: center; margin-bottom: 3pt;}
p.StoryRemark {font-size: 10pt;  font-style: italic; text-align: justify;}
p.StoryEpigraph {
      font-size: 1em;
      font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
      font-style: italic;
      font-weight: normal;
      text-align: right;
      margin-bottom: 6px;
     line-height: 1.4em;}

p.StoryEpigrAuthor {
      font-size: 1em;
      font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
      font-style: italic;
      font-weight: bold;
      text-align: right;
      margin-bottom: 25px;
      margin-top: 1px;
}

p.NavBlock {font-size: 10pt;  font-style: plain; text-align: center; margin-left: 10pt; margin-right: 10pt; margin-top: 3pt; margin-bottom: 3pt;}
h1.Vrezka {font-weight: bold;  font-size: 11pt;  text-align: left;}
p.VrezkaH1 {font-weight: bold; font-size: 11pt; text-align: left;}
p.VrezkaBody {font-size: 9pt; }
div.Vrezka {margin-left: 10pt;}
div.Vrezka p {font-size: 9pt; }
p.VrezkaAuthor {font-size: 9pt; font-style: italic; text-align: right; }
p.BooklistTitle {
	font-size: 1.4em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	text-align: left;
	font-weight: normal;
	color: #0054A6;
	letter-spacing: -1px;
	margin-top: 1.2em;
	margin-bottom: 1px;
}

 .BookAuthor {font-weight: bold; font-style: italic;}
 .BookTitle {font-style: italic;}
 .PictureText {font-weight: bold; }
 .StoryInlineQuote {font-style: italic;}
 .StoryInlineRemark {font-weight: bold; font-style: italic;}

 .StoryInlineHeader {font-weight: bold;}
 .Strong {font-weight: bold;}

 .GameTitle {font-weight: bold; font-size: 11pt; color: #7691B3;}
 .GameAnnot {font-size: 9pt;}
 .GameRef {font-size: 9pt; margin-top: 1pt;}

p.Question {font-style: italic; margin-bottom: 3pt;}
p.Answer {font-style: plain;}

td.GbookMsg { font-size: 10pt; }
.GbookMsg {border-bottom: 1px solid #003792; padding-bottom: 5px;}
.GbookMsg span {font-weight: bold;}
.TableTop { font-size: 10pt; font-weight: bold; color: #FFFFFF; }
.qmnd { font-size: 10pt; font-weight: bold; }
.qinfo { font-weight: bold; }
iput { font-size: 8pt; font-weight: bold; }
ul.ul_razdel {
	
	margin-top: 15px;
	}
ul.ul_razdel li {list-style-image: url(/images/design/arrow2.gif);
	margin-bottom: 7px;
	margin-top: 7px;
	
		}
div.left_menu ul.ul_razdel3 {list-style-image: url(/images/design/arrow2.gif);
	margin-top: 15px;
	margin-left: -20px;}
ul.ul_razdel a, ul.ul_razdel3 a {
	color: #0000FF;
	text-decoration: none;
	font-weight: normal;
}

ul.ul_razdel a:hover, ul.ul_razdel3 a:hover {
	color: #333333;
	text-decoration: underline;
}
.border1 {
	border-bottom: 1px solid #003792;
}
.border2 {
	border-bottom: 1px solid #003792;
	border-right: 1px solid #003792;
}
ol.a {
	list-style-type: lower-alpha;
}
.border3 {	border: 1px solid #003792;}

#center_2 td {
	padding: 5px;
}
#center_2 th {
	padding: 5px;
}

.EndnoteText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 20px;
}

h3.SubHeader {
	font-size: 1.8em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	text-align: left;
	font-weight: normal;
	color: #0054A6;
	margin-top: -0.2em;
	margin-bottom: 0.8em;
}

#center_2 h1 {
	font-size: 200%;
	color: #0054A6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 50px;
	padding-bottom: 1px;
line-height: 120%;}
#center_print h1 {
	font-size: 150%;
	color: #0054A6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 1px;}
#center_print h2 {
	font-size: 140%;
	color: #0054A6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 1px;}
	#center_print h3 {
	font-size: 130%;
	color: #0054A6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 1px;}
#center_print td {
	padding: 5px;
}
#center_print th {
	padding: 5px;
}ul.text_news {
	margin-left: 70px;
}


 #top {
	width: 100%;
	height: 150px;
	background-image: url(/images/design/fon2.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
 #logo {
	position: absolute;
	left: 52px;
	top: 42px;
}
#logo2 {margin-left: 0px; margin-top: 20px;}
 #nav {
	float: right;
	text-align: right;
	margin-left: auto;
	position: absolute;
	top: 70px;
	right: 30px;
	}
 #nav img {
	vertical-align: top;
}	
 #main {
	clear: both;
	width: 99%;
	margin-top: 15px;
	overflow: hidden;
	padding-bottom: 0px;
}

 #left {
	float: left;
	width: 23%;
	margin-left: 30px;
	margin-top: 10px;
}


 #center {
	float: left;
	width: 43%;
	margin-top: 10px;
	padding-right: 20px;
	padding-left: 30px;
	
}
#right {
	float: right;
	width: 23%;
	margin-right: 20px;
	margin-top: 10px;
}

 #bottom {
	clear: both;
	background-image: url(/images/design/fon2.gif);
	background-repeat: repeat-x;
	background-position: left top;
	margin-top: 10px;
	padding-top: 30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	padding-left: 30px;
	padding-bottom: 30px;
}
#bottom_print {
	margin-top: 10px;
	padding: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-image: url(/images/design/3px.gif);
	background-repeat: repeat-x;
	}
div.section1 {
	border-right: 1px solid #425d8c;
	border-bottom: 1px solid #425d8c;
	border-left: 1px solid #425d8c;
	background-image: url(/images/design/fon1.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	margin-top: -18px;
}
div.section2 {
	border: 1px solid #5C92C6;
	background-image: url(/images/design/fon1.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-top: 1px;
	padding-right: 20px;
	padding-bottom: 30px;
	margin-bottom: 10px;
	
}

html:root div.section2 {
	padding-bottom: 15px;
}

#left h2, #right h2 {
	text-align: left;
	color: #0054A6;
	font-size: 1em !important;
	padding-top: 10px;
	margin-top: 0px;
	line-height: 120%;
	margin-bottom: 5px;
	padding-right: 20px;	
}

#left div.h1_bg, #right div.h1_bg {	
	margin-left: 15px;
	padding-left: 10px;	
	background-color: #FFFFFF;
	
}


div.section1 p {padding-left: 20px;}
div.section2 p {padding-left: 20px;}
#top td {
	color: #0054A6;
}
div.left_menu {
	border: 1px solid #5C92C6;
	background: url(/bitrix/templates/museum/../../images/design/fon1.gif) no-repeat right bottom;
	padding-top: 10px;
	padding-bottom: 35px;
	padding-right: 20px;
	}
	
#center_2 {
	float: left;
	width: 65%;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
}
a {
	color: #367FB8;
}
#center_print {
	padding: 10px 20px 20px 20px;
	background-image: url(/images/design/3px.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
#top_print {margin-left: 20px;}
.crambs {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.style1 {font-size: 15px}

#kartinko {
	padding-bottom: 20px;
	float: left;
	padding-right: 30px;
	
}
#kartinko p, #kartinko_r p{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 150px;
	font-size: 8pt;
	margin-top: 10px;
	margin-bottom: 10px;	
}
#kartinko_r {
	padding-bottom: 20px;
	float: right;
	padding-left: 30px;
	
}

#kartinko2 {	padding-bottom: 10px;}
#kartinko2 p {width: 400px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
	margin-top: 10px;
	margin-bottom: 15px;	
}
#ruseng {
	margin-left: auto;
	position: absolute;
	top: 50px;
	right: 40px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	margin-top: 20px;
	vertical-align: middle;
	height: 20px;
	line-height: 20px;
	display: block;
}
#ruseng img{
	margin-left: 20px;
	margin-right: 5px;
}

ul.ul_razdel2, ul.ul_razdel4 {
	list-style-image: url(/images/design/arrow2.gif);
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin-top: 40px;
	}
ul.ul_razdel4 {margin-top: 10px;}
ul.ul_razdel2 li, ul.ul_razdel4 li {
	margin-bottom: 0.6em;
	margin-top: 0.6em;
	font-weight: bold;
		}
ul.ul_razdel2 a, ul.ul_razdel4 a {
	color: #0000FF;
	text-decoration: none;
	font-weight: normal;
}
ul.ul_razdel2 a:hover, ul.ul_razdel4 a:hover{
	color: #333333;
	text-decoration: underline;
}
label {
	display: block;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	margin-bottom: 5px;
}
input:focus {
  background: #ffc;
}
input {
	width: 200px;
	display: block;
	margin-bottom: 2px;
}

#newsdata {font-weight: bold;
	width: 7em;
	float: left;
}
#news p{
	margin-left: 8em;
	margin-top: 0px;
	margin-bottom: 20px;	
}



#counter {margin-top: -20px;
	float: right;
	width: 200px;
	margin-right: 20px;
text-align: right;}

.inputbox {	width: 400px;	}

textarea:focus {  background: #ffc;}
.button {width: 205px; margin-top: 2px;}
#tab_text {border-collapse: collapse}
#tab_text td {
	border: 1px solid #3366CC;
	
}
#center_2 div.aqua {background-color: #0054A6; color: #fff; padding: 10px;}
#center_2 div.aqua h3 {color: #fff;}
#center_2 .color7 { 
	color: #0054A6;
	font-size: 1em;
}
#center_2 ul.ul_razdel {margin-left: -20px;}

.padding1 {padding-left: 20px;}
.padding2 {padding-left: 100px;}
#left img.baner_index {
	margin-top: 10px; margin-bottom: 20px;	
}
.clear {	clear: left;}
.size1 {font-size: 0.7em;}
#sovet td {font-size: 0.8em; width: 210px;}
img.foto_l {margin: 0px 5px 5px 0px; float: left;}
#ruseng a.padding3 {
	margin-top: -10px;
}
.color10 {
	background-color: #0CF;
}
.color11 {
	background-color: #96F;
}
.color12 {
	background-color: #F90;
}
.color13 {
	background-color: #FF3;
}

.links_sections {
    margin-top: -30px;
    margin-bottom: 30px;
}
.links_sections a {
    margin-right: 10px;
    display: inline-block;
}
.links_sections a:hover {
    color: #000;
}
.koshelek {
background-image: url(/images/donation.png);
	background-repeat: no-repeat;
	background-position: 20px center;
	padding-left: 20px;
}
.biblio_filter {
	background-color: #EFEFEF;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
}

.biblio_filter input[type="text"] {
	font-size: 15px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
	width: 350px;
}
.biblio_filter input[type="submit"] {
	display: inline-block;
	float: left;
	margin-top: 15px;
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-left: 25px;
	width: 150px;
	margin-right: 10px;
}

.books-news-item {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-top: 25px;
	padding-bottom: 25px;
}

.books-news-item a h3 {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.baner {
     border: 1px solid #5C92C6;
	background-image: url(/images/baner/top_sorucom.jpg);	
	padding-top: 1px;
	padding-right: 20px;
	padding-bottom: 30px;
	margin-bottom: 10px;
	text-align: center;}
.besm-banner {
	font-size: 12px;
	color: #333;
	background-image: url(/images/baner/besm.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	padding-top: 230px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
	display: inline-block;
	line-height: 16px;
}

.besm-banner-head {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 24px;
}

.besm-banner:hover {
	color: #000;
	text-decoration: none;
}

.besm-banner p {
	margin-bottom: 12px;
}
/* End */
/* /bitrix/templates/museum/styles.css?150272291135 */
/* /bitrix/templates/museum/template_styles.css?150272291115340 */
