* {
  box-sizing: border-box;
}

BODY     {BACKGROUND: #ffffff; COLOR: #000000; FONT-FAMILY: verdana,tahoma,arial; FONT-SIZE: 1em; FONT-WEIGHT: normal; TEXT-ALIGN: center}
h1       {BACKGROUND: #fff; COLOR: #c74a1b; FONT-FAMILY: verdana,tahoma,arial; FONT-SIZE: 1.2em; FONT-WEIGHT: bold; TEXT-ALIGN: center}
h2       {BACKGROUND: #fff; COLOR: #c74a1b; FONT-FAMILY: verdana,tahoma,arial; FONT-SIZE: 1.1em; FONT-WEIGHT: bold; TEXT-ALIGN: center}
P        {TEXT-ALIGN: justify; text-indent: 30px; FONT-SIZE: 1em;}
li       {TEXT-ALIGN: left}
a.ssylki {color: #444444; FONT-SIZE: 1em; FONT-WEIGHT: bold}

img {
    width:auto;
    max-width:100%;
    height:auto;
}



html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0em;
  background: url(http://digteh.ru/);
  background-size: cover;
}

/* Advanced Checkbox Hack */
body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  display: none;
  cursor: pointer;
  user-select: none;
}

/* background for li / select */
/* custom-dropdown */
nav[role="custom-dropdown"] {
  position: relative;
  width: 100%;
}
nav[role="custom-dropdown"] a,
nav[role="custom-dropdown"] label {
  color: #ccc;
  text-decoration: none;
  font: 14px sans-serif;
  transition: color .3s ease-in-out;
}
nav[role="custom-dropdown"] ul {
  padding: 0.45;
  margin: 0 auto;
  width: 100%;
  list-style: none;
}
nav[role="custom-dropdown"] ul > li {
  float: left;
  padding: .55em .55em;
  width: 100%;
  border-radius: 15px;
  background-image: url(bg_dark_grey.png);
  text-align: center;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow, color;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
nav[role="custom-dropdown"] ul > li:hover {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35), inset 0 0 1em 1em rgba(0, 0, 0, 0.7);
}
nav[role="custom-dropdown"] ul > li:hover > a {
  color: #fff;
}


   
.subs {
  font: 0.8em sans-serif;
  display: none;
  left: 30px;
  position: relative;
  top: 0;
}

nav[role="custom-dropdown"] ul > li:hover > ul.subs{
  border-radius: 15px;
  display: block;
}


   
   
ul.css-menu-1 {
list-style: none
}

ul.css-menu-1 li {
display: inline
}

ul.css-menu-1 li a {
  clear:both;
  font-family: Tahoma, Geneva, sans-serif; 
text-decoration: none;
	line-height: 3;
	background: #444;
  font-weight: normal;
  color: #ccc; 
  padding: 6px 25px 6px 25px;
  margin: 25px 10px;
  border-radius: 15px;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow, color;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.35) inset;
  cursor: pointer;
}

ul.css-menu-1 li a:hover {
padding: 6px 10px 6px 10px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.35), inset 0 0 7px 7px rgba(0, 0, 0, 1);
}

ul.css-menu-1 li a.selected {
background: #444
}   
   
   .top { 
    width: 100%;
    height:60px; 
    clear:both;
   }

   .line { 
    width: 100%;
    height:1px; 
    clear:both;
   }

   .left { 
    width: 180px; 
    background: #fff;
    padding: 5px;
    padding-right: 5px; 
    border: solid 0px black; 
    float: left;
   }

   .block2 { 
    width:728px;
    background: #fff; 
    padding: 5px; 
    border: solid 0px black; 
    float: left;
    overflow:hidden; 
   }

   .block3 { 
    width: 250px; 
    background: #fff; 
    padding: 5px; 
    border: solid 0px black; 
    float: left; 
   }

/* medium screens */
@media screen and (max-width: 1200px) {
  html,
  body {
    margin: 0;
    font-size: 1.0em;
  }

   .block2 { 
    width:77%;
   }
  .block3 { 
    display: none;
   }
}

/* small screens */
@media screen and (max-width: 960px) {
  html,
  body {  width: 100%;

    margin: 0.5;
  }

  nav[role="custom-dropdown"] ul {
    display: none;
    height: 10%;
  }
nav[role="custom-dropdown"] a,
nav[role="custom-dropdown"] label {
  color: #ccc;
  text-decoration: none;
  font: 18px sans-serif;
  transition: color .3s ease-in-out;
}
  nav[role="custom-dropdown"] label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 2.25em;
    padding: .45em;
    font-size: 1em;
    margin: 0;
    border-radius: 15px;
    border: 0.15em solid rgba(0, 0, 0, 0.35);
    background-image: url(bg_dark_grey.png);
    box-shadow: inset 0 0.05em 0.5em 0.5em rgba(0, 0, 0, 0.7);
  }
  nav[role="custom-dropdown"] label:after {
    position: absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ label:after {
    color: #000;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 1.0em sans-serif;
  }



nav[role="custom-dropdown"] li ul {
  display: none;
  left: 9px;
  position: relative;
  top: 0;
}
nav[role="custom-dropdown"] li:hover ul {
  display: block;
}


BODY {FONT-SIZE: 1.2em; }

  
  .left {width: 100%; 
   }

  aside{display: none;}

   .top {display: none;
   }

   .block2 { 
    width: 100%; 
    background: #fff; 
    padding: 1.5em; 
    border: solid 0px black; 
    float: left;
    overflow:hidden; 
   }

}

