/*
Theme Name: Frontier
Theme URI: http://ronangelo.com/frontier/
Description: Frontier is a clean, multi-purpose theme built in HTML5 and CSS3 specifications. It incorporates responsive properties to accomodate mobile devices. Frontier lets you choose from 1, 2 or 3 column layouts in many configurations. Make use of the many widget areas and theme hooks to easily modify the theme to suit your needs. Make the theme your own by incorporating custom favicons, logos, header images and more. Frontier accomplishes all of these while maintaining minimal file size that makes for a fast and efficient WordPress.
Author: ronangelo
Author URI: http://ronangelo.com/
Version: 10.0.2
Tags: black, blue, white, dark, light, one-column, two-columns, three-columns, left-sidebar, right-sidebar, fixed-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, rtl-language-support

License: GNU General Public License, Version 3 or later
License URI: http://www.gnu.org/licenses/gpl.html
--------------------------------------------- */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,body,h1,h2,h3,h4,h5,h6,p,img,ul,ol,li,form,fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	position: absolute;
	width: 100%;
	color: #303030;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	background-color: #505050;
}

h1 {font-size: 24px;}
h2 {font-size: 22px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', Helvetica, Arial, Sans-serif;
	font-weight: normal;
	clear: both;
}

a {
	color: #0E4D7A;
	text-decoration: none;
	cursor: pointer;
}
a:hover {color: #00e;}

.x-table-row {display: table-cell;}
.x-table-cell {display: table-cell; vertical-align: top;}

.genericon {color: #2A5A8E;}

/*----------------------------------------------
   Main Containers
-----------------------------------------------*/
#container {
	margin: 0 auto;
	max-width: 100%;
	box-shadow: 0 0 6px #000;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#top-bar {
    background-color: #222;
    border-bottom: 1px solid #000;
    padding: 4px;
	min-height: 32px;
	overflow: hidden;
}
#top-bar-info {float: left;}
#site-title, #site-description {
    display: inline-block;
	margin-right: 4px;
}
#site-title {font-size: 20px;}
#site-title a {color: #DC8300;}
#site-description {color: #CCC; font-size: 15px;}

#header {overflow: hidden;}
#header-logo {display: inline-block; float: left;}
#header-logo, #header-logo img {max-width: 100%;}

#below-menu {overflow: hidden; width: 100%;}

#main {
	background-color: #F5F5F5;
	width: 100%;
	overflow: hidden;
}

#content {
	overflow: hidden;
	display: inline-block;
	padding: 10px
}
#content.no-sidebars {width:100%; max-width: 100%;}

.sidebar {display: inline-block;}

#footer {overflow: hidden; width: 100%;}
#bottom-bar {
	background-color: #222;
	border-top: 1px solid #000;
	min-height: 34px;
    overflow: hidden;
	color: #FFF;
	text-shadow: 0 0 2px #000;
}
#bottom-bar a {color: #DC8300;}
#bottom-bar-text {
	float: left;
	padding: 6px 8px;
	font-family: Helvetica, Arial, Sans-serif;
}
#theme-page {
	float: right;
	margin: 6px 10px;
	font-family: 'Roboto Condensed', Helvetica, Arial, Sans-serif;
	font-size: 15px;
}
#theme-page a {color: #CCC;}
#theme-page a:hover {color: #DC8300;}


/*----------------------------------------------
   Navigation Menus
-----------------------------------------------*/
#menu-main {
	background-color: #3CB371;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	float: left;
	width: 100%;
	padding-left: 10px;
	z-index: 20;
}
#menu-main * {
	-moz-transition: all 0.1s ease-out; 
	-webkit-transition: all 0.1s ease-out; 
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

.menu-main {
	float: left;
	border-left: 1px solid #000;
	border-right: 1px solid #5882b0;
}
.menu-main li {float: left; position: relative;}

.menu-main > li, .menu-main > ul > .page_item {
	border-right: 1px solid #000;
	border-left: 1px solid #5882b0;
}

.menu-main > li > a, .menu-main > ul > .page_item > a {
	background: linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, 0.15) 100%);
	min-width: 80px; 
	text-align: center;
}

.menu-main li a {
	display: block;
	padding: 8px 14px;
	color: #FFF;
	font-family: 'Roboto Condensed', Helvetica, Arial, Sans-serif;
	font-size: 16px;
	text-shadow: 0 0 2px #222;
}
#menu-main .menu-main li a:hover {
	background-color: #FFF;
	color: #000;
	text-shadow: none;
}

#menu-main .menu-main > .parent-menu-item > a:after,
#menu-main .menu-main > ul  > .parent-menu-item > a:after {
	content: " \25BE";
}

#menu-main .sub-menu, #menu-main .children {
	width: 180px;
	background-color: #2B2B2B;
	border: 1px solid #000;
	position: absolute;
	z-index: 30;
	display: none;	/* initial hide */
	box-shadow: 0 1px 4px #000;
}

#menu-main .sub-menu li, #menu-main .children li {
	border-top: 1px solid #3B3B3B;
	border-bottom: 1px solid #000; 
}

#menu-main .sub-menu li:first-child, #menu-main .children li:first-child {border-top: none;}
#menu-main .sub-menu li:last-child, #menu-main .children li:last-child {border-bottom: none;}

#menu-main .sub-menu li a, #menu-main .children li a {
	float: left;
	width: 178px;
	padding: 10px 14px;
	color: #FFF;
	font-size: 15px;
}

#menu-main .sub-menu li .sub-menu, #menu-main .children li .children {top: -1px;}

#menu-main .sub-menu > .parent-menu-item > a:after,
#menu-main .children > .parent-menu-item > a:after {
	content: " \25BE";
}

/* Display Sub-Menus */
#menu-main li:hover > ul { display: inline;}

/* Top Menu */
#menu-top {float: right;}
.menu-top {float: left;}
.menu-top li {float: left;}
.menu-top li a {
	display: block;
	padding: 0 18px;
	margin-top: 2px;
	color: #FFF;
	font-family: 'Roboto Condensed', Helvetica, Arial, Sans-serif;
	font-size: 14px;
}


/*----------------------------------------------
   Article Elements
-----------------------------------------------*/
article, .taxonomy-info, .wrap-404-box {
    background-color: #FFF;
    border: 1px solid #333;
    box-shadow: 0 0 2px #333;
    margin: 0 0 10px;
    padding: 10px;
	overflow: hidden;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.wrap-404-box p {margin: 8px 0 10px;}

.taxonomy-title {text-transform: uppercase;}

.entry-header {margin-bottom: 4px;}
.entry-title a {color: #303030;}

.entry-byline {overflow: hidden;}
.entry-author,
.entry-date,
.entry-categories,
.entry-comment-info {
	float: left;
	margin-right: 10px;
}

.entry-content h1, .entry-content h2, .entry-content h3, 
.entry-content h4, .entry-content h5, .entry-content h6, 
.comment-body h1, .comment-body h2, .comment-body h3, 
.comment-body h4, .comment-body h5, .comment-body h6 {
	margin-bottom: 4px; 
	margin-top: 8px;
	clear: none;
}
.entry-content a {text-decoration: underline;}
.entry-updated {color: #555; font-size: 11px;}

.blog-view {border-top: 6px solid #2A5A8E;}
.blog-view.sticky {
	background-color: #FFDC8A;
	border-top: 6px solid #222;
}
.blog-view.sticky .entry-title:before {
	font-family: 'Genericons';
	content: '\f308';
	display: inline-block;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
}
.blog-view .entry-content {padding-top: 4px;}
.blog-view .entry-thumbnail img {max-width: none;}
.entry-excerpt.x-table-cell {padding-left: 8px;}

.read-more {display: inline-block; float: right;}

#blog-pagination {overflow: hidden; padding: 4px;}
.link-prev {float: left;}
.link-next {float: right;}

.single-view .entry-title {line-height: 24px;}
.single-view .entry-content {
    font-family: Varela, Helvetica, Arial, Sans-serif;
    font-size: 14px;
    line-height: 21px;
}
.single-view .entry-content p, .comment-body p {
    margin: 4px 0 14px;
}

.page-nav, .comment-nav {display: block; padding: 2px 0;}
.page-nav > *, .comment-nav > * {
    background-color: #2A5A8E;
    color: #FFF;
    display: inline-block;
    padding: 2px 8px;
	border-radius: 3px;
}
.page-nav a:hover, .comment-nav a:hover {color: #FFF; text-decoration: underline;}

.attachment-nav, .post-nav {overflow: hidden;}

.post-nav {
	margin-bottom: 10px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.post-nav div {max-width: 100%;}


/*-------------------------------------
   Content Elements
--------------------------------------*/
img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"], #comments img {
	max-width: 100%;
    height: auto;
}

embed, iframe, object, video {max-width: 100%;}

.wp-caption {max-width: 100%;}
.wp-caption img {
	max-width: 100%;
	background-color: #EEE;
	border: 1px solid #CCC;
	padding: 4px;
}
.wp-caption .wp-caption-text, .gallery-caption {
	font-size: 12px; 
	color: #555;
	padding: 0 4px;
	line-height: 1.6;
}
.wp-caption-text, .gallery-caption {margin: 0 !important;}
.wp-caption .wp-caption-text {margin-top: -2px !important; padding: 0 6px;}

.alignnone {
	margin-top: 4px;
	margin-bottom: 4px;
}
.alignleft {
	display:inline;
	float:left;
	margin-top: 4px;
	margin-left: 0;
	margin-right: 8px;
	margin-bottom: 4px;
}
.alignright {
	display:inline;
	float:right;
	margin-top: 4px;
	margin-left: 8px;
	margin-right: 0;
	margin-bottom: 4px;
}
.aligncenter {
	display:block;
	clear: both;
	margin-top: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4px;
}

.gallery .gallery-item {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}
.gallery img {
    padding: 4px;
	display: inline-block;
	border: 1px solid #CCC !important;
}
.gallery img:hover {
	background-color: #DDD;
	border: 1px solid #AAA !important;
}

pre {
    background-color: #F0F0F0;
    border: 1px solid #AAA;
	margin: 8px;
    padding: 8px;
	overflow: auto;
	-ms-word-wrap: normal;
	word-wrap: normal;
	line-height: 20px;
}

blockquote {
	background-color: #EDEDED;
    border-left: 6px solid #687888;
	clear: both;
    margin: 20px;
    padding: 10px 14px;
	overflow: hidden;
}
blockquote p {
	font-style: italic;
	margin: 0 !important;
}
blockquote cite {
	float: right;
	margin-top: 6px;
	margin-bottom: 2px;
	font-size: 13px;
	font-style: normal;
}
blockquote cite:before {content: "– ";}
blockquote cite:after {content: " –";}

address {margin-bottom: 10px;}

.entry-content dl, .comment dl {margin-left: 20px;}
.entry-content dt, .comment dt {margin: 8px 0 0; font-weight: bold;} 
.entry-content dd, .comment dd {margin: 0 0 10px;}

.entry-content table, .comment table {
    border-collapse: collapse;
	width: 95%;
	margin: 10px auto;
}
.entry-content th, .comment th {background-color: #C8CACD;}
.entry-content th, .entry-content td, .comment th, .comment td {
	border: 1px solid #555;
	padding: 8px 10px;
	text-align: left;
	font-size: 13px;
}

.entry-content ul, .entry-content ol, .comment ul, .comment ol {
	margin-top: 4px;
	margin-bottom: 8px;
	padding-left: 20px;
}
.entry-content li, .comment li {
	list-style-position: inside;
	list-style-type: disc;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 5px;
	margin-right: 0;
}
.entry-content ol > li, .comment ol > li {list-style-type: decimal;}
.entry-content ol li ol li, .comment ol li ol li {list-style-type: lower-alpha;}
.entry-content ol li ol li ol li, .comment ol li ol li ol li {list-style-type: lower-roman;}


/*-------------------------------------
   Author Info Box
--------------------------------------*/
.author-info-box {
	overflow: hidden;
	border: 1px solid #333;
	box-shadow: 0 0 2px #333;
	margin: 10px 0;
}
.author-info-box .title {
	background-color: #2A5A8E;
    color: #FFF;
    padding: 4px 8px;
    text-shadow: 1px 1px 2px #222;
}
.author-info {
	background-color: #FFF;
	overflow: hidden;
	padding: 3px;
}
.author-avatar, .author-description{
    display: table-cell;
    padding: 5px;
    vertical-align: top;
}
.author-avatar img {display: block;}


/*-------------------------------------
   Comments
--------------------------------------*/
#comment-header, #respond, .no-comments, .pingback .comment-body {
    background-color: #FFF;
    border: 1px solid #333;
    box-shadow: 0 0 2px #333;
    margin: 10px 0;
	padding: 8px;
    overflow: hidden;
}

#comment-header .title {display: inline-block; float: left;}
#comment-header .respond-link {display: inline-block; float: right;}
#comment-header .respond-link a {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}
#comment-header .respond-link a:hover {text-decoration: underline;}

#comments .children li {list-style: none;}

.comment-author-admin .comment-body,
.bypostauthor .comment-body {border-top: 6px solid #2A5A8E;}

.comment-author {float: left;}

.comment-author .avatar, .comment-author .fn {
    float: left;
}

.comment-author .avatar {
    margin-left: -10px;
    margin-top: -10px;
}

.comment-author .fn {
    font-size: 14px;
    margin: 8px;
    word-wrap: break-word;
}

#comments .says {display: none;}

.comment-body .comment-awaiting-moderation {
	display: inline-block;
	float: right;
	margin: 0 8px;
	font-style: italic;
}

.comment-metadata {float: right;}
.comment-metadata a {color: #888;}

#comments .edit-link .comment-edit-link {
    background-color: #E0E0E0;
    color: #222;
    padding: 2px 8px;
}

.comment-content {
    clear: both;
	padding-top: 8px;
}

#comments .reply {
	margin-top: 8px;
	overflow: hidden;
}
#comments .reply .comment-reply-link {
	background-color: #2A5A8E;
	color: #FFF;
	display: inline-block;
	float: right;
    padding: 2px 10px;
}

.no-comments .genericon {
	font-size: 20px;
	color: #888;
}
.no-comments  h4 {
	display: inline-block;
	margin-left: 10px;
	color: #888;
}

#respond p {margin-top: 8px;}

#cancel-comment-reply-link {
    background-color: #F0F0F0;
    font-size: 16px;
    padding: 2px 8px;
}

.comment-form-author label,
.comment-form-email label,
.comment-form-url label {margin-left: 2px;}

.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
	display: block;
    border: 1px solid #555;
    box-shadow: 0 0 3px #888 inset;
}

.comment-form-comment label, .comment-form-comment textarea {display: block;}
.comment-form-comment {
    padding: 0 3px;
}
.comment-form-comment textarea {
    border: 1px solid #555;
    box-shadow: 0 0 3px #555 inset;
    padding: 4px;
    width: 100%;
}

.form-submit #submit {padding: 5px 10px;}

/* Popular Comment Systems */
#comment-area #disqus_thread {
    background-color: #FFF;
    border: 1px solid #333;
    box-shadow: 0 0 2px #333;
    padding: 10px;
}


/*----------------------------------------------
   Widgets
-----------------------------------------------*/
.widget {
	overflow: hidden;
	background-color: #FFF;
	border: 1px solid #333;
	box-shadow: 0 0 2px #333;
	margin: 0 0 10px;
	padding: 8px;
}
.widget-title {
    background-color: #3CB371;
    color: #EEE;
    font-family: 'Roboto Condensed', Helvetica, Arial, Sans-serif;
    font-size: 18px;
    margin: -8px -8px 8px;
    padding: 4px 8px;
    text-shadow: 1px 1px 2px #222;
    text-transform: none;
}

.widget > ul {margin-bottom: 8px;}
.widget ul {padding: 0 4px;}
.widget ul li {padding: 4px 0; border-bottom: 1px solid #E0E0E0;}
.widget ul li ul {padding-left: 15px;}
.widget .children li {border-bottom: none;}
.widget select {max-width: 100%;}

.widget-body {display: inline-block;}
.widget-header {display: inline-block; float: left;}

.widget-header,
.widget-before-post,
.widget-before-post-content,
.widget-after-post-content,
.widget-after-post {
	overflow: hidden;
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.widget-footer {
    float: left;
    margin: 0 0.5% 10px;
    width: 32.3%;
}
#widgets-wrap-below-menu {
	background-color: rgba(0, 0, 0, 0.25);
	width: 100%;
	padding: 10px 10px 0;
	overflow: hidden;
}
#widgets-wrap-before-post,
#widgets-wrap-before-post-content,
#widgets-wrap-after-post-content,
#widgets-wrap-after-post {clear: both;}
#widgets-wrap-after-post {margin-top: 8px;}
#widgets-wrap-footer {
	background-color: rgba(0, 0, 0, 0.25);
	border-top: 1px solid #000;
	padding: 10px;
	overflow: hidden;
}

.widget .search-form .search-submit {
    background-color: #2A5A8E;
    border: 1px solid #333;
    border-radius: 3px;
    box-shadow: 0 0 0 #333;
    color: #FFF;
    cursor: pointer;
    padding: 2px 4px;
}

#wp-calendar {
    background-color: #333;
	width: 100%;
	margin: 0 auto;
	border-spacing: 1px;
	text-align: center;
}
#wp-calendar caption {
	background-color: #2A5A8E;
    color: #FFF;
    padding: 4px;
}
#wp-calendar th {
	background-color: #E0E0E0;
    padding: 4px;
}
#wp-calendar td {
	background-color: #FFF;
	padding: 4px;
}


/*-------------------------------------
   Basic Slider
--------------------------------------*/
#slider {
    background-color: #FFF;
    border: 1px solid #333;
    box-shadow: 0 0 2px #333;
    display: block;
    overflow: hidden;
}
.slider-main {margin: 10px 10px 0;}
.slider-content {margin-bottom: 10px;}

.bjqs-prev a {margin-left: 10px;}
.bjqs-next a {margin-right:10px;}
.slider-prev {background-image: url('images/slider-prev.png');}
.slider-next {background-image: url('images/slider-next.png');}
.slider-prev, .slider-next {
	display: block;
	height: 32px;
	width: 38px;
}

ul.bjqs{
	position:relative;
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
	display:none;
}
li.bjqs-slide{position:absolute; display:none;}
li.bjqs-slide img {
	display:table;
	margin: auto;
}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
.slider-element {display: none;}
.bjqs-heading {
	background-color: rgba(0, 0, 0, 0.65);
	width:100%;
	color: #EEE;
	padding:8px;
	position:absolute;
	top:0;
	font-size: 16px;
}
.bjqs-descript{
	display:block;
	width:100%;
	margin:0;
	padding:8px;
	position:absolute;
	bottom:0;
	background-color: rgba(0, 0, 0, 0.65);
	color: #EEE;
}


/*-------------------------------------
   Responsive Properties
--------------------------------------*/
@media screen and (max-width:800px){
	#content {display: block;}
	#content, .sidebar  { 
		width: 100% !important;
		max-width: 100% !important;
	}
	.sidebar {padding: 10px !important;}
}

@media screen and (max-width:640px){
	.widget-footer {
		float: none;
		margin: 0 0 10px;
		width: 100%;
	}
}

@media screen and (max-width:480px){
	#header-logo {margin: 0;}
	#menu-main {padding-left: 0;}
	.menu-main {float: none !important; border: none !important;}
	.menu-main > li, .menu-main > ul > li {
		float: none !important;
		border-bottom: 1px solid #222 !important;
		border-left: none !important;
		border-right: none !important;
	}
	#menu-top {
		display: block;
		float: none;
		clear: both;
	}
	.menu-top {float: none;}
}

@media screen and (max-width:360px){
	.entry-thumbnail.x-table-cell, .entry-excerpt.x-table-cell {
		display: inline-block;
		padding-left: 0;
	}
	.bjqs-heading, .bjqs-descript {display: none;}
}