.wpsb-social-widget {position: fixed;z-index: 99999;}.wpsb-social-widget .sbutton {padding-bottom: 2px;padding-left: 5px;position: relative;width: auto;}#wpsb-right .sbutton {padding-left: 20px;position: relative;width: auto;}#wpsb-social-inner .first {padding-top:45px;}#fb{padding-top:5px;}#pin{padding-top:37px;}#wpsb-right a#wpsb-hide {padding-right:33px;}#wpsb-right a#swpsb-how {float:right;}
