/*
# ------------------------------------------------------------------------
# Extensions for Joomla 3.x
# ------------------------------------------------------------------------
# Copyright (C) 2011-2014 Ext-Joom.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2.
# Author: Ext-Joom.com
# Websites:  http://www.ext-joom.com 
# Date modified: 24/11/2013 - 13:00
# ------------------------------------------------------------------------
*/

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	/*border 5px solid #f00;*/
	position: relative;
}
.sf-menu ul {
	margin: 15px;
	padding: 10px;
	background: #f0f6ff;
	border: 1px solid #dddddd;
	border-radius: 3px;
	position: absolute;
	display: none;
	top: 100%;
	left: +5px;/***********************/
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	
	float: left;
	margin-bottom: 1em;
}
.sf-menu ul {
	
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	/*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	/*border-left: 1px solid #f00;
	border-top: 1px solid #dFeEFF; /* fallback colour must use full shorthand */
	/*border-top: 1px solid rgba(255,255,255,.5);*/
	padding: .3em 1em;
	text-decoration: none;
	/*zoom: 1; /* IE7 */
}
.sf-menu a {
	color: #000;/*#13a;*/
}
.sf-menu li {
	font: #000;
	border-radius: 6px;
border-bottom: 1px solid #fff;
	/*background: #e0f0ff;/*#BDD2FF;*//*pasiv fon 1----------------------*/
	/*background: rgba(224,240,255,0);/*#BDD2FF;*//*pasiv fon 1----------------------*/
	background: #e0e0ee;
	white-space: nowrap; /* no need for Supersubs plugin */
	/*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	/*transition: background .2s;*/
}
.sf-menu ul li {
	background: #e0e0ee;/*#AABDE6;*//*pasiv fon 2-------------------------*/
}
.sf-menu ul ul li {
	background: #e0f0ff;/*#9AAEDB;*//*pasiv fon 3-------------------------*/
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	color: f00;
	border-radius: 6px;
	background: #90d0f0;/*#CFDEFF;*//*Selected--------------------------*/
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
