BODY {FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 16px; TEXT-ALIGN: justify; leftmargin: 20; padding: 16px;  BACKGROUND: url(img/dkulogo.gif) fixed; BACKGROUND-REPEAT: repeat-xy}
A {COLOR: #0000ff; FONT-WEIGHT: normal; TEXT-DECORATION: underline}
A:hover {COLOR: #ff0000}
A:visited {COLOR: #800080}
.ssilki {FONT-SIZE: 16px}
.podp {FONT-SIZE: 16px; COLOR: #006600}
H1 {TEXT-ALIGN: center; FONT-SIZE: 22px; COLOR: #000080; FONT-WEIGHT: bold; FONT-FAMILY: "Bookman Old Style", "Times New Roman", "Comic Sans MS"}
H2 {TEXT-ALIGN: center; FONT-SIZE: 20px; COLOR: #000080; FONT-WEIGHT: bold; FONT-FAMILY: "Bookman Old Style", "Times New Roman", "Comic Sans MS"}
H3 {TEXT-ALIGN: left; FONT-SIZE: 18px; COLOR: #000080; FONT-WEIGHT: bold; FONT-FAMILY: "Bookman Old Style", "Times New Roman", "Comic Sans MS"}
H4 {TEXT-ALIGN: left; FONT-SIZE: 16px; COLOR: #000080; FONT-WEIGHT: bold; FONT-FAMILY: "Bookman Old Style", "Times New Roman", "Comic Sans MS"}
P {TEXT-ALIGN: justify; FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; }
PRE {line-height: 14pt; TEXT-ALIGN: left; FONT-WEIGHT: normal; FONT-SIZE: 16px; FONT-FAMILY: "Courier New"; color: brown}
CODE {TEXT-ALIGN: left; FONT-WEIGHT: normal; FONT-SIZE: 16px; FONT-FAMILY: "Courier New"; color: brown}

LI {TEXT-ALIGN: left; FONT-SIZE: 16px; FONT-WEIGHT: normal}

P [align$="center"] {TEXT-ALIGN: center; FONT-SIZE: 16px; COLOR: #000000; FONT-WEIGHT: normal}


div [align$="center"] {TEXT-ALIGN: center; FONT-SIZE: 16px; COLOR: #000000; FONT-WEIGHT: normal}

div {TEXT-ALIGN: left; FONT-SIZE: 16px; COLOR: #000000; FONT-WEIGHT: normal}

TABLE {
    text-align: left;
   }
   TD, TH {
    padding: 3px; /* Поля вокруг содержимого ячеек */
   }
   TH {
    text-align: left; /* Выравнивание текста по левому краю */
   }
button.menu {
	color: #000; 
	background: transparent; 
	width: 90%;
    height: 22px;
    padding: 3px;
	line-height: 1.0;
	margin-top: 3px;
    margin-bottom: 3px;
	margin-right: 3px;
	border-radius: 5px;
	box-shadow: 2px 2px 6px; 
	border: 2px solid #cccccc;
    text-align: left;
	font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
   	} 
button.menu:hover { 
	background: #a0a0a0; 
    font-weight: bold;
	color: #FFE; 
	}

button.rel {
	color: #000; 
	background: transparent; 
    height: 22px;
    padding: 3px;
	line-height: 1.0;
	margin-top: 3px;
    margin-bottom: 3px;
	margin-right: 3px;
	border-radius: 5px;
	box-shadow: 2px 2px 6px; 
	border: 2px solid #cccccc;
    text-align: center;
	font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
   	} 
button.rel:hover { 
	background: #c0c0c0; 
    font-weight: bold;
	color: #FFE; 
	}

button.link {
	color: #00F; 
	background: #FFF; 
    height: 22px;
    padding: 3px;
	line-height: 1.0;
	margin-top: 3px;
    margin-bottom: 3px;
	margin-right: 3px;
	border-radius: 5px;
	box-shadow: 0px 0px 0px; 
	border: 2px solid #FFFFFF;
    text-align: center;
    text-decoration: underline;
	font-size: 16px;
    font-weight: normal;
    vertical-align: bottom;
   	} 
button.link:hover { 
	background: #FFFF00; 
    font-weight: bold;
	color: #0000FF; 
	}
