#olderitemtitle, #neweritemtitle, #relateditemtitle {
	font-weight:bolder;
	text-align: left;
	color: #666;

}
.extranews_tooltip{
	text-align: justify;
}
.extranews_date{
	color: #999;
}
.extranews_nextpage{

}
.extranews_priviuospage{
	
}
#relateditemlist, #neweritemlist, #olderitemlist{
	margin-left: 0px; font-weight:bolder;	 
}


