BODY    {BACKGROUND: #ffffff; COLOR: #000000; FONT-FAMILY: verdana,tahoma,arial; FONT-SIZE: 14px; FONT-WEIGHT: normal; TEXT-ALIGN: left}
h1      {BACKGROUND: #ffffff; COLOR: #c74a1b; FONT-FAMILY: verdana,tahoma,arial; FONT-SIZE: 18px; FONT-WEIGHT: bold; TEXT-ALIGN: center}
h2      {BACKGROUND: #ffffff; COLOR: #c74a1b; FONT-FAMILY: verdana,tahoma,arial; FONT-SIZE: 16px; FONT-WEIGHT: bold}
h3      {BACKGROUND: #ffffff; COLOR: #c74a1b; FONT-FAMILY: verdana,tahoma,arial; FONT-SIZE: 12px; FONT-WEIGHT: italic}
h4      {BACKGROUND: #ffffff; COLOR: #000000; FONT-FAMILY: verdana,tahoma,arial; FONT-SIZE: 14px; FONT-WEIGHT: bold}
TD      {FONT-SIZE: 12px; VERTICAL-ALIGN: top; TEXT-ALIGN: center}
TD.s    {FONT-SIZE: 10px; VERTICAL-ALIGN: top}
TH      {FONT-SIZE: 12px; VERTICAL-ALIGN: center; TEXT-ALIGN: center}

P {TEXT-ALIGN: justify; text-indent: 30px; FONT-SIZE: 14px;}
P.pleft {TEXT-ALIGN: left;  text-indent: 0px; }
P.right{TEXT-ALIGN: right}

li {TEXT-ALIGN: justify; TEXT-ALIGN: left}

pre { FONT-SIZE: 14px; TEXT-ALIGN: left}


.sh     {COLOR: #c74a1b; FONT-WEIGHT: bold}
.hl     {COLOR: #c74a1b}
.lst    {BACKGROUND: #f0f0f0; COLOR: #000000; FONT-WEIGHT: bold; font-style: italic}
.small  {FONT-SIZE: 10px}
.submenu{FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none}


.header {BACKGROUND-COLOR: #c74a1b; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold}
TD.menu {BACKGROUND-COLOR: #ffffff; COLOR: #555555; FONT-SIZE: 10px; TEXT-ALIGN: center; vertical-align: top}
UL.menu {FONT-SIZE: 10px; MARGIN: 0px 0px 0px 10px; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 3px; PADDING-TOP: 0px; TEXT-ALIGN: left}


A:link {COLOR: #555555}
A:visited {COLOR: #333333}
A:hover {COLOR: #000000}

a.ssylki {color: #444444; FONT-SIZE: 14px; FONT-WEIGHT: bold}

#menu {LEFT: 198px; POSITION: absolute; TOP: 97px; VISIBILITY: hidden; Z-INDEX: 1}
.pullmenu {BACKGROUND-IMAGE: url(/img/bgline-v2.1.gif); COLOR: #000000; TEXT-ALIGN: left; VERTICAL-ALIGN: bottom}
IMG.bord {BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid}
.update {COLOR: #c74a1b; FONT-SIZE: 10px; TEXT-ALIGN: right; VERTICAL-ALIGN: bottom}
FONT.died {BORDER-BOTTOM: thin solid; BORDER-LEFT: thin solid; BORDER-RIGHT: thin solid; BORDER-TOP: thin solid; COLOR: black; MARGIN: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px}
A.dw:link {COLOR: #ffffff}
A.dw:visited {COLOR: #ffffff}
A.dw:hover {COLOR: #ffffff}
