body {
	font-family: Georgia;
	margin: 0;
}
td {
	color: #004717;
	font-size: 12px;
}
hr {
	color: #004717;
	background: #004717;
	height: 1px;
	border: #004717 0px solid;
}
a {
	font-size: 14px;
	color: #007d36;
}
a:hover {
	color: #d4402c;
}
.navspace {
	margin-right: 5px;
}
.toplink {
	text-align: center;
	white-space: nowrap;
	background: #c8e6c8 url(img/button.gif) center;
	float: left;
}
.toplink img {
	border: 0;
	vertical-align: middle;
}
.topheight {
	width: 1px;
	height: 22px;
}
.toplink a {
	color: #004717;
	text-decoration: none;
	font-weight: bold;
	border-top: #fafafa 1px solid;
	border-right: #6ca36c 1px solid;
	border-left: #c8e6c8 1px solid;
	padding: 2px 10px 2px 9px;
	display: block;
}
.toplink a:hover {
	color: #fff;
	background-color: #004717;
	border-top: #004717 1px solid;
	border-right: #004717 1px solid;
	border-left: #004717 1px solid;
}
a.toplink_ {
	color: #090;
	background: #fff;
}
a.toppoint {
	background-image: url(img/pointdown.gif);
	background-position: 97% 88%;
	background-repeat: no-repeat;
}
.topsublink {
	text-align: left;
	background: #c8e6c8;
	border: #006633 1px solid;
	border-top: 0;
}
.topsubheight {
	width: 1px;
	height: 26px;
}
.topsublink a {
	background: none;
	border: 0;
	border-top: #006633 1px solid;
	padding: 0 5px;
}
.topsublink a:hover {
	border: 0;
	border-top: #006633 1px solid;
}
input, .txtarea {
	font-family: Tahoma, sans-serif;
	color: #006633;
	font-size: 12px;
	background: #fafafa;
	border: #004717 1px solid;
}
select {
	font-family: Tahoma, sans-serif;
	color: #006633;
	font-size: 12px;
	background: #fafafa;
	border: #004717 1px solid;
}
.button {
	color: #004717;
	font-size: 12px;
	height: 25px;
	vertical-align: middle;
	background: #c8e6c8 url(img/button.gif) center;
	border-top: #fafafa 1px solid;
	border-right: #6ca36c 1px solid;
	border-bottom: #006633 1px solid;
	border-left: #c8e6c8 1px solid;
}
.editor {
	color: #004717;
	font-size: 11px;
	height: 20px;
	background: #c8e6c8 url(img/button.gif) center;
	border-top: #fafafa 1px solid;
	border-right: #6ca36c 1px solid;
	border-bottom: #006633 1px solid;
	border-left: #c8e6c8 1px solid;
	margin: 0;
}
.maintable {
	background: #fff;
	border-top: #d2d2d2 3px solid;
	border-right: #c8e6c8 3px solid;
	border-bottom: #f7f7f7 3px solid;
	border-left: #c8e6c8 3px solid;
	padding: 0;
}
.main {
	padding: 2px;
}
.content {
	padding: 5px;
}
.topmenu {
	font-family: Tahoma, sans-serif;
	color: #004717;
	font-size: 11px;
	white-space: nowrap;
	background: #c8e6c8 url(img/topmenu.gif) center;
	border-top: #6ca36c 1px solid;
}
.topblock {

}
.leftblock {
	background: #c8e6c8;
	border-right: #004717 1px dotted;
	padding: 2px;
}
.rightblock {
	text-align: right;
	padding: 0px;
}
.bottomblock {
	background: #c8e6c8;
	padding: 2px;
}
.panel1 {
	font-family: Tahoma, sans-serif;
	background: #c8e6c8;
	border: #c8e6c8 1px solid;
	padding: 5px;
	margin-bottom: 2px;
}
.panelname1 {
	border-bottom: #004717 1px solid;
	margin-bottom: 2px;
}
.panelname1 img {
	margin-right: 5px;
}
.panelcontent1 {

}
.contentname {
	color: #006633;
	font-size: 20px;
	border-bottom: #006633 1px solid;
	padding: 4px;
}
.message {
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	background: #ffc;
	border: #f99 1px solid;
	padding: 5px;
	margin: 3px;
}
.small {
	font-family: Tahoma, sans-serif;
	color: #333;
	font-size: 11px;
	font-weight: normal;
}
.x-small {
	font-family: Tahoma, sans-serif;
	color: #c8e6c8;
	font-size: 10px;
	font-weight: normal;
}
.bord {
	font-size: 13px;
	border: #c8e6c8 1px solid;
	border-collapse: collapse;
	padding: 4px;
}
.caption {
	font-family: Tahoma, sans-serif;
	color: #004717;
	font-size: 11px;
	font-weight: bold;
	background: #c8e6c8 url(img/topmenu.gif) center;
}
.imgbord {
	border: #004717 1px solid;
	margin: 5px;
}
.aimg {
	border: 0;
	vertical-align: middle;
	margin: 1px;
}
.adminlink {
	padding: 4px;
}
.page {
	font-size: 14px;
	padding: 5px;
}
.category {
	font-size: 14px;
	padding: 5px;
}
.articlename {
	color: #009e57;
	font-size: 20px;
	padding: 5px 8px 10px 8px;
}
.article {
	font-size: 13px;
	padding: 5px;
}
.navside {
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	padding: 0 0 0 6px;
	text-align: left;
	width: 230px;
	height: 29px;
	background: #c8e6c8 url(img/button.gif) center;
}
.navside img {
	border: 0;
	vertical-align: middle;
}
.navside a {
	color: #006633;
	text-decoration: none;
	border-top: #c8e6c8 1px solid;
	border-right: #006633 1px solid;
	border-bottom: #004717 1px solid;
	padding: 4px 0 6px 0;
	width: 230px;
	height: 29px; 
	display: block;
}
.navside a:hover {
	color: #fff;
	background-color: #006633;
	border-top: #004717 1px solid;
	border-right: #004717 1px solid;
	border-bottom: #004717 1px solid;
	border-left: #004717 1px solid;
}
a.navside_ {
	font-size: 14px;
	text-align: center;
	background: #006633 url(img/button5.gif) center;
}
a.sidepoint {
	background-image: url(img/pointright.gif);
	background-position: 97%;
	background-repeat: no-repeat;
}
a.sidepoint_ {
	background-image: url(img/pointleft.gif);
	background-position: 2%;
	background-repeat: no-repeat;
}
.navsidesub {
	text-align: left;
	white-space: nowrap;
}
.navsidesub a {
	background: #c8e6c8;
	padding: 4px 4px 6px 4px;
}
.navsidesub a:hover {
	
}
.panel_on {
	font-size: 11px;
	text-align: center;
	white-space: nowrap;
	background: #004717;
	border: #004717 1px solid;
	padding: 0 8px 2px 8px;
}
.panel_off {
	font-size: 11px;
	text-align: center;
	white-space: nowrap;
	background: #c8e6c8;
	border: #004717 1px solid;
	padding: 0 8px 2px 8px;
}
ul {
	font-size: 14px;
}
ul ul {
	font-size: 12px;
	line-height: 20px;
}
.steps {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	padding: 4px;
}
.pagenav {
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	border: #fff 1px solid;
	width: 20px; 
	line-height: 18px;
}
.pagenav a {
	color: #004717;
	font-weight: normal;
	text-decoration: none;
	background: #004717;
	width: 20px; 
	display: block;
}
.pagenav a:hover {
	color: #fff;
	font-weight: bold;
	background: #004717;
}
.quote {
	font-size: 10px;
	padding: 4px;
	background: #c8e6c8;
	border-bottom: #004717 1px dotted;
	border-left: #004717 3px solid;
	margin-left: 40px;
}
.album {
	padding: 8px;
	background: #c8e6c8;
	border: #004717 1px solid;
}
.tooltip {
	color: #006633;
	font-size: 11px;
	background: #c8e6c8;
	padding: 5px;
}
.tooltip img {
	border: #004717 1px solid;
	margin: 5px;
}
.note {
	background: #ffc;
	border: #004717 1px solid;
	padding: 3px;
	margin: 2px;
	float: left;
}
.mess {
	font-size: 13px;
	padding: 4px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none; 
}
.mess img {
	border : 0;
}
.search {
	background: #ffd700;
}
code {
	font-family: "Segoe UI", Tahoma, sans-serif;
	background: #c8e6c8;
	border: #004717 1px solid;
	padding: 4px;
	display: block;
	width: 400px;
	max-height: 500px;
	overflow: auto;
}
.news {
	padding: 4px;
	margin: 4px;
}
.items {
	width: 100%;
}
.items th {
	color: #006633;
	text-align: left;
	padding: 0 5px;
}
.items td {
	font-size: 15px;
	vertical-align: top;
}
.item {
	background: #c8e6c8;
	border: #c8e6c8 1px solid;
	padding: 5px;
}
.hot {
	background-color: #ffd;
	border: #004717 1px solid;
}
.alt2 {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.spoil {}
.smallfont {
}
.spoil2 {
}
.smallfont2 {}
.svet5 {
	position: absolute;
	top 160px;
	left 40px;
}
.input-button1{
width: 100%;
font-size: 15px;
text-decoration: underline;
background-color: #ffffff;
border:0px solid #ccc;
color:#CD3700; 
margin:0 auto;
}
.input-button2{
width: 100%;
font-size: 15px;
text-decoration: underline;
background-color: #ffffff;
border:0px solid #ccc;
color:#CD3700; 
margin:0 auto;
}
.input-button3{
width: 100%;
font-size: 15px;
text-decoration: underline;
background-color: #ffffff;
border:0px solid #ccc;
color:#CD3700; 
margin:0 auto;
}
.input-button4{
width: 100%;
font-size: 15px;
text-decoration: underline;
background-color: #ffffff;
border:0px solid #ccc;
color:#CD3700; 
margin:0 auto;
}

