body{
	background: #ffffff url("../img/bg.jpg") repeat-x scroll 0 0;
	color:#333333;
	padding:0 0 15px 0;
}
.p0{
	padding-left: 0px;
	padding-right: 0px;
}
.item3 li{
	padding: 0 20px;
}
.item1{
	height:200px;
}
.top_icon {
    padding: 12px;
}
.top_icon a{margin:0 10px;}
.item_banner{
	margin: 35px 0 0 60px;
}
.item_banner .decor{
	left: 460px;
    position: absolute;
    top: -11px;
    z-index: 1;
}
.registr img {
    margin: 0 7px 0 0;
}
.right div {
    margin: 2px;
    padding: 5px;
}
.registr {
	float: right;
	margin: 14px 36px 0 0;
    color: #3d4e76;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
}

	.item2 .decor{
		position: relative;
		width:60px;
		float:left;
	}
	.item2 .decor img{
		left: -44px;
		position: relative;
		z-index: 3;
	}
	.search .gsc-input { line-height: initial !important;}
	.search .gsc-search-button{ box-sizing: unset !important;}

	
	.navig {
		height: 25px;
		padding: 0 0 0 110px;
		position: relative;
		z-index: 9;
	}
	.navig ul {
		list-style: outside none none;
		margin: 0;
		padding: 0;
	}
	.navig ul li {
		border: 0 solid red;
		color: white;
		float: left;
		font-family: Courier New;
		font-size: 18px;
		font-weight: bold;
		margin: 0 19px 0 0;
	}
	.nav > li > a{padding:0px !important;}
	.navig a {
		color: white;
		text-shadow: 2px 2px 2px #5d5d5d;
		text-decoration: none;
	}

.bord_ind {
    border-top: 1px dotted #333333;
    margin: 10px 0;
}
.r_colon .righ_bot h3{
	margin: 0px;
	font-size: 1.2em;
    font-weight: bold;
	background-color:#f6f6f6;
	padding:9px 9px 9px 15px;
	border-top-left-radius:12px;
}
.r_colon .item_header{
	background-color: #f6f6f6;
}
.r_colon .newsflash{
	border:1px white solid;
	padding: 0 8px;
}
#fixedBox{
	margin-left:25px;
}	


.item3 .b_link{
	border-bottom: 1px dashed #333333;
    border-top: 1px dashed #333333;
    height: 55px;
    margin: 0 0 10px;
}

.item3 ul{
	margin: 19px 0 0 0 ;
}
.item3 li{
	border: 0 solid red;
    float: left;
    font-family: Courier New;
    font-size: 13px;
    font-weight: bold;
    list-style: outside none none;
    margin: 0;
	}
.item3 li a{
	color: #3d4e76;
	text-decoration:underline;
}

.item4 .copir {
	width: 279px;
	margin: 0 0 0 25px;
}
.item4 .copir .copir_el {
    margin-right: 1em;
}
.item4 .u-section {
    display: inline-block;
    vertical-align: top;
}
.item4.u-section {
    display: inline-block;
    vertical-align: top;
}
.item4 .u_copir {
    list-style: outside none none;
    margin: 3px 0 0 ;
    padding: 0;
    width: 190px;
}
.item4 .u_copir li {
    margin: 0 0 7px;
	line-height: 12px;
}
.item4 .u_copir li span {
    font-size: 80%;
}
.item4 .counter {
    margin: 30px 0 0 70px;
    padding: 0;
}


@media screen and (max-device-width: 500px){
	.item_banner, .googlads1{
		display:none;
	}
	#fixedBox{
		margin:30px 0 0 0;
	}
	.p0{
	    padding-left: 15px;
	    padding-right: 15px;
		overflow: hidden;
	}
	.item3 li{
		padding: 0 5px;
	}
	.navig ul li a{
		font-size: 1.6em;
	}
	.navig {
		padding: 0 0 0 62px;
	}
}