
body {
    padding-top: 70px;
}

ul {
    padding-left: 5px;
    margin-bottom: 5px;
}

li.navbar-sub-header {
    margin-left: -4px;
    background: #74a5e2;
}

.navbar-custom {
    background-color: #6898d0;
    color: #ffffff;
    border-radius: 0;
}

.navbar-custom .navbar-nav > li > a {
    color: #fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color: transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open > a {
    text-decoration: none;
    background-color: #74a5e2;
}

.navbar-custom .navbar-brand {
    color: #dddddd;
}

.navbar-custom .navbar-toggle {
    background-color: #eeeeee;
}

.navbar-custom .icon-bar {
    background-color: #74a5e2;
}

/* for dropdowns only */
.navbar-custom .navbar-nav .dropdown-menu {
    background-color: #74a5e2;
}

.navbar-custom .navbar-nav .dropdown-menu > li > a {
    color: #fff;
}

.navbar-custom .navbar-nav .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .dropdown-menu > li > a:focus {
    color: #74a5e2;
}

.navbar-custom .navbar-nav > li > a.wmd_link {
    color: #a1ff9d;
    font-size: 0.95em;
}
.navbar-custom .navbar-nav > li > a.wmd_link sup {
    color: #ffdedf;
    font-size: 0.8em;
}
.navbar-custom .navbar-nav > li > a.wmd_link:hover {
    background: #65ff5d;
    color: #2a4028;
}
.navbar-custom .navbar-nav > li > a.wmd_link:hover sup {
    color: #6e2323;
}


.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.panel-small {
    margin: 4px;
}
.panel-small .panel-heading {
    padding: 4px;
    text-align: center;
}
.panel-small .panel-body {
    padding: 2px;
}


.panel-catm .panel-body {
    padding: 1px;
}

#cat_jobtime {
    background: #eaffeb;
    display: inline-block;
    padding: 4px;
    margin: 4px;
    border: #ccffd8 1px solid;
    border-left: 4px #ccffd8 solid;
}



#map {
    width: 100%; height: 100%; max-height: 320px; padding: 0; margin: 0px;
}

.sub-link-fw > a {
    display: block;
}



.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

.social-fb:hover {
    color: #3B5998;
}
.social-tw:hover {
    color: #4099FF;
}
.social-gp:hover {
    color: #d34836;
}
.social-em:hover {
    color: #f39c12;
}
.social-vk:hover {
    color: #587ea3;
}
.social-ok:hover {
    color: #de9924;
}
.social-inst:hover {
    color: #ce4bcb;
}
.social-def:hover {
    color: #4fbb49;
}



